@charset "utf-8";

@import "radio.variables";

.elm-radio {
	@extend %db-bg-neutral-transparent-full-ia;

	appearance: none;

	aspect-ratio: 1;

	border: 1px solid $radio---border;
	border-radius: to-em($pxValue: 16);

	// * the basic, unchecked style
	display: inline-block;

	font-size: to-rem($pxValue: 16);
	height: to-rem($pxValue: 24);

	transition: border-width 0.5s ease;

	&[type="radio"] {
		vertical-align: top;
	}

	&:checked {
		border-width: to-rem($pxValue: 7);
	}
	// * the invalid style using the :invalid pseudo class (and [aria-invalid="true"] equivalent, see #136 and #141)
	// TODO: We need to set the correct styling / color here after alignment
	&:invalid,
	&[aria-invalid="true"] {
		border-color: #c13e34;
	}
	// * TODO: never forget focus styling
	// &:focus::after {
	// content: "\0020\2190";
	// font-size: to-em($pxValue: 24);
	// line-height: 1;
	// vertical-align: -(to-em($pxValue: 2));
	// }

	& + label {
		margin-left: $db-spacing-fixed-normal-xs;
	}

	&:disabled {
		&,
		& + label {
			opacity: 0.25;
		}
	}

	&:required {
		& + label {
			&::after {
				content: "*";
			}
		}
	}

	// Sizes
	&%size-Small {
		height: to-rem($pxValue: 20);

		vertical-align: sub;

		&:checked {
			border-width: to-rem($pxValue: 6);
		}

		& + label {
			font-size: to-rem($pxValue: 14);
		}
	}

	&[data-size="small"] {
		@extend %size-Small;
	}

	// Adopted by https://www.heise.de/developer/artikel/a11y-Reduced-Motion-4356171.html
	@media (prefers-reduced-motion: reduce) {
		transition-duration: 0.01s !important;
	}
}
