@charset "utf-8";

@import "radio.variables";

.elm-radio {
	appearance: none;

	// * the basic, unchecked style
	display: inline-block;

	width: to-em(20);
	height: to-em(20);
	&[type="radio"] {
		vertical-align: sub;
	}
	border-radius: to-em(16);
	border: to-rem(1) solid $radio---border;

	background-color: rgba(255, 255, 255, 0.1);

	transition: border-width 0.5s ease;
	// Adopted by https://www.heise.de/developer/artikel/a11y-Reduced-Motion-4356171.html
	@media (prefers-reduced-motion: reduce) {
		transition-duration: 0.01s !important;
	}

	font-size: to-rem(16);

	&:hover {
		background-color: rgba(40, 45, 55, 0.14);
	}
	&:active {
		background-color: rgba(40, 45, 55, 0.3);
	}

	&:checked,
	&:invalid,
	&[aria-invalid="true"] {
		border-width: to-em(6);
	}
	// * the invalid style using the :invalid pseudo class (and [aria-invalid="true"] equivalent, see #136 and #141)
	&:invalid,
	&[aria-invalid="true"] {
		border-color: #c13e34;
	}
	// * TODO: never forget focus styling
	// &:focus::after {
	// content: "\0020\2190";
	// font-size: to-em(24);
	// line-height: 1;
	// vertical-align: -(to-em(2));
	// }

	& + label {
		margin-left: to-em(4);
	}

	&:disabled {
		&,
		& + label {
			opacity: 0.5;
		}
	}
}
