@charset "utf-8";

@import "radio.variables";

.elm-radio {
	appearance: none;

	// * the basic, unchecked style
	display: inline-block;

	width: to-em($pxValue: 20);
	height: to-em($pxValue: 20);
	&[type="radio"] {
		vertical-align: middle;
	}
	border-radius: to-em($pxValue: 16);
	border: to-rem($pxValue: 1) solid $radio---border;

	background-color: rgba(255, 255, 255, 0.1);

	transition: border-width 0.5s ease;
	// Adopted by https://www.heise.de/developer/artikel/a11y-Reduced-Motion-4356171.html
	@media (prefers-reduced-motion: reduce) {
		transition-duration: 0.01s !important;
	}

	font-size: to-rem($pxValue: 16);

	&:hover {
		background-color: rgba(40, 45, 55, 0.14);
	}
	&:active {
		background-color: rgba(40, 45, 55, 0.3);
	}

	&:checked,
	&:invalid,
	&[aria-invalid="true"] {
		border-width: to-em($pxValue: 6);
	}
	// * the invalid style using the :invalid pseudo class (and [aria-invalid="true"] equivalent, see #136 and #141)
	&:invalid,
	&[aria-invalid="true"] {
		border-color: #c13e34;
	}
	// * TODO: never forget focus styling
	// &:focus::after {
	// content: "\0020\2190";
	// font-size: to-em($pxValue: 24);
	// line-height: 1;
	// vertical-align: -(to-em($pxValue: 2));
	// }

	& + label {
		margin-left: $db-spacing-xs;

		font-size: to-rem($pxValue: 12);
	}

	&:disabled {
		&,
		& + label {
			opacity: 0.5;
		}
	}

	// Sizes
	&%size-Small {
		width: to-em($pxValue: 16);
		height: to-em($pxValue: 16);

		border-width: to-em($pxValue: 4);
	}
	&%size-Large {
		width: to-em($pxValue: 24);
		height: to-em($pxValue: 24);

		& + label {
			font-size: to-rem($pxValue: 16);
		}

		border-width: to-em($pxValue: 7);

		vertical-align: bottom;
	}

	&[data-size="small"] {
		@extend %size-Small;
	}
	&[data-size="large"] {
		@extend %size-Large;
	}
}
