<svg
	class="elm-loadingindicator"
	viewBox="0 0 44 44"
	aria-labelledby="elm-loadingindicator-{{ id }}" role="img"
	{{#if size }} data-size="{{ size }}"{{/if }}
>
	<title id="elm-loadingindicator-{{ id }}">{{aria-description}}</title>
	<circle
		class="elm-loadingindicator__circle"
		cx="22"
		cy="22"
		r="20"
		fill="none"
		stroke-miterlimit="10"
	></circle>
</svg>
