@use "@db-ui/base/build/scss/variables" as *;
@use "@db-ui/base/build/scss/helpers/functions" as *;
@import "../../../css/db-ui-core.variables";

$cmp-table-cell-height-36: to-rem(
	$pxValue: 4
) !default; // 36px cell height
$table-cell-height52-paddingVertical: to-rem(
	$pxValue: 14
) !default; // 52px cell height
$table-cell-height68-paddingVertical: to-rem(
	$pxValue: 22
) !default; // 68px cell height

// TODO: We need to replace this by its correct color variable
$table-line--borderColor: #d7dce1 !default;

$table-row-zebra-color: rgba($db-colors-secondary-enabled, 0.07) !default;

$table-densitySmall--padding: $db-spacing-fixed-regular-xs !default;
$table-densityRegular--padding: $db-spacing-fixed-regular-xs !default;
$table-densityLarge--padding: $db-spacing-fixed-regular-m !default;
