@use "@db-ui/base/build/scss/variables" as *;
@use "@db-ui/base/build/scss/icon/icons.helpers" as *;
@use "@db-ui/base/build/scss/icon/icons.variables" as *;

$breadcrumb-divider--icon: "chevron-right" !default;
$breadcrumb-link-hover-backgroundColor: rgba(
	$db-colors-secondary-enabled,
	0.03
) !default;
$breadcrumb-link-active-backgroundColor: rgba(
	$db-colors-secondary-enabled,
	0.06
) !default;
