@use "../../00-base/icons/icons.helpers";
@use "../../00-base/icons/icons.variables" as icons2;
@use "../../00-base/colors/colors.variables";
@use "@db-ui/base/build/scss/variables";

$breadcrumb-divider--icon: "chevron-right" !default;
$breadcrumb-link-hover-backgroundColor: rgba(
	variables.$db-color-cool-gray-700,
	0.03
) !default;
$breadcrumb-link-active-backgroundColor: rgba(
	variables.$db-color-cool-gray-700,
	0.06
) !default;
