@import "../../00-base/icons/icons.helpers";
@import "../../00-base/icons/icons.variables";
@import "../../00-base/colors/colors.variables";

$breadcrumb-divider--icon: "chevron-right" !default;
$breadcrumb-link-hover-backgroundColor: rgba(
	$db-colors-secondary-enabled,
	0.03
) !default;
$breadcrumb-link-active-backgroundColor: rgba(
	$db-colors-secondary-enabled,
	0.06
) !default;
