@use "../../../css/partials.meta";
@use "breadcrumb.variables";
@use "@db-ui/base/build/scss/variables";
@use "../../../css/helpers/functions";
@use "../../00-base/icons/icons.helpers";

.cmp-breadcrumb {
	color: variables.$db-color-cool-gray-500;
	font-size: functions.to-rem($pxValue: 12);

	a {
		color: inherit;
	}

	ol {
		display: flex;

		& > li {
			align-items: center;
			display: inline-flex;
			margin-right: functions.to-rem($pxValue: 3);

			[aria-current="location"],
			[aria-current="page"] {
				color: variables.$db-color-cool-gray-700;
			}

			.elm-link {
				border-radius: functions.to-rem($pxValue: 4);

				padding: functions.to-rem($pxValue: 1) functions.to-rem($pxValue: 3)
					functions.to-rem($pxValue: 1) functions.to-rem($pxValue: 4);
				text-decoration: none;

				&:hover {
					background-color: breadcrumb.$breadcrumb-link-hover-backgroundColor;
				}

				&:active {
					background-color: breadcrumb.$breadcrumb-link-active-backgroundColor;
				}
			}

			&:first-child {
				@include icons.icon(icons.glyph(home), $size: 20, $partial: partials.$partial);

				&::before {
					--icon-margin-after: #{functions.to-rem($pxValue: 3)};
				}
			}

			&:not(:first-child) {
				@include icons.icon(
					icons.glyph(breadcrumb.$breadcrumb-divider--icon),
					$size: 20,
					$partial: partials.$partial
				);

				&::before {
					--icon-font-size: #{functions.to-rem($pxValue: 14)};
					--icon-margin-after: 0;
					color: variables.$db-color-cool-gray-400;
					margin-left: -#{functions.to-rem($pxValue: 2)};
				}
			}
		}
	}
}
