/* stylelint-disable scss/at-import-partial-extension */
@import "../../../css/partials.meta";
@import "breadcrumb.variables";
/* stylelint-enable scss/at-import-partial-extension */

.cmp-breadcrumb {
	color: $db-color-cool-gray-500;
	font-size: to-rem($pxValue: 12);

	a {
		color: inherit;
	}

	ol {
		display: flex;

		& > * {
			align-items: center;
			display: inline-flex;
			margin-right: to-rem($pxValue: 3);

			[aria-current="location"],
			[aria-current="page"] {
				font-size: to-rem($pxValue: 14);
				color: $db-color-cool-gray-700;
			}

			.elm-link {
				text-decoration: none;

				padding: to-rem($pxValue: 1) to-rem($pxValue: 3)
					to-rem($pxValue: 1) to-rem($pxValue: 4);

				border-radius: to-rem($pxValue: 4);

				&:hover {
					background-color: $breadcrumb-link-hover-backgroundColor;
				}
				&:active {
					background-color: $breadcrumb-link-active-backgroundColor;
				}
			}

			&:first-child {
				@include icon(glyph(home), $size: 20, $partial: $partial);
				&::before {
					--icon-margin-after: #{to-rem($pxValue: 3)};
				}
			}

			&:not(:first-child) {
				@include icon(
					glyph($breadcrumb-divider--icon),
					$size: 20,
					$partial: $partial
				);

				&::before {
					--icon-font-size: #{to-rem($pxValue: 14)};
					--icon-margin-after: 0;
					margin-left: -#{to-rem($pxValue: 2)};
					color: $db-color-cool-gray-400;
				}
			}
		}
	}
}
