<!-- [html-validate-disable-next element-permitted-content, element-permitted-parent -- we're only providing a partial here] -->
<div class="db-card" data-variant="{{ variant }}">
	<strong>{{ title }}</strong>
	{{#if text }}<p>{{{ text }}}</p>{{/if }}
</div>
