@use "@db-ui/base/build/scss/init" as *;
@use "@db-ui/base/build/scss/variables" as *;
@use "@db-ui/base/build/scss/helpers/functions" as *;
@use "../../00-base/color-variants" as *;

.db-card {
	@extend %focus-placeholder;
	@extend %color-variants;

	background-color: var(
		--db-current-background-color,
		$db-colors-neutral-bg-0-enabled
	);

	border-radius: 8px;
	box-shadow: $db-elevation-4;
	padding: $db-spacing-fixed-md;

	& > a {
		text-decoration: none;
	}

	&[data-size="w-full"],
	&[data-size="width-full"] {
		width: 100vw;
		border-radius: 0;
	}

	&[data-variant="ia"] {
		&:hover {
			cursor: pointer;
			box-shadow: $db-elevation-8;
		}

		&:active {
			box-shadow: $db-elevation-2;
		}
	}
}
