<p>outer container db-bg-neutral-2</p>
<div class="cmp-card db-bg-neutral-2">
	<ul class="cmp-cards">
		<li>
			<div class="cmp-card">
				<strong>db-bg-neutral-2</strong>
				<br>
				<a href="#">Test</a>
			</div>
		</li>
		<li>
			<div class="cmp-card">
				<strong>db-bg-neutral-2</strong>
				<br>
				<a href="#">Test2</a>
			</div>
		</li>
		<li>
			<div class="cmp-card">
				<strong>db-bg-neutral-2</strong>
				<br>
				<a href="#">Test3</a>
			</div>
		</li>
	</ul>
</div>

<p>card with nested cards db-bg-information</p>
<div class="cmp-card">
	<ul class="cmp-cards">
		<li>
			<div class="cmp-card db-bg-information">
				<strong>db-bg-information</strong>
				<br>
				<a href="#">Test</a>
			</div>
		</li>
		<li>
			<div class="cmp-card db-bg-information">
				<strong>db-bg-information</strong>
				<br>
				<a href="#">Test2</a>
			</div>
		</li>
		<li>
			<div class="cmp-card db-bg-information">
				<strong>db-bg-information</strong>
				<br>
				<a href="#">Test3</a>
			</div>
		</li>
	</ul>
</div>

<p>cards with color-variant=success-light</p>

	<ul class="cmp-cards">
		<li>
			<div class="cmp-card" color-variant="success-light">
				<strong>db-bg-success-light</strong>
				<br>
				<a href="#">Test</a>
			</div>
		</li>
		<li>
			<div class="cmp-card" color-variant="success-light">
				<strong>db-bg-success-light</strong>
				<br>
				<a href="#">Test2</a>
			</div>
		</li>
		<li>
			<div class="cmp-card" color-variant="success-light">
				<strong>db-bg-success-light</strong>
				<br>
				<a href="#">Test3</a>
			</div>
		</li>
	</ul>

<p>cards with color-variant=success-light and interaction</p>

<ul class="cmp-cards">
	<li>
		<div class="cmp-card" color-variant="success-light" data-variant="ia">
			<strong>db-bg-success-light</strong>
			<br>
			<span>Test</span>
		</div>
	</li>
	<li>
		<div class="cmp-card" color-variant="success-light" data-variant="ia">
			<strong>db-bg-success-light</strong>
			<br>
			<span>Test2</span>
		</div>
	</li>
	<li>
		<div class="cmp-card" color-variant="success-light" data-variant="ia">
			<strong>db-bg-success-light</strong>
			<br>
			<span>Test3</span>
		</div>
	</li>
</ul>
