@charset "utf-8";

@use "@db-ui/base/build/scss/variables" as *;
@use "@db-ui/base/build/scss/helpers/functions" as *;
@import "textarea.variables";

.elm-textarea {
	// TODO adopt from input element and move base styles to ../_form-elements.scss
	//@extend %form-element;

	// Semitransparent is the default style
	// @at-root :where(#{&}) {
	// 	@extend %form-element-semitransparent;
	// }

	display: block;

	font-size: to-rem($pxValue: 16);
	height: to-rem($pxValue: 44);
	line-height: to-rem($pxValue: 24);
	max-width: 100%;

	padding: to-rem($pxValue: 6) to-rem($pxValue: 10);

	resize: vertical;

	width: 100%;

	// * to be evaluated
	// display: inline-flex;
	// align-items: center;
	// justify-content: flex-start;

	&:not([rows]) {
		max-height: to-rem($pxValue: 600);
		min-height: to-rem($pxValue: 120);
	}

	&[rows] {
		height: initial;
	}

	// TODO: Evaluate whether those could get moved to ../_form-elements.scss
	&:focus,
	&:hover {
		&:not(:disabled) {
			--formElement---borderColor: #{$db-colors-secondary-enabled};
		}
	}

	// TODO: Evaluate whether those could get moved to ../_form-elements.scss
	&:disabled,
	fieldset:disabled & {
		&,
		& + .elm-label {
			// Decided against cursor: not-allowed, compare to e.g. https://phabricator.wikimedia.org/T121960
			opacity: 0.4;
		}
	}

	// TODO: Evaluate whether those could get moved to ../_form-elements.scss
	// Validation
	&:required,
	&:focus {
		&:valid:not([aria-invalid]) {
			--formElement---borderColor: #{$db-colors-success-enabled};
		}

		&:invalid {
			&:not(:placeholder-shown) {
				--formElement---borderColor: #{$db-colors-primary-enabled};

				& ~ .description {
					color: $db-colors-primary-enabled;
				}
			}
		}
	}

	&[aria-invalid="true"] {
		--formElement---borderColor: #{$db-colors-primary-enabled};
	}

	// TODO: Evaluate whether those could get moved to ../_form-elements.scss
	& + output {
		// amount of signs output
		float: right;

		margin-top: to-rem($pxValue: 12);

		// Description styles
		// TODO: This probably still needs to get further changed to a general "hint" pattern or similar
		&,
		& + .description {
			color: $db-colors-secondary-enabled;
			font-size: to-rem($pxValue: 14);
			padding: to-rem($pxValue: 6) to-rem($pxValue: 10);
		}
	}

	// ### Style variations
	// TODO adopt from input and move base styles to form-element
}
