@use "@db-ui/base/build/scss/variables" as *;

body.styleguide {
	display: initial;
}

.sg-wrapper-dark-background {
	background-color: $db-colors-secondary-enabled;

	margin: -1rem -0.5rem;
	padding: 1rem 0.5rem;
}

dl.variations {
	dd {
		&[data-tonality="regular"],
		&[data-tonality="functional"] {
			& + dt {
				visibility: hidden;
			}
		}
	}
}
