@use "@db-ui/base/build/scss/variables" as *;

body.styleguide {
	display: initial;
}

// TODO: We most likely could align all of the implementation on this in the future and remove the ones from each pattern
// [id$="-dark-background"],
/* stylelint-disable selector-max-id */
#elements-button-secondary-inverted {
	.pl-js-pattern-example {
		/* stylelint-enable selector-max-id */
		background-color: $db-colors-secondary-enabled;

		margin: -1rem -0.5rem;
		padding: 1rem 0.5rem;
	}
}
