{{> elements-image src='../../images/db_logo.svg' alt='Deutsche Bahn Logo' styleModifier='is-logo' width='58' height='40' }}

<p>Diese Seite ist nur aus dem internen Bahn Netz verfügbar. Bitte verbinden Sie sich zunächst mit dem VPN.</p>
<p>This page is only available internally. Please connect to our VPN first.</p>
