{{> areas-header }}
<main class="rea-main">

	{{> elements-headline type='1' text='Dies ist eine Headline' }}
	<p>{{ excerpt.long }}</p>

	<div class="rea-grid">
		<!--
		// jscpd:ignore-start
		-->
		<div>
			{{> elements-headline type='2' text='Dies ist eine Headline' }}

			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, {{> elements-link href="#" value="sed diam nonumy eirmod" }} tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est <strong>Lorem ipsum dolor sit amet.</strong> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, {{> elements-link href="#" value="sed diam nonumy eirmod" }} tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est <strong>Lorem ipsum dolor sit amet.</strong></p>

			{{> elements-headline type='3' text='Dies ist eine Sub-Headline' }}

			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, {{> elements-link href="#" value="sed diam nonumy eirmod" }} tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est <strong>Lorem ipsum dolor sit amet.</strong> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, {{> elements-link href="#" value="sed diam nonumy eirmod" }} tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est <strong>Lorem ipsum dolor sit amet.</strong></p>
		</div>
		<div>
			{{> elements-headline type='2' text='Dies ist eine Headline' }}

			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, {{> elements-link href="#" value="sed diam nonumy eirmod" }} tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est <strong>Lorem ipsum dolor sit amet.</strong> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, {{> elements-link href="#" value="sed diam nonumy eirmod" }} tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est <strong>Lorem ipsum dolor sit amet.</strong></p>

			{{> elements-headline type='3' text='Dies ist eine Sub-Headline' }}

			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, {{> elements-link href="#" value="sed diam nonumy eirmod" }} tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est <strong>Lorem ipsum dolor sit amet.</strong> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, {{> elements-link href="#" value="sed diam nonumy eirmod" }} tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est <strong>Lorem ipsum dolor sit amet.</strong></p>
		</div>
		<div>
			{{> elements-headline type='2' text='Dies ist eine Headline' }}

			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, {{> elements-link href="#" value="sed diam nonumy eirmod" }} tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est <strong>Lorem ipsum dolor sit amet.</strong> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, {{> elements-link href="#" value="sed diam nonumy eirmod" }} tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est <strong>Lorem ipsum dolor sit amet.</strong></p>

			{{> elements-headline type='3' text='Dies ist eine Sub-Headline' }}

			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, {{> elements-link href="#" value="sed diam nonumy eirmod" }} tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est <strong>Lorem ipsum dolor sit amet.</strong> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, {{> elements-link href="#" value="sed diam nonumy eirmod" }} tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est <strong>Lorem ipsum dolor sit amet.</strong></p>
		</div>
		<!--
		// jscpd:ignore-end
		-->
	</div>
</main>
{{> areas-footer }}
