<details class="cmp-accordion"
	{{#if emphasis}} data-emphasis="{{ emphasis }}"{{/if }}
	{{#if size}} data-size="{{ size }}"{{/if }}>
	<summary>{{ summary }}</summary>
	<p>{{ details }}</p>
</details>
