@import "../../../css/partials.meta";
@import "header.variables";
@import "../../../css/helpers/functions";

.rea-header {
	background-color: $header---backgroundColor;
	box-shadow: $header---boxShadow;
	display: flex;
	justify-content: space-between;
	margin-bottom: $header---marginBottom;

	// TODO: all of the header declarations need to get realigned and most likely need to get set up via flexbox for simplification
	min-height: to-rem(79);
	padding-left: to-rem(16);
	padding-right: to-rem(16);

	.elm-link {
		display: inline-block;
	}
	@media screen and (max-width: 1023px) {
		min-height: to-rem(64);
		border-bottom: $header---borderBottom;
	}

	@include clearfix($partial: $partial);
}
