{{! TODO: This would need to get enhanced later on by the additional possible attributes }}
<span class="elm-tag"
	{{#if size }} data-size="{{ size }}"{{/if }}
	{{#if variant }} data-variant="{{ variant }}"{{/if }}
	{{#if icon }} data-icon="{{ icon }}"{{/if }}
>{{ label }}</span>
