<p>
	{{> elements-button variant='secondary-outline' value='Secondary Outline' icon='add' }}
	{{> elements-button variant='secondary-outline' value='Secondary Outline (disabled)' disabled='true' icon='add' }}
</p>
<p>
	{{> elements-button variant='secondary-outline' value='Secondary Outline with right icon' icon-after='add'}}
	{{> elements-button variant='secondary-outline' value='Secondary Outline with right icon (disabled)' disabled='true' icon-after='add' }}
</p>
<p>
	{{> elements-button variant='secondary-outline' value='Secondary Outline without left icon' }}
	{{> elements-button variant='secondary-outline' value='Secondary Outline without left icon (disabled)' disabled='true' }}
</p>
<p>
	{{> elements-button variant='secondary-outline' title='Check' value='Secondary Outline displaying only the icon' icon='done' styleModifier='is-icon-text-replace' }}
	{{> elements-button variant='secondary-outline' title='Check' value='Secondary Outline displaying only the icon' disabled='true' icon='done' styleModifier='is-icon-text-replace' }}
</p>
