<div class="cmp-brand">
	<a href="#" title="Home" rel="home">
		{{> elements-image src='../../images/db_logo.svg' alt='Deutsche Bahn Logo' styleModifier='is-logo' elementtiming='logo' }}
	</a>
	{{#if sitename }}<span class="is-site-name">{{ sitename }}</span>{{/if }}
</div>
