@use "../../../css/partials.meta";
@use "link-list.variables";
@use "@db-ui/base/build/scss/variables";
@use "../../../css/helpers/functions";
@use "../../00-base/icons/icons.helpers";

.cmp-link-list {
	list-style: none;

	padding-left: 0;

	li {
		.elm-link {
			font-weight: 700;
			text-decoration: none;

			& {
				@include icons.icon(icons.glyph(chevron-right), $partial: partials.$partial);
			}

			&:hover,
			&:active {
				text-decoration: underline;
			}

			&::before {
				color: variables.$db-color-red;
				display: inline-block;
				font-size: functions.to-rem($pxValue: 12);
				font-weight: 700;
				margin-top: -#{functions.to-rem($pxValue: 2)};
				vertical-align: middle;
			}
		}
	}
}
