<section aria-live="polite" data-variant="{{ variant }}">
	{{#each notifications}}
		{{#if_eq live 'polite' }}
			{{> components-notification type=type role=role icon-before=icon-before icon-after=icon-after }}
		{{/if_eq }}
	{{/each }}
</section>

<section aria-live="assertive" data-variant="{{ variant }}">
	{{#each notifications}}
		{{#if_eq live 'assertive' }}
			{{> components-notification type=type role=role icon-before=icon-before icon-after=icon-after }}
		{{/if_eq }}
	{{/each }}
</section>
