{{! TODO: Weitere Komponenten korrekt inkludieren }}
<form class="cmp-sitesearch" action="#" method="post" role="search">
	{{> elements-input type='search' placeholder='Suchen …' id='input00' label='Suche' }}
	{{> elements-button buttontype='submit' value='Suchen' }}
</form>
