<p>
	{{> elements-button variant='secondary-solid' value='Secondary' icon='add' }}
	{{> elements-button variant='secondary-solid' value='Secondary (disabled)' disabled='true' icon='add' }}
</p>
<p>
	{{> elements-button variant='secondary-solid' value='Secondary Solid with right icon' icon-after='add'}}
	{{> elements-button variant='secondary-solid' value='Secondary Solid with right icon (disabled)' disabled='true' icon-after='add' }}
</p>
<p>
	{{> elements-button variant='secondary-solid' value='Secondary Solid without icon' }}
	{{> elements-button variant='secondary-solid' value='Secondary Solid without icon (disabled)' disabled='true' }}
</p>
<p>
	{{> elements-button variant='secondary-solid' title='Check' value='Secondary Solid displaying only the icon' icon='done' styleModifier='is-icon-text-replace' }}
	{{> elements-button variant='secondary-solid' title='Check' value='Secondary Solid displaying only the icon' disabled='true' icon='done' styleModifier='is-icon-text-replace' }}
</p>
