@use "../../../css/db-ui-core.variables";
@use "@db-ui/base/build/scss/variables";

$footer---borderTop: #{to-rem(
		$pxValue: 6
	)} solid variables.$db-color-cool-gray-200 !default;

$footer---boxShadow: db-ui-core.$box-shadow-01, db-ui-core.$box-shadow-02 !default;

$footer---marginTop: to-rem(
	$pxValue: 16
) !default;

$footer---backgroundColor: #fdfdfd !default; // TODO: This would need to get replaced by the correct (semantic) color
