@charset "utf-8";

@import "../../../css/partials.meta";
@import "../../../css/helpers/functions";
@import "footer.variables";

.rea-footer {
	box-shadow: $footer---boxShadow;
	margin-top: $footer---marginTop;
	padding: #{to-rem($pxValue: 21)} #{to-rem($pxValue: 16)};

	color: $db-color-cool-gray-500;

	background-color: $footer---backgroundColor;

	@media screen and (max-width: 767px) {
		text-align: center;
	}

	&.has-border {
		border-top: $footer---borderTop;
	}

	@include clearfix($partial: $partial);
}
