@charset "utf-8";

@use "../../../css/partials.meta";
@use "../../../css/helpers/functions";
@use "footer.variables";
@use "@db-ui/base/build/scss/variables";

.rea-footer {
	background-color: footer.$footer---backgroundColor;
	box-shadow: footer.$footer---boxShadow;

	color: variables.$db-color-cool-gray-500;
	margin-top: footer.$footer---marginTop;
	padding: #{functions.to-rem($pxValue: 21)} #{functions.to-rem($pxValue: 16)};

	& {
		@include functions.clearfix($partial: partials.$partial);
	}

	&.has-border {
		border-top: footer.$footer---borderTop;
	}

	@media screen and (max-width: 767px) {
		text-align: center;
	}
}
