{{#if opener }}
{{> elements-link anchorlink=id value='Dialog öffnen' }}
{{/if }}
<dialog id="{{ id }}" class="cmp-dialog">
	<header>
		<!-- [html-validate-disable-next heading-level] -->
		{{> elements-headline type='2' text='Modal' id='' }}
		{{> elements-link styleModifier='is-close' href='#' value='Close' title='Close the dialog' }}
	</header>
	<main>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
	</main>
	<footer{{#if footerAlignment}} data-alignment="{{ footerAlignment }}"{{/if }}>
		{{> elements-button variant="secondary" value='Secondary' }}
		{{> elements-button variant="brand-primary" value='Primary' }}
	</footer>
</dialog>
