/* stylelint-disable scss/at-import-partial-extension */
@import "../../00-base/icons/icons.variables";
@import "../../00-base/colors/colors.variables";
/* stylelint-enable scss/at-import-partial-extension */
@import "../../00-base/icons/icons.helpers";

$link--disabled-opacity: 0.4 !default;
$link-reaMain--color: $db-color-cyan-600 !default;
