@use "@db-ui/base/build/scss/variables" as *;
@use "@db-ui/base/build/scss/helpers/functions" as *;
@use "@db-ui/base/build/scss/icon/icons.helpers" as *;

@import "../../../css/partials.meta";
@import "link.variables";

.elm-link {
	// TODO: replace with color when it becomes available via core
	color: #282d37;
	display: inline-block;
	border-radius: to-rem($pxValue: 6);

	// Link underline
	text-underline-offset: to-rem($pxValue: 1);
	text-underline-position: under;
	text-decoration-thickness: to-rem($pxValue: 1);
	@supports (text-underline-offset: 3px) {
		text-underline-position: auto;
	}

	// "disabled" links
	&[aria-disabled="true"] {
		opacity: $link--disabled-opacity;

		pointer-events: none;

		&::before {
			color: initial;
		}
	}
	&[data-variant="internal"] {
		@include icon(glyph(link), 20, "outline", "after");
	}
	&[data-variant="external"] {
		@include icon(glyph(link-external), 20, "outline", "after");
	}

	&[data-variant="internal"],
	&[data-variant="external"] {
		&::after {
			margin-top: -3px;
			--icon-margin-before: #{to-rem($pxValue: 4)};
		}
		&:focus-visible {
			outline-offset: -1px;
			padding: 0 2px 0 2px;
		}
	}
	// Sizes
	&%size-Small {
		&:not(.is-icon-text-replace) {
			font-size: to-em($pxValue: 12);
		}
	}

	&[data-size="small"] {
		// TODO: replace with color when it becomes available via core
		color: #42464f;
		@extend %size-Small;
		&::after {
			--icon-font-size: #{to-rem($pxValue: 16)};
		}
		&[rel],
		&[data-icon],
		&[data-icon-before] {
			@include iconMeta(20);
			// TODO: remove when icons are availabe in the correct size
			font-size: 16px;
		}
	}
}
