@use "../../../css/partials.meta";
@use "link.variables";
@use "../../../css/helpers/functions";
@use "../../00-base/icons/icons.helpers";

.elm-link {
	border-radius: functions.to-rem($pxValue: 4);
	display: inline-block;

	// Link underline
	text-underline-offset: functions.to-rem($pxValue: 3);
	text-underline-position: under;
	@supports (text-underline-offset: 3px) {
		text-underline-position: auto;
	}

	&:active {
		color: initial;
	}

	// "disabled" links
	&[aria-disabled="true"] {
		opacity: link.$link--disabled-opacity;

		pointer-events: none;

		&::before {
			color: initial;
		}
	}

	// Sizes
	&%size-Small {
		&:not(.is-icon-text-replace) {
			font-size: functions.to-rem($pxValue: 14);
		}

		&[rel],
		&[data-icon],
		&[data-icon-before] {
			@include icons.iconMeta(20);
		}

		&[data-icon-after]::after {
			@include icons.iconMeta($size: 20, $position: "after");
		}
	}

	&[data-size="small"] {
		@extend %size-Small;
	}

	// Define the available icons
	&[rel="configuration"] {
		@include icons.icon(icons.glyph(settings), 24, "outline", $partial: partials.$partial);
	}

	&[rel="messages"] {
		@include icons.icon(icons.glyph(chat), 24, "outline", $partial: partials.$partial);
	}

	&[rel="account"] {
		@include icons.icon(icons.glyph(account), 24, "outline", $partial: partials.$partial);
	}

	&[rel="configuration"],
	&[rel="messages"],
	&[rel="account"] {
		&::before {
			// preventing an underlined icon on click
			display: inline-block;
		}
	}
}
