<!--
// jscpd:ignore-start
-->
<div class="rea-grid">
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column</p>
	</div>
</div>

<div class="rea-grid">
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Second column</p>
	</div>
</div>

<div class="rea-grid">
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Second column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Third column</p>
	</div>
</div>

<div class="rea-grid">
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Second column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Third column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Fourth column</p>
	</div>
</div>

<div class="rea-grid">
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Second column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Third column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Fourth column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Fifth column</p>
	</div>
</div>

<div class="rea-grid">
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Second column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Third column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Fourth column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Fifth column</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Sixth column</p>
	</div>
</div>

<hr>

<div class="rea-grid">
	<div data-type="four-fifths">
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column / SCSS Placeholder: %is-four-fifths</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
</div>

<div class="rea-grid">
	<div data-type="three-quarters">
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column / SCSS Placeholder: %is-three-quarters</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
</div>

<div class="rea-grid">
	<div data-type="two-thirds">
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column / SCSS Placeholder: %is-two-thirds</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
</div>

<div class="rea-grid">
	<div data-type="three-fifths">
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column / SCSS Placeholder: %is-three-fifths</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
</div>

<div class="rea-grid">
	<div data-type="half">
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column / SCSS Placeholder: %is-half</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
</div>

<div class="rea-grid">
	<div data-type="two-fifths">
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column / SCSS Placeholder: %is-two-fifths</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
</div>

<div class="rea-grid">
	<div data-type="one-third">
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column / SCSS Placeholder: %is-one-third</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
</div>

<div class="rea-grid">
	<div data-type="one-quarter">
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column / SCSS Placeholder: %is-one-quarter</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
</div>

<div class="rea-grid">
	<div data-type="one-fifth">
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">First column / SCSS Placeholder: %is-one-fifth</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
	<div>
		<p class="DO-NOT-COPY-THIS-CLASS-example-abstract">Auto</p>
	</div>
</div>
<!--
// jscpd:ignore-end
-->
