
<p>
	{{> elements-button variant='tertiary-plain' value='Tertiary Plain' }}
	{{> elements-button variant='tertiary-plain' value='Tertiary Plain' disabled='true' }}
</p>
<p>
	{{> elements-button variant='tertiary-plain' value='Tertiary Plain with right icon' icon-after='add'}}
	{{> elements-button variant='tertiary-plain' value='Tertiary Plain with right icon(disabled)' disabled='true' icon-after='add' }}
</p>
	{{> elements-button variant='tertiary-plain' value='Tertiary Plain without left icon' }}
	{{> elements-button variant='tertiary-plain' value='Tertiary Plain without left icon (disabled)' disabled='true' }}
</p>
<p>
	{{> elements-button variant='tertiary-plain' title='Check' value='Tertiary Plain displaying only the icon' icon='done' styleModifier='is-icon-text-replace' }}
	{{> elements-button variant='tertiary-plain' title='Check' value='Tertiary Plain displaying only the icon' disabled='true' icon='done' styleModifier='is-icon-text-replace' }}
</p>
