<svg
	class="elm-loadingindicator elm-loadingindicator--size-{{ size }}"
	viewBox="0 0 44 44"
	aria-labelledby="elm-loadingindicator__description" role="img"
>
	<title id="elm-loadingindicator__description">{{aria-description}}</title>
	<circle
		class="elm-loadingindicator__circle"
		cx="22"
		cy="22"
		r="20"
		fill="none"
		stroke-miterlimit="10"
	></circle>
</svg>