@use "@db-ui/base/build/scss/variables" as *;
@use "@db-ui/base/build/scss/icon/icons.helpers" as *;

$checkbox---backgroundColor: $db-colors-neutral-on-bg-enabled !default;
$checkbox---borderColor: $db-colors-secondary-enabled !default;
$checkbox---color: $db-colors-secondary-enabled !default;

$checkbox--checked-backgroundColor: $db-colors-secondary-enabled !default;
$checkbox--checked-color: #fff !default;

$checkbox-hover-checked-backgroundColor: #52575f !default;

// On dark background
$checkbox-onDarkBackground--backgroundColor: transparent !default;
$checkbox-onDarkBackground--borderColor: #fdfdfd !default; // TODO: This would need to get replaced by the correct (semantic) color
$checkbox-onDarkBackground--color: #fdfdfd !default; // TODO: This would need to get replaced by the correct (semantic) color
