@charset "utf-8";

@import "../../../css/partials.meta";
@import "checkbox.variables";

.elm-checkbox {
	$checkbox-size: 24;

	@include icon("\00A0", 20, "outline", $partial: $partial);
	align-content: center;

	appearance: none;

	aspect-ratio: 1;

	background-color: $checkbox---backgroundColor;
	border: 1px solid $checkbox---borderColor;
	border-radius: 3px;
	color: $checkbox---color;

	display: inline-flex;
	height: to-rem($pxValue: $checkbox-size);
	justify-content: center;

	&[type="checkbox"] {
		vertical-align: middle;
	}

	&::before {
		margin-right: 0;
	}

	&:checked {
		background-color: $checkbox--checked-backgroundColor;

		&::before {
			color: $checkbox--checked-color;
			content: glyph(done);
		}
	}

	&:not(:disabled) {
		&:hover {
			background-color: rgba(40, 45, 55, 0.14);
		}

		&:checked {
			&:hover {
				background-color: $checkbox-hover-checked-backgroundColor;
			}
		}

		&:active {
			background-color: rgba(0, 0, 0, 0.24);
		}
	}

	// TODO: We need to set the correct styling / color for invalid

	&:indeterminate {
		&::before {
			content: glyph(minus);
		}
	}

	&:disabled {
		&,
		& + label {
			opacity: 0.25;
		}
	}

	& + label {
		margin-left: $db-spacing-fixed-normal-xs;
	}

	// Sizes
	&%size-Small {
		@include iconMeta(16);
		height: to-rem($pxValue: 20);

		& + label {
			font-size: to-rem($pxValue: 14);
		}
	}

	&[data-size="small"] {
		@extend %size-Small;
	}

	&:required {
		& + label {
			&::after {
				content: " *";
			}
		}
	}
}
