{{#each sizes }}
	<!-- [html-validate-disable-next heading-level -- the h1 is already provided by the general pattern] -->
	<h2>{{ label }}</h2>
	<p>
		{{> elements-checkbox id=../id }}
	</p>
{{/each }}
