@charset "utf-8";

@import "../../../css/partials.meta";
@import "checkbox.variables";

.elm-checkbox {
	// $checkbox-size: 16;
	// TODO: Replace this ugly hack as soon as we've got this as an icon font as well
	$checkbox-size: 20;

	@include icon("\00A0", $checkbox-size, "outline", $partial: $partial);
	align-content: center;

	appearance: none;

	aspect-ratio: 1;

	background-color: $checkbox---backgroundColor;
	border: 1px solid $checkbox---borderColor;
	border-radius: 3px;
	color: $checkbox---color;

	display: inline-flex;
	height: to-rem($pxValue: $checkbox-size);
	justify-content: center;

	// TODO: Replace this ugly hack as soon as we've got this as an icon font as well
	&::before {
		font-size: 18px;
	}

	&[type="checkbox"] {
		vertical-align: middle;
	}

	&::before {
		--icon-font-size: 1.375rem;
		margin-right: 0;
	}

	&:checked {
		background-color: $checkbox--checked-backgroundColor;

		&::before {
			color: $checkbox--checked-color;
			content: glyph(done);
		}
	}

	&:not(:disabled) {
		&:hover {
			background-color: rgba(40, 45, 55, 0.14);
		}

		&:checked {
			&:hover {
				background-color: $checkbox-hover-checked-backgroundColor;
			}
		}

		&:active {
			background-color: rgba(0, 0, 0, 0.24);
		}
	}

	// TODO: We need to set the correct styling / color for invalid

	&:indeterminate {
		&::before {
			content: glyph(minus);
		}
	}

	&:disabled {
		&,
		& + label {
			opacity: 0.25;
		}
	}

	& + label {
		font-size: to-rem($pxValue: 12);
		margin-left: $db-spacing-0-5;
	}

	// Sizes
	&%size-Small {
		$checkbox-size: 16;
		// TODO: Replace this ugly hack as soon as we've got this as an icon font as well
		// @include iconMeta($checkbox-size);
		@include iconMeta(20);

		height: to-rem($pxValue: $checkbox-size);
		// TODO: Replace this ugly hack as soon as we've got this as an icon font as well
		&::before {
			font-size: 14px;
		}
	}

	&%size-Large {
		$checkbox-size: 24;
		@include iconMeta($checkbox-size);

		height: to-rem($pxValue: $checkbox-size);

		&::before {
			font-size: 24px;
		}

		& + label {
			font-size: to-rem($pxValue: 16);
		}
	}

	&[data-size="small"] {
		@extend %size-Small;
	}

	&[data-size="large"] {
		@extend %size-Large;
	}

	&:required {
		& + label {
			&::after {
				content: " *";
			}
		}
	}
}
