@charset "utf-8";

@import "../../../css/partials.meta";
@import "checkbox.variables";

.elm-checkbox {
	// $checkbox-size: 16;
	// TODO: Replace this ugly hack as soon as we've got this as an icon font as well
	$checkbox-size: 20;
	&:before {
		font-size: 16px;
	}

	@include icon("\00A0", $checkbox-size, "outline", $partial: $partial);

	appearance: none;
	background-color: $checkbox---backgroundColor;
	border: #{to-rem($pxValue: 1)} solid $checkbox---borderColor;
	border-radius: 2.5px;
	color: $checkbox---color;
	height: to-rem($pxValue: $checkbox-size);
	&[type="checkbox"] {
		vertical-align: middle;
	}
	width: to-rem($pxValue: $checkbox-size);

	display: inline-flex;
	justify-content: center;
	align-content: center;

	&::before {
		--icon-font-size: 1.375rem;
		margin-right: 0;
	}

	&:checked {
		background-color: $checkbox--checked-backgroundColor;

		&::before {
			content: glyph(done);
			color: $checkbox--checked-color;
		}
	}

	&:not(:disabled) {
		&:hover {
			background-color: rgba(40, 45, 55, 0.14);
		}
		&:checked {
			&:hover {
				background-color: $checkbox-hover-checked-backgroundColor;
			}
		}
		&:active {
			background-color: rgba(40, 45, 55, 0.14);
		}
	}

	&:indeterminate {
		&:before {
			content: glyph(minus);
		}
	}

	&:disabled {
		&,
		& + label {
			opacity: 0.5;
		}
	}

	& + label {
		margin-left: $db-spacing-xs;

		font-size: to-rem($pxValue: 12);
	}

	// Sizes
	&%size-Small {
		$checkbox-size: 16;
		// TODO: Replace this ugly hack as soon as we've got this as an icon font as well
		&:before {
			font-size: 16px;
		}

		height: to-rem($pxValue: $checkbox-size);
		width: to-rem($pxValue: $checkbox-size);
		// TODO: Replace this ugly hack as soon as we've got this as an icon font as well
		// @include iconMeta($checkbox-size);
		@include iconMeta(20);
	}
	&%size-Large {
		$checkbox-size: 24;
		&:before {
			font-size: 24px;
		}

		height: to-rem($pxValue: $checkbox-size);
		width: to-rem($pxValue: $checkbox-size);
		@include iconMeta($checkbox-size);

		& + label {
			font-size: to-rem($pxValue: 16);
		}
	}

	&[data-size="small"] {
		@extend %size-Small;
	}
	&[data-size="large"] {
		@extend %size-Large;
	}

	&:required {
		& + label {
			&::after {
				content: " *";
			}
		}
	}
}
