<ul class="sg-colors">
	{{#each listItems }}
	<li>
		{{ name }}
		<!-- [html-validate-disable-next no-inline-style -- we're doing inline-styling for simplification here] -->
		<span class="sg-swatch" style="background-color: {{ hex }}"></span>
		<span class="sg-label">
			{{ scssvariable }} <br>
			{{ hex }}
		</span>
	</li>
	{{/each }}
</ul>
