$icons-path: "../../../icons/" !default;
@use "@db-ui/base/build/scss/variables" as *;
@use "@db-ui/base/build/scss/helpers/functions" as *;

@import "../../00-base/icons/icons.variables";
@import "../../00-base/icons/icons.helpers";

$input---color: $db-colors-secondary-enabled !default;

$db-scaling: "regular";

.db-ui-functional {
	$db-scaling: "functional";
}

.db-ui-expressive {
	$db-scaling: "expressive";
}

// $db-input-sizes: (
// 	"functional": $db-sizing-functional-m,
// 	"regular": $db-sizing-normal-m,
// 	"expressive": $db-sizing-expressive-m
// );

$db-input-font-sizes: (
	"functional": 12,
	"regular": 14,
	"expressive": 16
);

// $db-input-lineheight: (
// 	"functional":
// 		to-rem(
// 			$pxValue: 18
// 		),
// 	"regular":
// 		to-rem(
// 			$pxValue: 21
// 		),
// 	"expressive":
// 		to-rem(
// 			$pxValue: 24
// 		)
// );

// @mixin input--sizes() {
// 	@each $size in (functional, regular, expressive) {
// 		// $stroke-width: 3px;
// 		// @if $size == s or $size == xs {
// 		// 	$stroke-width: 2px;
// 		// }
// 		//.#{$prefix}loadingindicator--size-#{$size} {
// 		// &%size-#{$size} {

// 		$padding-top: to-rem(
// 			$pxValue: 16
// 		);
// 		$padding-right: $db-spacing-fixed-normal-s;
// 		$padding-left: $db-spacing-fixed-normal-s;
// 		$padding-bottom: calc($db-spacing-fixed-normal-s - 4px);

// 		// @if $size == functional {
// 		// 	$padding-top: 0.5rem;
// 		// 	$padding-bottom: 0.5rem;
// 		// }

// 		&%size-#{$size} {
// 			// font-size: to-rem($pxValue: map-get($db-input-font-sizes, $size));
// 			// line-height: map-get($db-input-lineheight, $size);
// 			height: map-get($db-input-sizes, $size);
// 			//height: $db-sizing-#{$size}-m;

// 			padding: $db-spacing-fixed-normal-s $db-spacing-fixed-normal-s;
// 			//&:not(:placeholder-shown) {
// 			padding-top: $padding-top;
// 			padding-bottom: $padding-bottom;

// 			&::placeholder {
// 				font-size: to-rem(
// 					$pxValue: map-get($db-input-font-sizes, $size)
// 				);
// 			}

// 			& ~ .description {
// 				font-size: to-rem(
// 					$pxValue: map-get($db-input-font-sizes, $size)
// 				);
// 			}
// 		}
// 	}
// }

// TODO rename
@mixin input-label-size() {
	// --db-sizing-md: 2.5rem;
	// --db-db-spacing-fixed-xs: 0.5rem;
	$transformScale: -0.75;

	transform: translate(
		$db-spacing-fixed-xs,
		calc($transformScale * var(--db-sizing-md))
	);
}

// TODO rename
@mixin input-label-translation() {
	// @if var(--db-scaling) == functional {
	// 	transition: opacity 0.08s, transform 0.15s;
	// 	opacity: 0;
	// 	//transform: translate($db-spacing-s, -#{to-rem($pxValue: calc(map-get($db-input-font-sizes, $size) * 1.2) + map-get($db-input-font-sizes, $size))}) scale(0.7);
	// }
	// @else {
	$transformScale: -1.05;
	$scaling: 0.65;

	@if $db-scaling == "expressive" {
		$scaling: 0.5;
	}

	transform: translate(
			$db-spacing-fixed-xs,
			calc($db-sizing-md * $transformScale)
		)
		scale($scaling);
	transition: transform 0.2s $db-transition-functional-timing;
}
