$input---color: $db-colors-secondary-enabled !default;

// TODO rename
@mixin input-label-translation() {
	$transformScale: -1.25;

	transition: opacity 0.08s, transform 0.15s;
	opacity: var(--db-input-focus-opacity);

	transform: translate(
			$db-spacing-fixed-xs,
			calc($db-sizing-md * $transformScale)
		)
		scale(var(--db-input-label-scale));
}
