@charset "utf-8";

@import "input.variables";
@import "../form-elements";

.elm-input {
	@extend %form-element;

	font-size: to-rem($pxValue: 16);
	line-height: to-rem($pxValue: 24);

	color: $input---color;

	width: 100%;
	max-width: 100%;
	height: to-rem($pxValue: 44);

	padding: $db-spacing-1 $db-spacing-2;
	&:not(:placeholder-shown) {
		padding-top: to-rem($pxValue: 16);
		padding-bottom: 0;
	}

	// * TODO: to get evaluated
	// display: inline-flex;
	// align-items: center;
	// justify-content: flex-start;
	// max-width: 100%;

	// TODO: Evaluate whether those could get moved to ../_form-elements.scss
	&:focus,
	&:hover {
		&:not(:disabled) {
			--formElement---borderColor: #{$db-colors-secondary-enabled};
		}
	}

	// TODO: Evaluate whether those could get moved to ../_form-elements.scss
	&:disabled,
	fieldset:disabled & {
		&,
		& + .elm-label {
			// Decided against cursor: not-allowed, compare to e.g. https://phabricator.wikimedia.org/T121960
			opacity: 0.4;
		}
	}

	&[type="color"],
	&[type="date"],
	&[type="datetime-local"],
	&[type="email"],
	&[type="month"],
	&[type="number"],
	&[type="password"],
	:where(:not(.cmp-sitesearch)) > &[type="search"],
	&[type="tel"],
	&[type="text"],
	&[type="time"],
	&[type="url"],
	&[type="week"] {
		// TODO: Evaluate whether those could get moved to ../_form-elements.scss
		// Semitransparent is the default style
		@at-root :where(#{&}) {
			@extend %form-element-semitransparent;
		}

		// Floating labels
		margin-top: to-rem($pxValue: 16);

		&:not([type="date"]):not([type="datetime-local"]):not([type="month"]):not([type="time"]):not([type="week"])
			+ .elm-label {
			// position: absolute;
			// left: calc(#{to-em($pxValue: 10)} - 1px);

			transition: opacity, transform 250ms;
			// Adopted by https://www.heise.de/developer/artikel/a11y-Reduced-Motion-4356171.html
			@media (prefers-reduced-motion: reduce) {
				transition-duration: 0.01s !important;
			}
		}
		& + .elm-label {
			transform: translate($db-spacing-2, -#{to-rem($pxValue: 41)});
			font-size: to-rem($pxValue: 12);
			display: block;

			color: $db-colors-secondary-enabled;

			margin-bottom: -#{to-rem($pxValue: 18)};

			& + .description {
				margin-top: 0;
			}
		}
		&[placeholder] {
			&:placeholder-shown {
				& + label {
					opacity: 0;
				}
			}
		}

		&::placeholder {
			color: $db-colors-secondary-enabled;
		}

		// TODO: Evaluate whether those could get moved to ../_form-elements.scss
		// Validation
		&:required {
			&:valid:not([aria-invalid]) {
				--formElement---borderColor: #{$db-colors-success-enabled};
			}
			&:invalid {
				&:not(:placeholder-shown) {
					--formElement---borderColor: #{$db-colors-primary-enabled};
				}
			}
		}
		&[aria-invalid="true"] {
			--formElement---borderColor: #{$db-colors-primary-enabled};
		}

		// ### Style variations
		&[data-variant="semitransparent"] {
			@extend %form-element-semitransparent;
		}
		&[data-variant="white"] {
			@extend %form-element-white;
		}
		&[data-variant="solid"] {
			@extend %form-element-solid;
		}
		&[data-variant="outline"] {
			@extend %form-element-outline;
		}
	}

	&[type="search"] {
		background: var(
				--db-ic-search-24,
				url(#{$icons-path}functional/images/action/db_ic_search_24.svg)
			)
			no-repeat to-rem($pxValue: 6) to-rem($pxValue: 12);
		background-size: to-rem($pxValue: 19);
		padding-left: to-rem($pxValue: 32);

		:not(.cmp-sitesearch) > & {
			@extend %form-element-semitransparent;

			& + .elm-label {
				margin-left: to-rem($pxValue: 16);
			}
		}
	}
}
