@charset "utf-8";

@use "@db-ui/base/build/scss/variables" as *;
@use "@db-ui/base/build/scss/variables.global" as *;
@use "@db-ui/base/build/scss/helpers/functions" as *;
@use "@db-ui/base/build/scss/icon/icons.helpers" as *;

$icons-path: "../../../icons/" !default;

/* stylelint-disable */

// TODO rename
@mixin input-label-translation($translationX: var(--elm-input-padding-left)) {
	$transformScale: -1.2;

	transition: opacity 0.08s, transform 0.15s;
	opacity: var(--db-input-focus-opacity);

	transform: translate($translationX, calc($db-sizing-md * $transformScale))
		scale(var(--db-input-label-scale));
}

.elm-input {
	position: relative;

	--elm-input-padding-left: #{$db-spacing-fixed-sm};
	--elm-input-padding-right: #{$db-spacing-fixed-sm};
}

.elm-input input {
	@extend %db-bg-neutral-transparent-semi;

	border: none;
	border-radius: 4px;
	height: $db-sizing-md;
	max-width: 100%;
	width: 100%;
	padding: $db-spacing-fixed-xs var(--elm-input-padding-left)
		$db-spacing-fixed-xs var(--elm-input-padding-right);

	& + label {
		position: absolute;
		display: flex;
		align-items: center;
		font-size: var(--db-type-body-font-size-md);
		color: $db-colors-secondary-enabled;

		transform-origin: left;
		transform: translate(
			var(--elm-input-padding-left),
			calc(-1 * var(--db-sizing-md))
		);
		transition: transform 0.2s $db-transition-functional-timing;

		height: $db-sizing-md;
		pointer-events: none;
	}

	& ~ .description {
		@extend %db-body-xs;
		margin: $db-spacing-fixed-2xs
			var(--elm-input-padding-left, $db-spacing-fixed-xs) 0;

		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&:focus,
	&:not(:placeholder-shown) {
		&:not(:disabled) {
			padding-bottom: calc(
				$db-spacing-fixed-xs - var(--db-input-focus-opacity) *
					$db-spacing-fixed-xs
			);
			padding-top: $db-spacing-fixed-sm;

			+ label {
				@include input-label-translation();
			}
		}
	}

	// TODO: Evaluate whether those could get moved to ../_form-elements.scss
	&:disabled,
	fieldset:disabled & {
		&,
		& + label {
			// Decided against cursor: not-allowed, compare to e.g. https://phabricator.wikimedia.org/T121960
			opacity: 0.25;
		}

		& + .description {
			opacity: 0;
		}
	}

	&[type="color"],
	&[type="date"],
	&[type="datetime-local"],
	&[type="email"],
	&[type="month"],
	&[type="number"],
	&[type="password"],
	//:where(:not(.cmp-sitesearch)) > &[type="search"],
	&[type="search"],
	&[type="tel"],
	&[type="text"],
	&[type="time"],
	&[type="url"],
	&[type="week"] {
		@extend %db-body-sm;

		&:not([type="date"]):not([type="datetime-local"]):not(
				[type="month"]
			):not([type="time"]):not([type="week"])
			+ label {
			// Adopted by https://www.heise.de/developer/artikel/a11y-Reduced-Motion-4356171.html
			@media (prefers-reduced-motion: reduce) {
				transition-duration: 0.01s !important;
			}
		}

		&::placeholder {
			opacity: 0;
		}

		&:focus {
			&::placeholder {
				opacity: 0.5;
			}
		}
	}

	&[type="search"] {
		// TODO this is scoped
		--elm-input-padding-left: #{calc($db-spacing-fixed-sm * 2 + 0.625rem)};

		$paddingLeft: calc($db-spacing-fixed-sm * 2 + 0.625rem);

		padding-left: var(--elm-input-padding-left);

		& ~ .elm-state-icon {
			@include icon(glyph(search), 20, "filled", "before", false);
		}

		+ label {
			transform: translate($paddingLeft, calc(-1 * var(--db-sizing-md)));
		}

		~ .description {
			padding-left: $paddingLeft;
		}

		&:focus,
		&:not(:placeholder-shown) {
			&:not(:disabled) {
				+ label {
					padding-left: 0;
					@include input-label-translation($paddingLeft);
				}
			}
		}

		$icons-path: "../../../icons/" !default;

		// https://stackoverflow.com/questions/20804016/editing-input-type-search-pseudo-element-button-x
		&::-webkit-search-cancel-button {
			-webkit-appearance: none;
			position: absolute;
			right: $db-spacing-fixed-sm;
			top: 0;
			height: $db-sizing-md;
			width: 1em;
			background: url(#{$icons-path}functional/images/navigation/db_ic_cancel_24.svg)
				no-repeat 50% 50%;
			background-size: contain;
			opacity: 0;
			pointer-events: none;
			cursor: pointer;
		}

		&:focus::-webkit-search-cancel-button {
			opacity: 1;
			pointer-events: all;
		}

		&.hide-native-cancel {
			&::-webkit-search-cancel-button {
				display: none;
			}
		}
	}
}

// ### variations
.elm-input {
	.elm-state-icon {
		display: flex;
		align-items: center;
		flex-direction: row;
		position: absolute;
		top: 0;
		padding: 0 $db-spacing-fixed-xs;
		height: $db-sizing-md;
		width: 100%;
		pointer-events: none;

		&::after,
		&::before {
			--icon-font-family: var(--db-base-icon-font-family);
			--icon-font-size: var(--db-base-icon-font-size);
		}

		&::before {
			--icon-margin-after: auto;
		}

		&::after {
			--icon-margin-before: auto;
		}
	}

	&[data-variant] {
		input {
			padding-right: var(--db-base-icon-font-size);
		}
	}

	// Variant error or invalid state
	&[data-variant="error"] input,
	input:required:invalid:not(:placeholder-shown),
	input[aria-invalid="true"] {
		@extend %db-bg-critical-transparent-semi;

		& + label {
			color: $db-colors-critical-on-bg-enabled;
		}

		& ~ .description {
			color: $db-colors-critical-enabled;
		}

		& ~ .elm-state-icon {
			color: $db-colors-critical-enabled;
			@include icon(glyph(error), 20, "filled", "after", false);
		}
	}

	&[data-variant="warning"] input {
		@extend %db-bg-warning-transparent-semi;

		& + label {
			color: $db-colors-warning-on-bg-enabled;
		}

		& ~ .description {
			color: $db-colors-warning-enabled;
			@include icon(glyph(error-triangle), 20, "filled", "after", false);
		}
	}

	&[data-variant="success"] input {
		@extend %db-bg-success-transparent-semi;

		& + label {
			color: $db-colors-success-on-bg-enabled;
		}

		& ~ .description {
			color: $db-colors-success-enabled;
			@include icon(glyph(check-circle), 20, "filled", "after", false);
		}
	}

	&[data-variant="information"] input {
		@extend %db-bg-information-transparent-semi;

		& + label {
			color: $db-colors-information-on-bg-enabled;
		}

		& ~ .description {
			color: $db-colors-information-enabled;
			@include icon(glyph(info), 20, "filled", "after", false);
		}
	}
}
