@use "@db-ui/base/build/scss/tonality" as *;

[id|="elements-input"] {
	dl {
		display: grid;
		grid-template-columns: 1fr 5fr;
		align-items: center;
	}

	dd {
		margin: 1rem 0;
	}
}

.elm-input {
	max-width: 30rem;
}

.pl-c-pattern {
	@extend %db-ui-regular;
}
