@charset "utf-8";

@use "@db-ui/base/build/scss/variables" as *;
@use "@db-ui/base/build/scss/variables.global" as *;
@use "@db-ui/base/build/scss/helpers/functions" as *;
@use "@db-ui/base/build/scss/icon/icons.helpers" as *;

$icons-path: "../../../icons/" !default;

:root {
	--elm-input-padding-left: #{$db-spacing-fixed-xs};
}

// TODO rename
@mixin input-label-translation() {
	$transformScale: -1.2;

	transition: opacity 0.08s, transform 0.15s;
	opacity: var(--db-input-focus-opacity);

	transform: translate(
			var(--elm-input-padding-left, $db-spacing-fixed-xs),
			calc($db-sizing-md * $transformScale)
		)
		scale(var(--db-input-label-scale));
}

.elm-input {
	position: relative;
}

.elm-input input {
	@extend %db-bg-neutral-transparent-semi;

	border: none;
	border-radius: 4px;

	height: $db-sizing-md;
	max-width: 100%;
	width: 100%;
	padding: $db-spacing-fixed-xs $db-spacing-fixed-xs;

	& + label {
		display: flex;
		align-items: center;

		font-size: var(--db-type-body-font-size-md); // $db-type-font-size-md;

		transform: translate(
			var(--elm-input-padding-left, $db-spacing-fixed-xs),
			calc(-1 * var(--db-sizing-md))
		);
		transition: transform 0.2s $db-transition-functional-timing;

		height: $db-sizing-md;
	}

	// TODO: Evaluate whether those could get moved to ../_form-elements.scss
	&:focus,
	&:not(:placeholder-shown) {
		&:not(:disabled) {
			padding-bottom: calc(
				$db-spacing-fixed-xs - var(--db-input-focus-opacity) *
					$db-spacing-fixed-xs
			);
			padding-top: $db-spacing-fixed-sm;

			+ label {
				@include input-label-translation();
			}
		}
	}

	// TODO: Evaluate whether those could get moved to ../_form-elements.scss
	&:disabled,
	fieldset:disabled & {
		&,
		& + label {
			// Decided against cursor: not-allowed, compare to e.g. https://phabricator.wikimedia.org/T121960
			opacity: 0.4;
		}
	}

	&[type="color"],
	&[type="date"],
	&[type="datetime-local"],
	&[type="email"],
	&[type="month"],
	&[type="number"],
	&[type="password"],
	:where(:not(.cmp-sitesearch)) > &[type="search"],
	&[type="tel"],
	&[type="text"],
	&[type="time"],
	&[type="url"],
	&[type="week"] {
		// TODO: Evaluate whether those could get moved to ../_form-elements.scss
		// Semitransparent is the default style
		// @at-root :where(#{&}) {
		// 	@extend %form-element-semitransparent;
		// }

		@extend %db-body-sm;

		// Floating labels
		//margin-top: to-rem($pxValue: 16);

		&:not([type="date"]):not([type="datetime-local"]):not(
				[type="month"]
			):not([type="time"]):not([type="week"])
			+ label {
			// position: absolute;
			// left: calc(#{to-em($pxValue: 10)} - 1px);

			// transition: opacity, transform 250ms;
			// Adopted by https://www.heise.de/developer/artikel/a11y-Reduced-Motion-4356171.html
			@media (prefers-reduced-motion: reduce) {
				transition-duration: 0.01s !important;
			}
		}

		& + label {
			// font-size: to-rem($pxValue: 14);
			color: $db-colors-secondary-enabled;
			pointer-events: none;
			transform-origin: left;

			& ~ .description {
				@extend %db-body-xs;
				margin-top: calc(var(--db-sizing-md) * -1);
				padding: $db-spacing-fixed-2xs
					var(--elm-input-padding-left, $db-spacing-fixed-xs) 0;

				max-width: 30rem;

				//height: calc(var(--db-sizing-md) * 0.5);
				display: flex;
				align-items: flex-start;
				justify-content: space-between;

				// trailing icon position
				&::after {
					position: relative;
					top: calc(
						var(--db-sizing-md) * -1 + var(--db-sizing-md) * 0.2
					);
				}
			}
		}
		// &[placeholder] {
		// 	&:placeholder-shown {
		// 		& + label {
		// 			// opacity: 0;
		// 		}
		// 	}
		// }

		&::placeholder {
			opacity: 0;
		}

		&:focus {
			&::placeholder {
				opacity: 0.5;
			}
		}

		// TODO: Evaluate whether those could get moved to ../_form-elements.scss
		// Validation
		&:required {
			&:valid:not([aria-invalid]) {
				//--formElement---borderColor: #{$db-color-green-600};
			}

			&:invalid {
				&:not(:placeholder-shown) {
					@extend %db-bg-critical-transparent-semi;

					& + label {
						color: $db-colors-critical-on-bg-enabled;
					}
				}
			}
		}

		&[aria-invalid="true"] {
			// --formElement---borderColor: #{$db-colors-primary-enabled};
		}
	}

	&[type="search"] {
		--elm-input-padding-left: #{calc(
				$db-spacing-fixed-xs * 2 + var(--db-base-icon-font-size)
			)};
		padding-left: var(--elm-input-padding-left);

		& ~ .elm-state-icon {
			@include icon(glyph(search), 20, "filled", "before", false, false);
		}

		:not(.cmp-sitesearch) > & {
			// @extend %form-element-semitransparent;

			& + label {
				margin-left: to-rem($pxValue: 16);
			}
		}
	}
}

// ### variations
.elm-input {
	.elm-state-icon {
		display: flex;
		align-items: center;
		flex-direction: row;
		position: absolute;
		top: 0;
		padding: 0 $db-spacing-fixed-xs;
		height: $db-sizing-md;
		width: 100%;
		pointer-events: none;

		&::after,
		&::before {
			--icon-font-family: var(--db-base-icon-font-family);
			--icon-font-size: var(--db-base-icon-font-size);
		}

		&::before {
			--icon-margin-after: auto;
		}

		&::after {
			--icon-margin-before: auto;
		}
	}

	&[data-variant] {
		input {
			padding-right: var(--db-base-icon-font-size);
		}
	}

	&[data-variant="error"] {
		.elm-state-icon {
			color: $db-colors-critical-enabled;
			/* stylelint-disable */
			@include icon(glyph(error), 20, "filled", "after", false, false);
		}

		input {
			@extend %db-bg-critical-transparent-semi;

			& + label {
				color: $db-colors-critical-on-bg-enabled;
			}

			& ~ .description {
				color: $db-colors-critical-enabled;
			}
		}
	}

	&[data-variant="warning"] input {
		@extend %db-bg-warning-transparent-semi;

		& + label {
			color: $db-colors-warning-on-bg-enabled;
		}

		& ~ .description {
			color: $db-colors-warning-enabled;
			@include icon(
				glyph(error-triangle),
				20,
				"filled",
				"after",
				false,
				false
			);
		}
	}

	&[data-variant="success"] input {
		@extend %db-bg-success-transparent-semi;

		& + label {
			color: $db-colors-success-on-bg-enabled;
		}

		& ~ .description {
			color: $db-colors-success-enabled;
			@include icon(
				glyph(check-circle),
				20,
				"filled",
				"after",
				false,
				false
			);
		}

		// &[data-size="functional"] {
		// 	& + .elm-label {
		// 		@include input-label-size(functional);
		// 	}
		// }

		// &[data-size="regular"] {
		// 	& + .elm-label {
		// 		@include input-label-size(regular);
		// 	}
		// }

		// &[data-size="expressive"] {
		// 	& + .elm-label {
		// 		@include input-label-size(expressive);
		// 	}
		// }
	}

	&[data-variant="information"] input {
		@extend %db-bg-information-transparent-semi;

		& + label {
			color: $db-colors-information-on-bg-enabled;
		}

		& ~ .description {
			color: $db-colors-information-enabled;
			@include icon(glyph(info), 20, "filled", "after", false, false);
		}
	}
}
