@charset "utf-8";

@use "checkbox.variables" as checkbox2;
@use "../checkbox.variables";
@use "../../../../css/helpers/functions";

.pl-js-pattern-example {
	[id^="elements-checkbox-on-dark-background"] & {
		background-color: $Background;
		color: $LightBG;
		padding: functions.to-rem($pxValue: 16);

		.elm-checkbox {
			background-color: checkbox.$checkbox-onDarkBackground--backgroundColor;
			border-color: checkbox.$checkbox-onDarkBackground--borderColor;
			color: checkbox.$checkbox-onDarkBackground--color;
		}
	}
}
