@import "../../../css/helpers/functions";

$notification-alert--color: #fff !default;

$notification-success--backgroundColor: $db-colors-success-enabled !default;
$notification-warning--backgroundColor: $db-colors-warning-enabled !default;
$notification-error--backgroundColor: $db-colors-critical-enabled !default;
$notification-informative--backgroundColor: $db-colors-information-enabled !default;

$notification---backgroundColor: $db-colors-secondary-enabled !default;
