/* stylelint-disable scss/at-import-partial-extension */
@import "../../../css/partials.meta";
@import "../overflow-menu/overflow-menu";
@import "dropdown.variables";
/* stylelint-enable scss/at-import-partial-extension */
.cmp-dropdown {
	@extend .cmp-overflow-menu;

	// Usage within the account menu
	&.is-account {
		summary {
			@include icon(glyph(account), 24, "outline", $partial: $partial);
			&:hover {
				&::before {
					color: $db-color-red-500;
				}
			}

			@media screen and (max-width: $metanavigation-iconOnly--maxWidth) {
				// * TODO: possibly rework variable naming
				@include is-icon-text-replace();
			}
		}
	}
	menu,
	ul {
		margin-block-start: initial;
		right: 0;
		transform: translateY(0.875rem);

		background-color: $overflowMenu---backgroundColor;

		&::before {
			content: none;
		}
	}
	&[data-horizontal-position="opposite"] {
		menu,
		ul {
			right: unset;
		}
	}
}
