@use "../../../css/partials.meta";
@use "../overflow-menu/overflow-menu" as overflow-menu2;
@use "dropdown.variables";
@use "../../../css/db-ui-core.variables";
@use "../../00-base/icons/icons.helpers";
@use "../overflow-menu/overflow-menu.variables";

.cmp-dropdown {
	@extend .cmp-overflow-menu;

	// Usage within the account menu
	&.is-account {
		summary {
			@include icons.icon(icons.glyph(account), 24, "outline", $partial: partials.$partial);

			@media screen and (max-width: db-ui-core.$metanavigation-iconOnly--maxWidth) {
				// * TODO: possibly rework variable naming
				@include icons.is-icon-text-replace();
			}
		}
	}

	menu,
	ul {
		background-color: overflow-menu.$overflowMenu---backgroundColor;
		margin-block-start: initial;
		right: 0;
		transform: translateY(0.875rem);

		&::before {
			content: none;
		}
	}

	&[data-horizontal-position="opposite"] {
		menu,
		ul {
			right: unset;
		}
	}
}
