@use "../db-ui-core.variables";

@function to-rem($pxValue) {
	@return #{$pxValue * db-ui-core.$dbBaseFontSizeSass}rem;
}
@function to-em($pxValue) {
	@return #{$pxValue * db-ui-core.$dbBaseFontSizeSass}em;
}

// Mixin wrappers around the SCSS placeholders
@mixin a11y-visually-hidden($partial: false) {
	@if $partial {
		clip: rect(0, 0, 0, 0);
		height: 1px;
		overflow: hidden;
		position: absolute !important;
		white-space: nowrap;
		width: 1px;
	} @else {
		@extend %a11y-visually-hidden;
	}
}
@mixin clearfix($partial: false) {
	@if $partial {
		&::after {
			clear: both;
			content: " ";
			display: table;
		}
	} @else {
		@extend %clearfix;
	}
}
