<main>
	<p>All colors can be found in:
		<a href="https://db-ui.github.io/base/review/dbux-3/?p=colors-colors" target="_blank" referrerpolicy="no-referrer">DB-UI-Base</a>
	</p>

	<iframe src="https://db-ui.github.io/base/review/dbux-3/patterns/colors-colors/colors-colors.rendered.html" title="DB UI Base colors documentation"></iframe>



</main>
