<main class="rea-main {{styleModifier}}">

	{{#each headlines }}
		{{> elements-headline }}
	{{/each }}
	<p>Primary font: "DB Screen Sans", "Helvetica", "Arial", sans-serif;</p>
	<p><em>Primary font italic: "DB Screen Sans", "Helvetica", "Arial", sans-serif;</em></p>
	<p><strong>Primary font bold: "DB Screen Sans", "Helvetica", "Arial", sans-serif;</strong></p>

</main>
