/* *****
	SCSS placeholder for general font declarations
***** */

@use "db-ui-core.variables";
@use "@db-ui/base/build/scss/variables";

%general-fonts {
	color: variables.$db-color-cool-gray-700;
	font-family: variables.$db-font-family-base;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}
