/* *****
	This is mainly meant to get included within scoped components like e.g. within StencilJS Custom Components / DB UI Elements
***** */

@import "db-ui-core.variables";
@import "@csstools/normalize.css/normalize";
@import "../_patterns/00-base/init";
@import "fonts.general";

$icons-path: "../../icons/" !default;
$images-path: "../../images/" !default;
$fonts-path: "../../fonts/" !default;

@import "@db-ui/base/build/scss/db-ui-base";

/* TODO: We most likely need to rework this */
body,
div,
button,
input,
select,
textarea {
	@extend %general-fonts;
}
