// Define the path for both image and font folders
$icons-path: "../icons/" !default;
$images-path: "../images/" !default;
$fonts-path: "../fonts/" !default;

@import "../_patterns/00-base/icons/icons.variables";
@import "../_patterns/00-base/icons/icons.font-faces";

:root {
	--db-ic-search-24: url(#{$icons-path}functional/images/action/db_ic_search_24.svg);
	--db-ic-expand-more-20: url(#{$icons-path}functional/images/navigation/db_ic_expand_more_20.svg);
}
