/* stylelint-disable scss/at-import-partial-extension */
@import "db-ui-core.variables";
/* stylelint-enable scss/at-import-partial-extension */
@import "@csstools/normalize.css/normalize";
@import "../_patterns/00-base/init";

/* TODO: We most likely need to rework this */
body,
div,
button,
input,
select,
textarea {
	font-family: $db-font-family-base;
	color: $db-color-cool-gray-700;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}
