@import "../../../css/helpers/functions";

$sidenavi-link--color: $db-color-cool-gray-200 !default;
$sidenavi-linkCurrent-hover-color: $db-color-cool-gray-600 !default;

$sidenavi-link-hover-backgroundColor: $db-color-cool-gray-300 !default;
$sidenavi-linkcurrent--backgroundColor: $db-color-cool-gray-200 !default;
