@use "@db-ui/base/build/scss/variables" as *;
@use "@db-ui/base/build/scss/helpers/functions" as *;
@use "@db-ui/base/build/scss/icon/icons.variables" as *;
@use "@db-ui/base/build/scss/icon/icons.helpers" as *;

// TODO: We need to replace this by its correct color variable
$sidenavi-link--color: #d7dce1 !default;
$sidenavi-linkCurrent-hover-color: $db-colors-secondary-enabled !default;

$sidenavi-link-hover-backgroundColor: $db-colors-secondary-enabled !default;
// TODO: We need to replace this by its correct color variable
$sidenavi-linkcurrent--backgroundColor: #d7dce1 !default;
