<nav class="cmp-sidenavi">
	<ol>
		<li>{{> elements-link value='Startseite' rel='index' current="page" }}</li>
		<li>{{> elements-link value='Dokumente' rel='documents' }}</li>
		<li>{{> elements-link value='Dashboard' rel='dashboard' }}</li>
		<li>{{> elements-link value='Cloud' rel='cloud' }}</li>
		<li>{{> elements-link value='Kalender' rel='calendar' }}</li>
		<li>{{> elements-link value='Frage & Hilfe' rel='help' }}</li>
	</ol>
</nav>
