<p>
	{{> elements-button variant='secondary' value='Secondary' }}
	{{> elements-button variant='secondary' value='Secondary (disabled)' disabled='true' }}
</p>
<p>
	{{> elements-button variant='secondary' value='Secondary' icon='add' }}
	{{> elements-button variant='secondary' value='Secondary (disabled)' disabled='true' icon='add' }}
</p>
<p>
	{{> elements-button variant='secondary' title='Check' value='Secondary displaying only the icon' icon='done' styleModifier='is-icon-text-replace' }}
	{{> elements-button variant='secondary' title='Check' value='Secondary displaying only the icon' disabled='true' icon='done' styleModifier='is-icon-text-replace' }}
</p>
<p>
	{{> elements-button variant='secondary' title='Check' value='loading' state='loading' }}
</p>


<p>
	<div class="db-bg-success-light-ia">
		{{> elements-button variant='secondary' value='Secondary' }}
		{{> elements-button variant='secondary' value='Secondary (disabled)' disabled='true' }}
	</div>
</p>
