<p>
	{{> elements-button variant='secondary-inverted' value='Secondary inverted' }}
	{{> elements-button variant='secondary-inverted' value='Secondary inverted (disabled)' disabled='true' }}
</p>
<p>
	{{> elements-button variant='secondary-inverted' value='Secondary inverted' icon='add' }}
	{{> elements-button variant='secondary-inverted' value='Secondary inverted (disabled)' disabled='true' icon='add' }}
</p>
<p>
	{{> elements-button variant='secondary-inverted' title='Check' value='Secondary inverted displaying only the icon' icon='done' styleModifier='is-icon-text-replace' }}
	{{> elements-button variant='secondary-inverted' title='Check' value='Secondary inverted displaying only the icon' disabled='true' icon='done' styleModifier='is-icon-text-replace' }}
</p>
