
<p>
	{{> elements-button variant='ghost' value='Ghost' }}
	{{> elements-button variant='ghost' value='Ghost' disabled='true' }}
</p>
<p>
	{{> elements-button variant='ghost' value='Ghost without left icon' }}
	{{> elements-button variant='ghost' value='Ghost without left icon (disabled)' disabled='true' }}
</p>
<p>
	{{> elements-button variant='ghost' title='Check' value='Ghost displaying only the icon' icon='done' styleModifier='is-icon-text-replace' }}
	{{> elements-button variant='ghost' title='Check' value='Ghost displaying only the icon' disabled='true' icon='done' styleModifier='is-icon-text-replace' }}
</p>
