<p>
	{{> elements-button variant='ghost' value='Ghost' }}
	{{> elements-button variant='ghost' value='Ghost (disabled)' disabled='true' }}
</p>
<p>
	{{> elements-button variant='ghost' value='Ghost' }}
	{{> elements-button variant='ghost' value='Ghost' disabled='true' }}
</p>
<p>
	{{> elements-button variant='ghost' title='Check' value='Ghost displaying only the icon' icon='done' styleModifier='is-icon-text-replace' }}
	{{> elements-button variant='ghost' title='Check' value='Ghost displaying only the icon' disabled='true' icon='done' styleModifier='is-icon-text-replace' }}
</p>
<p>
	{{> elements-button variant='ghost' title='Check' value='loading' state='loading' }}
</p>

<p class="db-bg-success-light-ia">
	{{> elements-button variant='ghost' value='Ghost' }}
	{{> elements-button variant='ghost' value='Ghost (disabled)' disabled='true' }}
</p>
