@use "@db-ui/base/build/scss/variables" as *;
@use "@db-ui/base/build/scss/helpers/functions" as *;
@use "@db-ui/base/build/scss/icon/icons.variables" as *;
@use "@db-ui/base/build/scss/icon/icons.helpers" as *;

$button---color: #fff !default;

$button---minHeight: to-rem(
	$pxValue: 44
) !default;

// Background colors
$button-brand-primary--backgroundColor: $db-colors-primary-enabled !default;
// TODO: We need to replace this by its correct color variable
$button-brand-primary-hover-backgroundColor: #db0016;

$button-primary--backgroundColor: $db-colors-secondary-enabled !default;
// TODO: We need to replace this by its correct color variable
$button-primary-hover-backgroundColor: #2f3541;

// TODO: We need to replace this by its correct color variable
$button-secondarySolid--backgroundColor: #d7dce1 !default;
// TODO: We need to replace this by its correct color variable
$button-secondarySolid-hover-backgroundColor: #cdd4da !default;
// TODO: We need to replace this by its correct color variable
$button-secondarySolid-active-backgroundColor: #c5ccd3 !default;

$button-secondaryOutline-hover-backgroundColor: rgba(
	$db-colors-secondary-enabled,
	0.03
) !default;

$button-secondaryOutline-active-backgroundColor: rgba(
	$db-colors-secondary-enabled,
	0.06
) !default;
