@import "../../../css/helpers/functions";
/* stylelint-disable scss/at-import-partial-extension */
@import "../../00-base/icons/icons.variables";
/* stylelint-enable scss/at-import-partial-extension */
@import "../../00-base/icons/icons.helpers";

$button---color: #fff !default;

$button---minHeight: to-rem(
	$pxValue: 44
) !default;

// Background colors
$button-brand-primary--backgroundColor: $db-color-red-500 !default;
$button-brand-primary-hover-backgroundColor: #db0016;

$button-primary--backgroundColor: $db-color-cool-gray-700 !default;
$button-primary-hover-backgroundColor: #2f3541;

$button-secondarySolid--backgroundColor: $db-color-cool-gray-200 !default;
$button-secondarySolid-hover-backgroundColor: #cdd4da !default;
$button-secondarySolid-active-backgroundColor: #c5ccd3 !default;

$button-secondaryOutline-hover-backgroundColor: rgba(
	$db-color-cool-gray-700,
	0.03
) !default;

$button-secondaryOutline-active-backgroundColor: rgba(
	$db-color-cool-gray-700,
	0.06
) !default;
