@charset "utf-8";

@import "button.variables";

.elm-button {
	border: 1px solid transparent;
	border-radius: 4px;
	padding: to-rem($pxValue: 8) to-rem($pxValue: 16);

	&[data-icon],
	&[data-icon-before] {
		padding-left: to-rem($pxValue: 14);
	}
	&[data-icon-after] {
		padding-right: to-rem($pxValue: 14);
	}
	font-size: to-rem($pxValue: 16);
	min-height: $button---minHeight;
	// Square icon only buttons
	&.is-icon-text-replace {
		width: $button---minHeight;
	}

	// Centering the content vertically and horizontally
	align-items: center;
	display: inline-flex;
	justify-content: center;

	/*&:focus {
		border-color: #fff;
	}*/
	/*	&:active {
		filter: brightness(75%);
	}*/

	&%variant-brand-primary,
	&%variant-primary {
		color: $button---color;
	}

	&%variant-brand-primary,
	&%variant-primary {
		font-weight: 700;
	}

	&%variant-brand-primary {
		background-color: $button-brand-primary--backgroundColor;

		&:not(:disabled) {
			&:hover {
				// TODO: This could probably get simplified later on e.g. via CSS variables
				background-color: $button-brand-primary-hover-backgroundColor;
			}
		}
		&:active {
			background-color: #cc0013; // TODO: replace by correct color variable
		}
	}

	&%variant-primary {
		background-color: $button-primary--backgroundColor;

		&:not(:disabled) {
			&:hover {
				// TODO: This could probably get simplified later on e.g. via CSS variables
				background-color: $button-primary-hover-backgroundColor;
			}
		}
		&:active {
			background-color: #363c4a;
		}
	}

	&%variant-secondaryOutline {
		background-color: transparent;
		border-color: $db-colors-secondary-enabled;
		color: $db-colors-secondary-enabled;

		// TODO: This might get replaced by another effect
		backdrop-filter: blur(4px);

		&:not(:disabled) {
			&:hover {
				// TODO: This could probably get simplified later on e.g. via CSS variables
				background-color: $button-secondaryOutline-hover-backgroundColor;
			}
		}
		&:disabled {
			background-color: transparent;
			color: $db-colors-secondary-enabled;
		}
		&:active {
			background-color: $button-secondaryOutline-active-backgroundColor;
		}
	}

	&%variant-secondarySolid {
		color: $db-colors-secondary-enabled;
		background-color: $button-secondarySolid--backgroundColor;
		&:not(:disabled) {
			&:hover {
				// TODO: This could probably get simplified later on e.g. via CSS variables
				background-color: $button-secondarySolid-hover-backgroundColor;
			}
		}
		&:active {
			background-color: $button-secondarySolid-active-backgroundColor;
		}
	}

	&%variant-tertiaryPlain {
		color: $db-colors-secondary-enabled;
		border: 2px solid transparent;
		background-color: transparent; // shame.css
		&:not(:disabled) {
			&:hover {
				// TODO: This could probably get simplified later on e.g. via CSS variables
				background-color: $button-secondaryOutline-hover-backgroundColor;
			}
		}
		&:disabled {
			background-color: transparent; // shame.css
		}
		&:active {
			background-color: $button-secondaryOutline-active-backgroundColor;
		}
	}

	// Sizes
	&%size-Small {
		min-height: to-rem($pxValue: 36);
		&:not(.is-icon-text-replace) {
			font-size: to-rem($pxValue: 14);
		}
		&[data-icon],
		&[data-icon-before] {
			@include iconMeta(20);
		}
		&[data-icon-after] {
			@include iconMeta($size: 20, $position: "after");
		}
		// Square icon only buttons
		&.is-icon-text-replace {
			width: to-rem($pxValue: 36);
		}
	}
	&%size-Large {
		min-height: to-rem($pxValue: 52);
		&:not(.is-icon-text-replace) {
			font-size: to-rem($pxValue: 20);
		}
		// Square icon only buttons
		&.is-icon-text-replace {
			width: to-rem($pxValue: 52);
		}
	}

	&[data-size="small"] {
		@extend %size-Small;
	}
	&[data-size="large"] {
		@extend %size-Large;
	}

	// Providing the variants as HTML attributes as well
	&[data-variant="brand-primary"] {
		@extend %variant-brand-primary;
	}
	&[data-variant="primary"] {
		@extend %variant-primary;
	}
	&[data-variant="secondary-outline"] {
		@extend %variant-secondaryOutline;
	}
	&[data-variant="secondary-solid"] {
		@extend %variant-secondarySolid;
	}
	&[data-variant="tertiary-plain"] {
		@extend %variant-tertiaryPlain;
	}

	&:disabled {
		background-color: #d7dce1;
		color: $db-colors-secondary-enabled;
		opacity: 0.5;
	}
}
