@use "@db-ui/base/build/scss/helpers/functions" as *;
@use "@db-ui/base/build/scss/icon/icons.variables" as *;
@use "@db-ui/base/build/scss/icon/icons.helpers" as *;
@import "../../../css/db-ui-core.variables";

$sitesearch-form-full-maxWidth: to-rem(
	$pxValue: 500
) !default;
$sitesearch-input--backgroundColor: #fdfdfd !default; // TODO: This would need to get replaced by the correct (semantic) color
