@import "../../../css/helpers/functions";

$sitesearch-form-full-maxWidth: to-rem(
	$pxValue: 500
) !default;
$sitesearch-input--backgroundColor: #fdfdfd !default; // TODO: This would need to get replaced by the correct (semantic) color
