/**
* NEUTRAL - Placeholder Utilities          
**/

%db-bg-neutral-0 {    
    background-color: $db-colors-neutral-bg-0-enabled;
    color: $db-colors-neutral-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-neutral-0;
        
        &:hover {
            background-color: $db-colors-neutral-bg-0-hover;
        }

        &:active {
            background-color: $db-colors-neutral-bg-0-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-neutral-on-bg-enabled;
         
        &:hover {
            color: $db-colors-neutral-on-bg-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-neutral-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-neutral-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-neutral-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-weak-pressed;
        }
        
        }
    }
}

%db-bg-neutral-1 {    
    background-color: $db-colors-neutral-bg-1-enabled;
    color: $db-colors-neutral-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-neutral-1;
        
        &:hover {
            background-color: $db-colors-neutral-bg-1-hover;
        }

        &:active {
            background-color: $db-colors-neutral-bg-1-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-neutral-on-bg-enabled;
         
        &:hover {
            color: $db-colors-neutral-on-bg-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-neutral-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-neutral-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-neutral-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-weak-pressed;
        }
        
        }
    }
}

%db-bg-neutral-2 {    
    background-color: $db-colors-neutral-bg-2-enabled;
    color: $db-colors-neutral-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-neutral-2;
        
        &:hover {
            background-color: $db-colors-neutral-bg-2-hover;
        }

        &:active {
            background-color: $db-colors-neutral-bg-2-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-neutral-on-bg-enabled;
         
        &:hover {
            color: $db-colors-neutral-on-bg-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-neutral-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-neutral-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-neutral-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-weak-pressed;
        }
        
        }
    }
}

%db-bg-neutral-3 {    
    background-color: $db-colors-neutral-bg-3-enabled;
    color: $db-colors-neutral-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-neutral-3;
        
        &:hover {
            background-color: $db-colors-neutral-bg-3-hover;
        }

        &:active {
            background-color: $db-colors-neutral-bg-3-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-neutral-on-bg-enabled;
         
        &:hover {
            color: $db-colors-neutral-on-bg-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-neutral-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-neutral-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-neutral-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-weak-pressed;
        }
        
        }
    }
}

%db-bg-neutral-4 {    
    background-color: $db-colors-neutral-bg-4-enabled;
    color: $db-colors-neutral-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-neutral-4;
        
        &:hover {
            background-color: $db-colors-neutral-bg-4-hover;
        }

        &:active {
            background-color: $db-colors-neutral-bg-4-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-neutral-on-bg-enabled;
         
        &:hover {
            color: $db-colors-neutral-on-bg-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-neutral-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-neutral-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-neutral-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-weak-pressed;
        }
        
        }
    }
}

%db-bg-neutral-5 {    
    background-color: $db-colors-neutral-bg-5-enabled;
    color: $db-colors-neutral-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-neutral-5;
        
        &:hover {
            background-color: $db-colors-neutral-bg-5-hover;
        }

        &:active {
            background-color: $db-colors-neutral-bg-5-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-neutral-on-bg-enabled;
         
        &:hover {
            color: $db-colors-neutral-on-bg-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-neutral-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-neutral-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-neutral-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-weak-pressed;
        }
        
        }
    }
}

%db-bg-neutral-6 {    
    background-color: $db-colors-neutral-bg-6-enabled;
    color: $db-colors-neutral-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-neutral-6;
        
        &:hover {
            background-color: $db-colors-neutral-bg-6-hover;
        }

        &:active {
            background-color: $db-colors-neutral-bg-6-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-neutral-on-bg-enabled;
         
        &:hover {
            color: $db-colors-neutral-on-bg-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-neutral-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-neutral-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-neutral-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-weak-pressed;
        }
        
        }
    }
}

%db-bg-neutral-transparent-full {    
    background-color: $db-colors-neutral-bg-transparent-full-enabled;
    color: $db-colors-neutral-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-neutral-transparent-full;
        
        &:hover {
            background-color: $db-colors-neutral-bg-transparent-full-hover;
        }

        &:active {
            background-color: $db-colors-neutral-bg-transparent-full-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-neutral-on-bg-enabled;
         
        &:hover {
            color: $db-colors-neutral-on-bg-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-neutral-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-neutral-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-neutral-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-weak-pressed;
        }
        
        }
    }
}

%db-bg-neutral-transparent-semi {    
    background-color: $db-colors-neutral-bg-transparent-semi-enabled;
    color: $db-colors-neutral-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-neutral-transparent-semi;
        
        &:hover {
            background-color: $db-colors-neutral-bg-transparent-semi-hover;
        }

        &:active {
            background-color: $db-colors-neutral-bg-transparent-semi-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-neutral-on-bg-enabled;
         
        &:hover {
            color: $db-colors-neutral-on-bg-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-neutral-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-neutral-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-neutral-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-neutral-on-bg-weak-pressed;
        }
        
        }
    }
}
/**
* PRIMARY - Placeholder Utilities          
**/
%db-text-primary {
    color: $db-colors-primary-enabled;

    &-ia,
    &[data-variant="ia"] {
        color: $db-colors-primary-enabled;
        
        &:hover {
            color: $db-colors-primary-hover;
        }

        &:active {
            color: $db-colors-primary-pressed;
        }
        
    }
}

%db-bg-primary {
    background-color: $db-colors-primary-enabled;
    color: $db-colors-primary-on-enabled;
    
    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-primary;
        
        &:hover {
            background-color: $db-colors-primary-hover;
        }

        &:active {
            background-color: $db-colors-primary-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
       color: $db-colors-primary-on-enabled;       
        
        &:hover {
            color: $db-colors-primary-on-hover;
        }

        &:active {
            color: $db-colors-primary-on-pressed;
        }
        
    }
}
%db-bg-primary-light {    
    background-color: $db-colors-primary-bg-light-enabled;
    color: $db-colors-primary-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-primary-light;
        
        &:hover {
            background-color: $db-colors-primary-bg-light-hover;
        }

        &:active {
            background-color: $db-colors-primary-bg-light-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-primary-on-bg-enabled;
         
        &:hover {
            color: $db-colors-primary-on-bg-hover;
        }

        &:active {
            color: $db-colors-primary-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-primary-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-primary-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-primary-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-primary-on-bg-weak-pressed;
        }
        
        }
    }
}

%db-bg-primary-transparent-semi {    
    background-color: $db-colors-primary-bg-transparent-semi-enabled;
    color: $db-colors-primary-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-primary-transparent-semi;
        
        &:hover {
            background-color: $db-colors-primary-bg-transparent-semi-hover;
        }

        &:active {
            background-color: $db-colors-primary-bg-transparent-semi-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-primary-on-bg-enabled;
         
        &:hover {
            color: $db-colors-primary-on-bg-hover;
        }

        &:active {
            color: $db-colors-primary-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-primary-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-primary-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-primary-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-primary-on-bg-weak-pressed;
        }
        
        }
    }
}
/**
* CRITICAL - Placeholder Utilities          
**/
%db-text-critical {
    color: $db-colors-critical-enabled;

    &-ia,
    &[data-variant="ia"] {
        color: $db-colors-critical-enabled;
        
        &:hover {
            color: $db-colors-critical-hover;
        }

        &:active {
            color: $db-colors-critical-pressed;
        }
        
    }
}

%db-bg-critical {
    background-color: $db-colors-critical-enabled;
    color: $db-colors-critical-on-enabled;
    
    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-critical;
        
        &:hover {
            background-color: $db-colors-critical-hover;
        }

        &:active {
            background-color: $db-colors-critical-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
       color: $db-colors-critical-on-enabled;       
        
        &:hover {
            color: $db-colors-critical-on-hover;
        }

        &:active {
            color: $db-colors-critical-on-pressed;
        }
        
    }
}
%db-bg-critical-transparent-semi {    
    background-color: $db-colors-critical-bg-transparent-semi-enabled;
    color: $db-colors-critical-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-critical-transparent-semi;
        
        &:hover {
            background-color: $db-colors-critical-bg-transparent-semi-hover;
        }

        &:active {
            background-color: $db-colors-critical-bg-transparent-semi-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-critical-on-bg-enabled;
         
        &:hover {
            color: $db-colors-critical-on-bg-hover;
        }

        &:active {
            color: $db-colors-critical-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-critical-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-critical-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-critical-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-critical-on-bg-weak-pressed;
        }
        
        }
    }
}

%db-bg-critical-light {    
    background-color: $db-colors-critical-bg-light-enabled;
    color: $db-colors-critical-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-critical-light;
        
        &:hover {
            background-color: $db-colors-critical-bg-light-hover;
        }

        &:active {
            background-color: $db-colors-critical-bg-light-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-critical-on-bg-enabled;
         
        &:hover {
            color: $db-colors-critical-on-bg-hover;
        }

        &:active {
            color: $db-colors-critical-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-critical-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-critical-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-critical-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-critical-on-bg-weak-pressed;
        }
        
        }
    }
}
/**
* SECONDARY - Placeholder Utilities          
**/
%db-text-secondary {
    color: $db-colors-secondary-enabled;

    &-ia,
    &[data-variant="ia"] {
        color: $db-colors-secondary-enabled;
        
        &:hover {
            color: $db-colors-secondary-hover;
        }

        &:active {
            color: $db-colors-secondary-pressed;
        }
        
    }
}

%db-bg-secondary {
    background-color: $db-colors-secondary-enabled;
    color: $db-colors-secondary-on-enabled;
    
    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-secondary;
        
        &:hover {
            background-color: $db-colors-secondary-hover;
        }

        &:active {
            background-color: $db-colors-secondary-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
       color: $db-colors-secondary-on-enabled;       
        
        &:hover {
            color: $db-colors-secondary-on-hover;
        }

        &:active {
            color: $db-colors-secondary-on-pressed;
        }
        
    }
}
%db-bg-secondary-transparent-semi {    
    background-color: $db-colors-secondary-bg-transparent-semi-enabled;
    color: $db-colors-secondary-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-secondary-transparent-semi;
        
        &:hover {
            background-color: $db-colors-secondary-bg-transparent-semi-hover;
        }

        &:active {
            background-color: $db-colors-secondary-bg-transparent-semi-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-secondary-on-bg-enabled;
         
        &:hover {
            color: $db-colors-secondary-on-bg-hover;
        }

        &:active {
            color: $db-colors-secondary-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-secondary-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-secondary-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-secondary-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-secondary-on-bg-weak-pressed;
        }
        
        }
    }
}

%db-bg-secondary-light {    
    background-color: $db-colors-secondary-bg-light-enabled;
    color: $db-colors-secondary-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-secondary-light;
        
        &:hover {
            background-color: $db-colors-secondary-bg-light-hover;
        }

        &:active {
            background-color: $db-colors-secondary-bg-light-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-secondary-on-bg-enabled;
         
        &:hover {
            color: $db-colors-secondary-on-bg-hover;
        }

        &:active {
            color: $db-colors-secondary-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-secondary-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-secondary-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-secondary-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-secondary-on-bg-weak-pressed;
        }
        
        }
    }
}
/**
* SUCCESS - Placeholder Utilities          
**/
%db-text-success {
    color: $db-colors-success-enabled;

    &-ia,
    &[data-variant="ia"] {
        color: $db-colors-success-enabled;
        
        &:hover {
            color: $db-colors-success-hover;
        }

        &:active {
            color: $db-colors-success-pressed;
        }
        
    }
}

%db-bg-success {
    background-color: $db-colors-success-enabled;
    color: $db-colors-success-on-enabled;
    
    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-success;
        
        &:hover {
            background-color: $db-colors-success-hover;
        }

        &:active {
            background-color: $db-colors-success-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
       color: $db-colors-success-on-enabled;       
        
        &:hover {
            color: $db-colors-success-on-hover;
        }

        &:active {
            color: $db-colors-success-on-pressed;
        }
        
    }
}
%db-bg-success-light {    
    background-color: $db-colors-success-bg-light-enabled;
    color: $db-colors-success-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-success-light;
        
        &:hover {
            background-color: $db-colors-success-bg-light-hover;
        }

        &:active {
            background-color: $db-colors-success-bg-light-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-success-on-bg-enabled;
         
        &:hover {
            color: $db-colors-success-on-bg-hover;
        }

        &:active {
            color: $db-colors-success-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-success-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-success-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-success-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-success-on-bg-weak-pressed;
        }
        
        }
    }
}

%db-bg-success-transparent-semi {    
    background-color: $db-colors-success-bg-transparent-semi-enabled;
    color: $db-colors-success-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-success-transparent-semi;
        
        &:hover {
            background-color: $db-colors-success-bg-transparent-semi-hover;
        }

        &:active {
            background-color: $db-colors-success-bg-transparent-semi-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-success-on-bg-enabled;
         
        &:hover {
            color: $db-colors-success-on-bg-hover;
        }

        &:active {
            color: $db-colors-success-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-success-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-success-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-success-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-success-on-bg-weak-pressed;
        }
        
        }
    }
}
/**
* WARNING - Placeholder Utilities          
**/
%db-text-warning {
    color: $db-colors-warning-enabled;

    &-ia,
    &[data-variant="ia"] {
        color: $db-colors-warning-enabled;
        
        &:hover {
            color: $db-colors-warning-hover;
        }

        &:active {
            color: $db-colors-warning-pressed;
        }
        
    }
}

%db-bg-warning {
    background-color: $db-colors-warning-enabled;
    color: $db-colors-warning-on-enabled;
    
    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-warning;
        
        &:hover {
            background-color: $db-colors-warning-hover;
        }

        &:active {
            background-color: $db-colors-warning-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
       color: $db-colors-warning-on-enabled;       
        
        &:hover {
            color: $db-colors-warning-on-hover;
        }

        &:active {
            color: $db-colors-warning-on-pressed;
        }
        
    }
}
%db-bg-warning-transparent-semi {    
    background-color: $db-colors-warning-bg-transparent-semi-enabled;
    color: $db-colors-warning-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-warning-transparent-semi;
        
        &:hover {
            background-color: $db-colors-warning-bg-transparent-semi-hover;
        }

        &:active {
            background-color: $db-colors-warning-bg-transparent-semi-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-warning-on-bg-enabled;
         
        &:hover {
            color: $db-colors-warning-on-bg-hover;
        }

        &:active {
            color: $db-colors-warning-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-warning-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-warning-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-warning-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-warning-on-bg-weak-pressed;
        }
        
        }
    }
}

%db-bg-warning-light {    
    background-color: $db-colors-warning-bg-light-enabled;
    color: $db-colors-warning-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-warning-light;
        
        &:hover {
            background-color: $db-colors-warning-bg-light-hover;
        }

        &:active {
            background-color: $db-colors-warning-bg-light-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-warning-on-bg-enabled;
         
        &:hover {
            color: $db-colors-warning-on-bg-hover;
        }

        &:active {
            color: $db-colors-warning-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-warning-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-warning-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-warning-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-warning-on-bg-weak-pressed;
        }
        
        }
    }
}
/**
* INFORMATION - Placeholder Utilities          
**/
%db-text-information {
    color: $db-colors-information-enabled;

    &-ia,
    &[data-variant="ia"] {
        color: $db-colors-information-enabled;
        
        &:hover {
            color: $db-colors-information-hover;
        }

        &:active {
            color: $db-colors-information-pressed;
        }
        
    }
}

%db-bg-information {
    background-color: $db-colors-information-enabled;
    color: $db-colors-information-on-enabled;
    
    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-information;
        
        &:hover {
            background-color: $db-colors-information-hover;
        }

        &:active {
            background-color: $db-colors-information-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
       color: $db-colors-information-on-enabled;       
        
        &:hover {
            color: $db-colors-information-on-hover;
        }

        &:active {
            color: $db-colors-information-on-pressed;
        }
        
    }
}
%db-bg-information-light {    
    background-color: $db-colors-information-bg-light-enabled;
    color: $db-colors-information-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-information-light;
        
        &:hover {
            background-color: $db-colors-information-bg-light-hover;
        }

        &:active {
            background-color: $db-colors-information-bg-light-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-information-on-bg-enabled;
         
        &:hover {
            color: $db-colors-information-on-bg-hover;
        }

        &:active {
            color: $db-colors-information-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-information-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-information-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-information-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-information-on-bg-weak-pressed;
        }
        
        }
    }
}

%db-bg-information-transparent-semi {    
    background-color: $db-colors-information-bg-transparent-semi-enabled;
    color: $db-colors-information-on-bg-enabled;

    &-ia,
    &[data-variant="ia"] {
        @extend %db-bg-information-transparent-semi;
        
        &:hover {
            background-color: $db-colors-information-bg-transparent-semi-hover;
        }

        &:active {
            background-color: $db-colors-information-bg-transparent-semi-pressed;
        }
        
    }

    &-text-ia,
    &[data-variant="text-ia"] {
        color: $db-colors-information-on-bg-enabled;
         
        &:hover {
            color: $db-colors-information-on-bg-hover;
        }

        &:active {
            color: $db-colors-information-on-bg-pressed;
        }
        
    }

    %weak {
        color: $db-colors-information-on-bg-weak-enabled;

        &-ia,
        &[data-variant="ia"] {
            color: $db-colors-information-on-bg-weak-enabled;
            
        &:hover {
            color: $db-colors-information-on-bg-weak-hover;
        }

        &:active {
            color: $db-colors-information-on-bg-weak-pressed;
        }
        
        }
    }
}
