@font-face {
	font-family: $db-font-db-screenhead-light-font-family;
	font-style: normal;
	font-weight: $db-font-db-screenhead-light-font-weight;
	src: local($db-font-db-screenhead-light-name),
		url($db-font-db-screenhead-light-woff2) format("woff2"),
		url($db-font-db-screenhead-light-woff) format("woff");
}

@font-face {
	font-family: $db-font-db-screenhead-black-font-family;
	font-style: normal;
	font-weight: $db-font-db-screenhead-black-font-weight;
	src: local($db-font-db-screenhead-black-name),
		url($db-font-db-screenhead-black-woff2) format("woff2"),
		url($db-font-db-screenhead-black-woff) format("woff");
}

@font-face {
	font-family: $db-font-db-screensans-regular-font-family;
	font-style: normal;
	font-weight: $db-font-db-screensans-regular-font-weight;
	src: local($db-font-db-screensans-regular-name),
		url($db-font-db-screensans-regular-woff2) format("woff2"),
		url($db-font-db-screensans-regular-woff) format("woff");
}

@font-face {
	font-family: $db-font-db-screensans-bold-font-family;
	font-style: normal;
	font-weight: $db-font-db-screensans-bold-font-weight;
	src: local($db-font-db-screensans-bold-name),
		url($db-font-db-screensans-bold-woff2) format("woff2"),
		url($db-font-db-screensans-bold-woff) format("woff");
}
