/* stylelint-disable scss/at-import-partial-extension */
@import "../../colors/enterprise/colors.variables";
/* stylelint-enable scss/at-import-partial-extension */

.DO-NOT-COPY-THIS-CLASS-example-fonts-ondarkbackground {
	background-color: $Background;
	color: $LightBG;
}

.DO-NOT-COPY-THIS-CLASS-example-fonts-light {
	color: $db-color-cool-gray-500;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-1st-priority-light {
	color: $db-color-red-500;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-1st-priority-dark {
	color: $db-color-red-400;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-2nd-priority-light {
	color: $db-color-yellow-900;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-2nd-priority-dark {
	color: $db-color-yellow-700;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-positive-light {
	color: $db-color-green-600;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-positive-dark {
	color: $db-color-light-green-400;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-neutral-light {
	color: $db-color-cyan-600;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-neutral-dark {
	color: $db-color-cyan-500;
}
