@use "../../colors/enterprise/colors.variables";
@use "@db-ui/base/build/scss/variables";

.DO-NOT-COPY-THIS-CLASS-example-fonts-ondarkbackground {
	background-color: colors.$Background;
	color: colors.$LightBG;
}

.DO-NOT-COPY-THIS-CLASS-example-fonts-light {
	color: variables.$db-color-cool-gray-500;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-1st-priority-light {
	color: variables.$db-color-red-500;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-1st-priority-dark {
	color: variables.$db-color-red-400;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-2nd-priority-light {
	color: variables.$db-color-yellow-900;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-2nd-priority-dark {
	color: variables.$db-color-yellow-700;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-positive-light {
	color: variables.$db-color-green-600;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-positive-dark {
	color: variables.$db-color-light-green-400;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-neutral-light {
	color: variables.$db-color-cyan-600;
}

.DO-NOT-COPY-THIS-CLASS-example-highlight-colors-neutral-dark {
	color: variables.$db-color-cyan-500;
}
