@use "progress.variables" as progress2;
@use "../progress.variables";
@use "../../../../css/helpers/functions";
@use "../../../00-base/colors/enterprise/colors.variables";

.pl-js-pattern-example {
	[id^="elements-progress-"][id*="-dark-background"] & {
		background-color: colors.$Background;
		color: colors.$LightBG;
		padding: functions.to-rem($pxValue: 16);
	}
}

.elm-progress {
	[id^="elements-progress-"][id*="-dark-background"]
		.pl-js-pattern-example
		& {
		progress {
			&::-webkit-progress-value {
				--progress-value--backgroundColor: #{progress.$progress-onDarkBackground-value-backgroundColor};
			}

			&::-moz-progress-bar {
				--progress-value--backgroundColor: #{progress.$progress-onDarkBackground-value-backgroundColor};
			}

			&::-ms-fill {
				--progress-value--backgroundColor: #{progress.$progress-onDarkBackground-value-backgroundColor};
			}
		}
	}

	[id="elements-progress-circular-loader-dark-background"]
		.pl-js-pattern-example
		& {
		@supports (background: conic-gradient(#000, #fff)) {
			progress {
				--progress-value--backgroundColor: #{progress.$progress-onDarkBackground-value-backgroundColor};

				& + label {
					background-color: progress.$progress-onDarkBackground-conic-inner-backgroundColor; // * TODO: possibly rework variable naming
				}
			}
		}
	}
}
