@import "progress.variables";
@import "../progress.variables";

.pl-js-pattern-example {
	[id^="elements-progress-"][id*="-dark-background"] & {
		background-color: $db-colors-secondary-enabled;
		color: $db-colors-secondary-on-enabled;
		padding: to-rem($pxValue: 16);
	}
}

.elm-progress {
	[id^="elements-progress-"][id*="-dark-background"]
		.pl-js-pattern-example
		& {
		progress {
			&::-webkit-progress-value {
				--progress-value--backgroundColor: #{$progress-onDarkBackground-value-backgroundColor};
			}

			&::-moz-progress-bar {
				--progress-value--backgroundColor: #{$progress-onDarkBackground-value-backgroundColor};
			}

			&::-ms-fill {
				--progress-value--backgroundColor: #{$progress-onDarkBackground-value-backgroundColor};
			}
		}
	}

	[id="elements-progress-circular-loader-dark-background"]
		.pl-js-pattern-example
		& {
		@supports (background: conic-gradient(#000, #fff)) {
			progress {
				--progress-value--backgroundColor: #{$progress-onDarkBackground-value-backgroundColor};

				& + label {
					background-color: $progress-onDarkBackground-conic-inner-backgroundColor; // * TODO: possibly rework variable naming
				}
			}
		}
	}
}
