@import "../../../css/partials.meta";
@import "language-switcher.variables";

.cmp-language-switcher {
	list-style: none;

	margin-right: to-rem($pxValue: 16);
	position: relative;

	&:hover,
	&:focus {
		li {
			&:not([aria-selected]) {
				visibility: visible;
			}

			&[aria-selected="true"] {
				color: $db-colors-primary-enabled;
			}
		}
	}

	li {
		background-color: #fdfdfd; // TODO: This would need to get replaced by the correct (semantic) color

		position: absolute;

		top: to-rem($pxValue: 26);

		.rea-header & {
			top: to-rem($pxValue: 55);

			z-index: $z-index-rea-header-cmp-language-switcher-li; // * TODO: possibly rework variable naming

			// TODO: This is an enhancement for more languages, but obviously doesn't scale that nicely and would need some rework
			&:not([aria-selected="true"]) ~ li:not([aria-selected="true"]) {
				top: to-rem($pxValue: 54 * 2);

				& ~ li:not([aria-selected="true"]) {
					top: to-rem($pxValue: 54 * 3);

					& ~ li:not([aria-selected="true"]) {
						top: to-rem($pxValue: 54 * 4);

						& ~ li:not([aria-selected="true"]) {
							top: to-rem($pxValue: 54 * 5);

							& ~ li:not([aria-selected="true"]) {
								top: to-rem($pxValue: 54 * 6);
							}
						}
					}
				}
			}
			@media screen and (min-width: 1024px) {
				top: to-rem($pxValue: 56);
			}
		}

		.elm-link {
			color: inherit;
			text-decoration: none;
		}

		&:not([aria-selected]) {
			visibility: hidden;

			.elm-link {
				padding-bottom: to-rem($pxValue: 15);
				padding-right: to-rem($pxValue: 34);
				padding-top: to-rem($pxValue: 15);

				&:hover,
				&:focus {
					// TODO: We need to replace this by its correct color variable
					background-color: #d7dce1;
				}
			}
		}

		&[aria-selected] {
			position: initial;

			.elm-link {
				@include icon(
					glyph(expand-more),
					24,
					"outline",
					"after",
					$partial: $partial
				);

				padding-bottom: to-rem($pxValue: 22);

				&:hover {
					color: $db-colors-primary-enabled;
				}

				&::after {
					float: right;

					margin-left: to-rem($pxValue: 5);
				}
			}
		}

		.elm-link {
			display: inline-block;

			padding-left: to-rem($pxValue: 18);

			&:hover,
			&:focus {
				color: initial;
			}
		}
	}
}
