<ul class="cmp-language-switcher">
	<li>
		{{> elements-link href='#' hreflang='en' value='EN' title='English language' rel='alternate' }}
	</li>
	<li>
		{{> elements-link href='#' hreflang='de' value='DE' title='Deutsche Sprache' rel='bookmark' current="page" }}
	</li>
	<li>
		{{> elements-link href='#' hreflang='fr' value='FR' title='Langue française' rel='alternate' }}
	</li>
</ul>
