@import "../../../css/helpers/functions";

// * TODO: possibly rework variable naming
$rea-main-h1-font-size: 36 !default;
$rea-main-h1-font-size-small: 28 !default;
$rea-main-h2-font-size: 24 !default;
$rea-main-h2-font-size-small: 20 !default;
$rea-main-h3-font-size: 20 !default;
$rea-main-h3-font-size-small: 18 !default;
$rea-main-h4-font-size: 18 !default;
$rea-main-h4-font-size-small: 16 !default;
