@import "headline.variables";

.elm-headline {
	margin-bottom: to-rem($pxValue: 16);

	// * TODO: These declarations make sense for the moment, but should get aligned with overall definitions of spacing around elements
	margin-top: to-rem($pxValue: 24);
}

h1,
h2,
h3 {
	&.elm-headline {
		font-family: $db-font-family-headline;
		font-weight: 900;
	}
}
h1 {
	&.elm-headline {
		font-size: $rea-main-h1-font-size; // * TODO: possibly rework variable naming
		line-height: 1.11em;
		@media screen and (max-width: 767px) {
			font-size: $rea-main-h1-font-size-small; // * TODO: possibly rework variable naming
			line-height: 1.14;
		}
	}
}
h2 {
	&.elm-headline {
		font-size: $rea-main-h2-font-size; // * TODO: possibly rework variable naming
		line-height: 1.17em;
		@media screen and (max-width: 767px) {
			font-size: $rea-main-h2-font-size-small; // * TODO: possibly rework variable naming
			line-height: 1.2;
		}
	}
}
h3 {
	&.elm-headline {
		font-size: $rea-main-h3-font-size; // * TODO: possibly rework variable naming
		line-height: 1.2em;
		@media screen and (max-width: 767px) {
			font-size: $rea-main-h3-font-size-small; // * TODO: possibly rework variable naming
			line-height: 1.33;
		}
	}
}
h4 {
	&.elm-headline {
		font-weight: 400;
		font-size: $rea-main-h4-font-size; // * TODO: possibly rework variable naming
		line-height: 1.33;
		@media screen and (max-width: 767px) {
			font-size: $rea-main-h4-font-size-small; // * TODO: possibly rework variable naming
			line-height: 1.25;
		}
	}
}
