@import "../../../css/partials.meta";
@import "toasts.variables";

.cmp-toasts {
	margin: 0;
	padding: 0;
	background-color: #fdfdfd; // TODO: This would need to get replaced by the correct (semantic) color

	&.is-dark {
		background-color: $db-color-cool-gray-700;
		color: #fdfdfd; // TODO: This would need to get replaced by the correct (semantic) color

		.icon {
			color: #fdfdfd; // TODO: This would need to get replaced by the correct (semantic) color
		}
	}

	& > div {
		box-shadow: $box-shadow-01, $box-shadow-02;
		&,
		& figcaption {
			display: flex;
			flex-direction: column;
		}

		position: relative;
		text-align: left;

		figure {
			margin-right: 50px;

			figcaption {
				margin-right: 10px;
				flex-grow: 1;
				max-width: 60ch;

				.icon {
					@include icon(glyph(close), 24, "outline", $partial: $partial);
					@include is-icon-text-replace();
					color: $db-color-cool-gray-600;

					font-weight: 700;

					position: absolute;
					top: to-rem(14);
					right: to-rem(10);

					width: to-rem(29);

					font-style: normal;
				}
			}
		}
	}
}
