{{! TODO: The following conditional construct should obviously get simplified in the future }}
{{#unless iconVariants }}
	{{> elements-chip label="Title" id-suffix="chip01" }}
	{{#each variants }}
		{{> elements-chip id-suffix=@index icon=../icon icon-after=../icon-after selection=../selection name=../name disabled=../disabled }}
	{{/each}}

{{else}}
	{{#each iconVariants}}
		<p>{{> elements-chip label="Title" id-suffix=@index }}</p>
	{{/each }}
{{/unless }}
