<nav class="cmp-breadcrumb" aria-label="Breadcrumb">
	<ol>
		<li>{{> elements-link href="#" value="Startseite" }}</li>
		<li>{{> elements-link href="#" value="Seite XYZ" }}</li>
		<li>{{> elements-link href="#" value="Seite XYZ" }}</li>
		<li>{{> elements-link href="#" value="Seite XYZ" }}</li>
		<li>{{> elements-link href="#" value="Seite XYZ" }}</li>
		<li>{{> elements-link href="#" value="Seite XYZ" current="location" }}</li>
	</ol>
</nav>
