// Icon SCSS mixin
@mixin icon(
	$glyph: "",
	$size: $icon-size,
	$style: $icon-style,
	$position: "before",
	$partial: false
) {
	&::#{$position} {
		--icon-font-family: "#{"icons-" + $size + "-" + $style}", "missing-icons" !important;
		--icon-font-size: #{to-rem($size)};

		@if $position == "before" {
			--icon-margin-right: #{$icon-content-space};
		}
		@if $position == "after" {
			--icon-margin-left: #{$icon-content-space};
		}

		@if $glyph != "" {
			--icon-glyph: "#{$glyph}";
		}
		@if $partial {
			/*** icon - partial ***/
			// * use !important to prevent issues with browser extensions that change fonts
			font-family: var(--icon-font-family) !important;

			font-size: var(--icon-font-size);

			vertical-align: middle;

			content: var(--icon-glyph);

			font-style: normal;
			font-weight: normal; // CSS variables fallback
			font-weight: var(--icon-font-weight, normal);
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			display: inline-block;

			margin-right: var(--icon-margin-right);
			margin-left: var(--icon-margin-left);

			// * Better Font Rendering ===========
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			// Hiding icon from screenreaders
			@supports (content: ""/"") {
				content: var(--icon-glyph) / ""; // https://www.w3.org/TR/css-content-3/#alt
			}
			-webkit-alt: "";
			alt: "";
			speak: none;
			@media aural {
				content: none;
			}
			@media speech {
				content: none;
			}
		} @else {
			@extend %icon;
		}
	}
}

// SCSS mixin for elements that text should get hidden in favour of only displaying the included icon
@mixin is-icon-text-replace($position: "before") {
	font-size: 0;

	@if $position == "before" {
		&::before {
			--icon-margin-right: 0;
		}
	} @else {
		&::after {
			--icon-margin-left: 0;
		}
	}
}

// Icon glyph mixin
@function glyph($glyph) {
	@return map-get($icon-glyphs, $glyph);
}

// Icon meta data mixin
@mixin iconMeta($size: $icon-size, $style: $icon-style, $position: "before") {
	&::#{$position} {
		--icon-font-family: "#{"icons-" + $size + "-" + $style}", "missing-icons" !important;
		--icon-font-size: #{to-rem($size)};
	}
}
