.DO-NOT-COPY-THIS-CLASS-example-icon-list {
	&,
	ol {
		list-style: none;

		padding-left: 0;
	}

	&.functional {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.DO-NOT-COPY-THIS-CLASS-example-bg-variants-regular,
		.DO-NOT-COPY-THIS-CLASS-example-bg-variants-dark {
			min-width: 250px;
		}

		.DO-NOT-COPY-THIS-CLASS-example-bg-variants-regular {
			ol {
				justify-content: flex-end;
			}
		}

		details {
			summary {
				cursor: pointer;

				// Replace existing marker with an icon from the library
				&::-webkit-details-marker {
					display: none;
				}
				// … and using some other declaration for Mozilla Firefox
				&:first-of-type {
					list-style-type: none;
				}
			}

			ul {
				li {
					display: list-item;
				}
			}
		}
	}

	& > li {
		display: flex;
	}

	&.icons {
		ol {
			color: $db-color-cool-gray-700;
		}

		li {
			border-radius: 4px;

			color: $db-color-cool-gray-700;
			display: inline-block;

			margin: to-rem(4);
			padding: 1rem 0.25rem;

			&.DO-NOT-COPY-THIS-CLASS-example-bg-variants-turquoise {
				background-color: $db-color-turquoise-400;
			}

			&.DO-NOT-COPY-THIS-CLASS-example-bg-variants-red {
				--db-icon-color: #fff;
				--db-icon-pulse-color: #fff;
				background-color: $db-color-red-500;
			}

			&.DO-NOT-COPY-THIS-CLASS-example-bg-variants-cyan {
				--db-icon-pulse-color: currentColor;
				background-color: $db-color-cyan-200;
			}

			&.DO-NOT-COPY-THIS-CLASS-example-bg-variants-dark {
				--db-icon-color: #fff;
				background-color: #272d37; // TODO: richtige Farbvariable raus suchen

				li {
					color: #fff;
				}
			}
		}
	}

	&.illustrative {
		li {
			padding: to-rem(32);
		}
	}

	&.functional {
		ol {
			align-items: center;
			display: flex;
		}
	}
}
