/* stylelint-disable scss/at-import-partial-extension */
// @import "icons.variables";

@import "icons.variables";
/* stylelint-enable scss/at-import-partial-extension */
@import "icons.helpers";
@import "icons.custom-properties";
@import "icons.font-faces";
@import "icons.placeholder";

[data-icon],
[data-icon-before] {
	&::before {
		@extend %icon;
		margin-inline-end: var(--icon-margin-after, #{$icon-content-space});
	}
}

[data-icon-after] {
	&::after {
		@extend %icon;
		margin-inline-start: var(--icon-margin-before, #{$icon-content-space});
	}
}

// Providing a mechanism for text replacements
.is-icon-text-replace {
	&[data-icon],
	&[data-icon-before] {
		@include is-icon-text-replace();
	}

	&[data-icon-after] {
		@include is-icon-text-replace("after");
	}
}
