/* stylelint-disable scss/at-import-partial-extension */
@import "../../../css/db-ui-core.variables";

@import "icons.variables";
/* stylelint-enable scss/at-import-partial-extension */

// Potential TODO: usage of the standard filenames described by https://marketingportal.extranet.deutschebahn.com/de/icons-2

@font-face {
	font-display: block;
	font-family: "missing-icons";
	src: url("#{$icons-path}functional/fonts/icons-empty.woff2?4r2095")
			format("woff2"),
		url("#{$icons-path}functional/fonts/icons-empty.woff?4r2095")
			format("woff");
}

// DB UX Icons
@each $icon-style, $icon-sizes in $icon-font-families-personenverkehr {
	@each $icon-size, $icon-categories in $icon-sizes {
		@each $icon-category, $icon-font-unicodes in $icon-categories {
			@font-face {
				$icon-font-family: "icons-" + $icon-size + "-" + $icon-style;

				font-display: block;

				font-family: $icon-font-family;
				font-style: normal;
				font-weight: normal;
				src: url("#{$icons-path}functional/fonts/#{$icon-font-family+ "-" + $icon-category}.woff2?4r2095")
						format("woff2"),
					url("#{$icons-path}functional/fonts/#{$icon-font-family+ "-" + $icon-category}.woff?4r2095")
						format("woff");

				unicode-range: unquote($icon-font-unicodes);
			}
		}
	}
}
