@import "../../../css/helpers/functions";

// Default parameters
$icon-size: 24 !default;
$icon-style: "outline" !default;
$icons-font-family: '#{"icons-" + $icon-size + "-" + $icon-style}, "missing-icons"' !default;
$icon-content-space: to-rem(
	$pxValue: 6
) !default;

$icon-glyphs-personenverkehr: (
	"account": "\1f642",
	"add": "\002B",
	"add-circle": "\2295",
	"air-condition": "\2744",
	"alarm": "\23F0",
	"alarm-add": "\e1062",
	"alert": "\1F514",
	"alert-off": "\1F515",
	"calendar": "\1F4C6",
	"check-circle": "\2705",
	"credit-card": "\1F4B3",
	"delete": "\1F5D1",
	"discount": "\e1066",
	"document": "\1F5B9",
	"done": "\2713",
	"download": "\2B73",
	"edit": "\270F",
	"filter": "\e1069",
	"generic-card": "\e1070",
	"giftcard": "\1F381",
	"heart": "\2661",
	"help": "\003F",
	"info": "\1F6C8",
	"legal": "\00A7",
	"log-out": "\21A6",
	"minus": "\2212",
	"print": "\1F5A8",
	"remove": "\229D",
	"schedule": "\1F553",
	"search": "\1F50D",
	"send": "\25F9",
	"settings": "\2699",
	"share": "\e1077",
	"shopping-bag": "\1F6CD",
	"shopping-basket": "\e1079",
	"shopping-cart": "\1F6D2",
	"star": "\2606",
	"swap-horizontal": "\21C6",
	"swap-vertical": "\21F5",
	"upload": "\e1081",
	"visibility": "\1F441",
	"visibility-off": "\e1082",
	"website": "\1F310",
	"zoom-in": "\e1083",
	"zoom-out": "\e1084",
	"fast-backward-10": "\e1085",
	"fast-backward-30": "\e1086",
	"fast-backward-empty": "\293A",
	"fast-forward-10": "\e1087",
	"fast-forward-30": "\e1088",
	"fast-forward-empty": "\293B",
	"pause": "\23F8",
	"play": "\25B7",
	"skip-backward": "\23EE",
	"skip-forward": "\23ED",
	"stop": "\25A1",
	"subtitles": "\e1091",
	"volume-down": "\1F509",
	"volume-mute": "\1F508",
	"volume-off": "\1F507",
	"volume-up": "\1F50A",
	"call": "\1F4DE",
	"chat": "\1F4AC",
	"conversation": "\e1095",
	"fax": "\1F5B7",
	"feedback": "\2370",
	"mail": "\2709",
	"mobile-off": "\1F4F4",
	"mobile-phone": "\1F4F1",
	"wifi": "\e1098",
	"wifi-off": "\e1149",
	"mask": "\1F637",
	"wc": "\1F6BB",
	"wc-men": "\1F6B9",
	"wc-sign": "\1F6BE",
	"wc-woman": "\1F6BA",
	"entry-aid": "\e1150",
	"luggage-rack": "\1F9F3",
	"medical": "\271A",
	"power-outlet": "\1F50C",
	"coffee-cup": "\2615",
	"drink": "\e1101",
	"restaurant": "\1F37D",
	"1st-class": "\2488",
	"2nd-class": "\2489",
	"alternative-connection": "\e1102",
	"booking": "\e1103",
	"capacity-indicator": "\e1104",
	"capacity-indicator-fully-booked": "\e1106",
	"capacity-indicator-high": "\e1108",
	"capacity-indicator-low": "\e1110",
	"destination": "\1F4CD",
	"intermediary-stop": "\e1113",
	"round-trip": "\2B94",
	"single-trip": "\291E",
	"start": "\29BF",
	"home": "\2302",
	"map": "\1F5FA",
	"map-stop": "\e1115",
	"travel-insurance": "\e1186",
	"multiple-passenger": "\1F46D",
	"best-price": "\e1185",
	"multiple-cards": "\e1184",
	"bed": "\1F6CF",
	"aisle-not-available": "\e1183",
	"station": "\e1182",
	"parking": "\1F17F",
	"place": "\e1116",
	"set-position": "\1F78B",
	// trainstation has been deprecated in favour of the new name train-station
	// TODO: remove with the next major release
	"trainstation": "\1F689",
	"train-station": "\1F689",
	"couchette": "\e1189",
	"arrow-back": "\2190",
	"arrow-down": "\2193",
	"arrow-forward": "\2192",
	"arrow-up": "\2191",
	"cancel": "\2BBE",
	"chevron-left": "\003C",
	"chevron-right": "\003E",
	"close": "\2A2F",
	"expand-less": "\2303",
	"expand-more": "\2304",
	"fullscreen": "\e1119",
	"fullscreen-exit": "\e1120",
	"grid-view": "\1030E",
	"link": "\1F862",
	"link-external": "\1F865",
	"list": "\e1121",
	"menu": "\e1122",
	"more-horizontal": "\22EF",
	"more-vertical": "\22EE",
	"refresh": "\1F5D8",
	"error": "\e1123",
	// error-triangle has been deprecated in favour of the new name warning
	// TODO: remove with the next major release
	"error-triangle": "\26A0",
	"warning": "\26A0",
	"notify": "\e1126",
	"notify-cutoff": "\e1127",
	"aisle": "\1F4BA",
	"elderly": "\e1128",
	"handicapped": "\267F",
	"table": "\e1129",
	"window": "\e1130",
	"bahnbonus": "\e1131",
	"bahnbonus-card": "\e1132",
	"bahncard": "\e1134",
	"commuter-ticket": "\e1136",
	"komfort-check-in": "\e1137",
	"komfort-check-in-check": "\2714",
	"komfort-check-in-circle": "\1F907",
	"my-travel": "\e1138",
	"outward-journey": "\e1139",
	"qr-code": "\e1140",
	"return-journey": "\e1141",
	"ticket": "\1F3AB",
	"ticket-discount": "\e1142",
	"ticket-multiple": "\e1143",
	"time-outward-journey": "\e1144",
	"time-return-journey": "\e1145",
	"timetable": "\e1146",
	"bicycle": "\1F6B2",
	"car": "\e1151",
	"car-sequence": "\e1147",
	"ice-side-view": "\1F684",
	"sprinter": "\e1148",
	"walking": "\1F6B6",
	"logo": "\e1152",
	"buggy": "\e1153",
	"childrens-compartment": "\1F37C",
	"parent-child-compartment": "\1F46A",
	"augmented-reality": "\e1167",
	"quiet-zone": "\1F92B",
	// duplicate has been deprecated in favour of the new name copy
	// TODO: remove with the next major release
	"duplicate": "\e1154",
	"copy": "\e1154",
	"image": "\1F5BC",
	"lock-close": "\1F512",
	"lock-open": "\1F513",
	"restricted-mobility-toilet": "\e1163",
	"database": "\e1181",
	"breakfast": "\1F950",
	"no-smoking": "\1F6AD",
	"luggage-compartment": "\1F6C5",
	"environmental-mobility-check": "\1F343",
	"clothing-hanger": "\e1180",
	"reservation": "\e1179",
	"platform": "\1F6E4",
	"night": "\1F312",
	"marketplace": "\e1178",
	"hydrogen": "\e1177",
	"day": "\2600",
	"sink": "\1F9FC",
	"microphone": "\1F3A4",
	"undo": "\238C",
	"thumb-up-down": "\1F44E",
	"thumb-up": "\1F44D",
	"logbook": "\1F4D3",
	"lightbulb": "\1F4A1",
	"key": "\1F511",
	"fingerprint": "\e1171",
	"face-smiling": "\e1170",
	"face-neutral": "\e1168",
	"face-sad": "\e1169",
	"cloud-upload": "\21E7",
	"cloud-download": "\21E9",
	"cash": "\1F4B8",
	"dashboard": "\e1164",
	"resize": "\e1165",
	"sepa": "\e1166",
	"save": "\1F4BE",
	"pin": "\1F4CC",
	"folder-open": "\1F4C2",
	"folder": "\1F4C1",
	"camera": "\1F4F7",
	"compass": "\1F9ED",
	"drag-drop": "\e1187",
	"person-with-cane": "\1F9AF",
	"person-with-rollator": "\e1188",
	"sort-down": "\21A1",
	"sort-up": "\219F",
	"cloud": "\2601",
	"build": "\1F6E0",
	"bug": "\1F41B",
	"question": "\e1172",
	"receive-item": "\e1173",
	"share-item": "\e1174",
	"playground": "\1F9F8",
	"shower": "\1F6BF",
	"shower-man": "\e1175",
	"shower-women": "\e1176",
	"add-link": "\1F517",
	"attachment": "\1F4CE",
	"block": "\274E",
	"bookmark": "\1F516",
	"shopping-basket-disabled": "\e1155",
	"shopping-cart-disabled": "\e1156",
	"gps": "\e1157",
	"gps-north": "\e1158",
	"local-train": "\1F688",
	"rail-and-fly": "\e1159",
	// seat-priority has been deprecated in favour of the new name priority
	// TODO: remove with the next major release
	"seat-priority": "\e1162",
	"priority": "\e1162",
	"standing-room": "\e1160",
	"mixed-class": "\e1161",
	"transportation-train-ec": "\e900",
	"transportation-train-ic": "\e901",
	"transportation-train-ice": "\e902",
	"transportation-train-rb": "\e903",
	"transportation-train-re": "\e904",
	"transportation-bikesharing": "\e905",
	"transportation-bus-local": "\e906",
	"transportation-carsharing": "\e907",
	"transportation-bus-long-distance": "\e908",
	"transportation-airplane": "\e909",
	"transportation-s-bahn": "\e90a",
	"transportation-ship": "\e90b",
	"transportation-taxi": "\e90c",
	"transportation-train-tram": "\e90d",
	"transportation-underground": "\e90e",
	"transportation-walking": "\e90f"
) !default;

$icon-font-families-personenverkehr: (
	"outline": (
		16: (
			"action": (
				"U+002B,U+2713,U+2212"
			),
			"navigation": (
				"U+003C,U+003E,U+2A2F,U+2303,U+2304"
			)
		),
		20: (
			"action": (
				"U+1f642,U+e1062,U+e1066,U+e1069-e1070,U+e1077,U+e1079,U+e1081-e1084,U+002B,U+2295,U+23F0,U+1F514-1F515,U+1F4C6,U+2705,U+1F4B3,U+1F5D1,U+1F5B9,U+2713,U+2B73,U+270F,U+1F381,U+2661,U+003F,U+1F6C8,U+00A7,U+21A6,U+2212,U+1F5A8,U+229D,U+1F553,U+1F50D,U+25F9,U+2699,U+1F6CD,U+1F6D2,U+2606,U+21C6,U+21F5,U+1F441,U+1F310,U+e1154,U+1F5BC,U+1F512,U+1F513,U+e1155,U+e1156,U+1F517,U+1F4CE,U+e1167,U+274E,U+1F516,U+1F41B,U+1F6E0,U+1F4F7,U+1F4B8,U+2601,U+21E9,U+21E7,U+e1164,U+e1168,U+e1169,U+e1170,U+e1171,U+1F4C1,U+1F4C2,U+1F511,U+1F4A1,U+1F4D3,U+1F4CC,U+e1165,U+1F4BE,U+e1166,U+1F44D,U+1F44E,U+238C,U+1F9ED,U+e1187,U+1F9AF,U+e1188,U+21A1,U+219F"
			),
			"av": (
				"U+e1085-e1088,U+e1091,U+293A,U+293B,U+23F8,U+25B7,U+23EE,U+23ED,U+25A1,U+1F507-1F509,U+1F50A,U+1F3A4"
			),
			"brand": (
				"U+e1152"
			),
			"communication": (
				"U+1F4DE,U+e1095,U+e1098,U+e1149,U+1F4AC,U+1F5B7,U+2370,U+2709,U+1F4F4,U+1F4F1,U+e1172,U+e1173,U+e1174"
			),
			"covid-19": (
				"U+1F637"
			),
			"facilities": (
				"U+1F6BB,U+1F6B9,U+1F6BE,U+1F6BA,U+e1163,U+,U+1F6BF,U+e1175,U+e1176,U+1F9FC"
			),
			"feature": (
				"U+1F9F3,U+271A,U+1F50C,U+e1150,U+e1153,U+e1160,U+2744,U+e1180,U+2600,U+1F343,U+e1177,U+1F6C5,U+e1178,U+1F312,U+1F6AD,U+1F6E4,U+e1179"
			),
			"food": (
				"U+2615,U+e1101,U+1F37D,U+1F950"
			),
			"it": (
				"U+e1181"
			),
			"journey": (
				"U+2488,U+2489,U+e1102-e1104,U+e1106,U+e1108,U+e1110,U+e1113,U+1F4CD,U+2B94,U+291E,U+29BF,U+e1161"
			),
			"maps": (
				"U+2302,U+e1115-e1116,U+1F5FA,U+1F78B,U+1F689,U+e1157,U+e1158,U+e1182,U+1F17F"
			),
			"navigation": (
				"U+2190-2193,U+2BBE,U+e1119-e1122,U+003C,U+003E,U+2A2F,U+2303,U+2304,U+1030E,U+1F862,U+1F865,U+22EF,U+22EE,U+1F5D8"
			),
			"notification": (
				"U+e1123,U+26A0,U+e1126,U+e1127"
			),
			"seat": (
				"U+e1128-e1130,U+1F4BA,U+267F,U+1F37C,U+1F46A,U+1F92B,U+e1162,U+e1183,U+1F6CF,U+e1189"
			),
			"ticket": (
				"U+e1131-e1132,U+e1134,U+e1136-e1146,U+2714,U+1F907,U+1F3AB,U+e1185,U+e1184,U+1F46D,U+e1186"
			),
			"transportation": (
				"U+1F6B2,U+e1147,U+e1151,U+1F684,U+e1148,U+1F6B6,U+1F688,U+e1159"
			)
		),
		24: (
			"action": (
				"U+1f642,U+002B,U+2295,U+1F517,U+23F0,U+e1062,U+1F514-1F515,U+1F4CE,U+e1167,U+274E,U+1F516,U+1F41B,U+1F6E0,U+1F4C6,U+1F4F7,U+1F4B8,U+2705,U+2601,U+21E9,U+21E7,U+e1154,U+1F4B3,U+e1164,U+1F5D1,U+e1066,U+1F5B9,U+2713,U+2B73,U+270F,U+e1168,U+e1169,U+e1170,U+e1069,U+e1171,U+1F4C1,U+1F4C2,U+e1070,U+1F381,U+2661,U+003F,U+1F5BC,U+1F6C8,U+1F511,U+00A7,U+1F4A1,U+1F512,U+1F513,U+21A6,U+1F4D3,U+2212,U+1F4CC,U+1F5A8,U+229D,U+e1165,U+1F4BE,U+1F553,U+1F50D,U+25F9,U+e1166,U+2699,U+e1077,U+1F6CD,U+e1079,U+e1155,U+1F6D2,U+e1156,U+2606,U+21C6,U+21F5,U+1F44D,U+1F44E,U+238C,U+e1081,U+1F441,U+e1082,U+1F310,U+e1083,U+e1084,U+1F9ED,U+e1187,U+1F9AF,U+e1188,U+21A1,U+219F"
			),
			"av": (
				"U+e1085,U+e1086,U+293A,U+e1087,U+e1088,U+293B,U+23F8,U+25B7,U+23EE,U+23ED,U+25A1,U+e1091,U+1F509,U+1F508,U+1F507,U+1F50A,U+1F3A4"
			),
			"brand": (
				"U+e1152"
			),
			"communication": (
				"U+1F4DE,U+1F4AC,U+e1095,U+1F5B7,U+2370,U+2709,U+1F4F4,U+1F4F1,U+e1098,U+e1149,U+e1172,U+e1173,U+e1174"
			),
			"covid-19": (
				"U+1F637"
			),
			"facilities": (
				"U+1F6BB,U+1F6B9,U+1F6BE,U+1F6BA,U+e1163,U+1F9F8,U+1F6BF,U+e1175,U+e1176,U+1F9FC,"
			),
			"feature": (
				"U+1F9F3,U+271A,U+1F50C,U+e1150,U+e1153,U+e1160,U+2744,U+e1180,U+2600,U+1F343,U+e1177,U+1F6C5,U+e1178,U+1F312,U+1F6AD,U+1F6E4,U+e1179"
			),
			"food": (
				"U+2615,U+e1101,U+1F37D,U+1F950"
			),
			"it": (
				"U+e1181"
			),
			"journey": (
				"U+2488-2489,U+e1102-e1104,U+e1106,U+e1108,U+e1110,U+1F4CD,U+e1113,U+2B94,U+291E,U+29BF,U+e1161"
			),
			"maps": (
				"U+2302,U+1F5FA,U+e1115,U+e1116,U+1F78B,U+1F689,U+e1157,U+e1158,U+1F17F,U+e1182"
			),
			"navigation": (
				"U+2190-2193,U+2BBE,U+003C,U+003E,U+2A2F,U+2303,U+2304,U+e1119,U+e1120,U+1030E,U+1F862,U+1F865,U+e1121,U+e1122,U+22EF,U+22EE,U+1F5D8"
			),
			"notification": (
				"U+e1123-e1127,U+26A0"
			),
			"seat": (
				"U+1F4BA,U+e1128-e1130,U+267F,U+1F37C,U+1F46A,U+1F92B,U+e1162,U+e1183,U+1F6CF,U+e1189"
			),
			"ticket": (
				"U+e1131-e1146,U+2714,U+1F907,U+1F3AB,U+e1184,U+e1185,U+1F46D,U+e1186"
			),
			"transportation": (
				"U+1F6B2,U+e1147,U+e1151,U+1F684,U+e1148,U+1F6B6,U+1F688,U+e1159"
			)
		),
		32: (
			"action": (
				"U+1f642,U+002B,U+2295,U+1F517,U+23F0,U+e1062,U+1F514-1F515,U+1F4CE,U+e1167,U+274E,U+1F516,U+1F41B,U+1F6E0,U+1F4C6,U+1F4F7,U+1F4B8,U+2705,U+2601,U+21E9,U+21E7,U+e1154,U+1F4B3,U+e1164,U+1F5D1,U+e1066,U+1F5B9,U+2713,U+2B73,U+270F,U+e1168,U+e1169,U+e1170,U+e1069,U+e1171,U+1F4C1,U+1F4C2,U+e1070,U+1F381,U+2661,U+003F,U+1F5BC,U+1F6C8,U+1F511,U+00A7,U+1F4A1,U+1F512,U+1F513,U+21A6,U+1F4D3,U+2212,U+1F4CC,U+1F5A8,U+229D,U+e1165,U+1F4BE,U+1F553,U+1F50D,U+25F9,U+e1166,U+2699,U+e1077,U+1F6CD,U+e1079,U+e1155,U+1F6D2,U+e1156,U+2606,U+21C6,U+21F5,U+1F44D,U+1F44E,U+238C,U+e1081,U+1F441,U+e1082,U+1F310,U+e1083,U+e1084,U+1F9ED,U+e1187,U+1F9AF,U+e1188,U+21A1,U+219F"
			),
			"av": (
				"U+e1085-e1088,U+e1091,U+293A,U+293B,U+23F8,U+25B7,U+23EE,U+23ED,U+25A1,U+1F509,U+1F508,U+1F507,U+1F50A,U+1F3A4"
			),
			"brand": (
				"U+e1152"
			),
			"communication": (
				"U+1F4DE,U+1F4AC,U+e1095,U+1F5B7,U+2370,U+2709,U+1F4F4,U+1F4F1,U+e1098,U+e1149,U+e1172,U+e1173,U+e1174"
			),
			"covid-19": (
				"U+1F637"
			),
			"facilities": (
				"U+1F6B9,U+1F6BE,U+1F6BA,U+1F6BB,U+e1163,U+1F9F8,U+1F6BF,U+e1175,U+e1176,U+1F9FC"
			),
			"feature": (
				"U+1F9F3,U+271A,U+1F50C,U+e1150,U+e1153,U+e1160,U+2744,U+e1180,U+2600,U+1F343,U+e1177,U+1F6C5,U+e1178,U+1F312,U+1F6AD,U+1F6E4,U+e1179"
			),
			"food": (
				"U+2615,U+e1101,U+1F37D,U+1F950"
			),
			"it": (
				"U+e1181"
			),
			"journey": (
				"U+2488,U+2489,U+e1102-e1110,U+1F4CD,U+e1113,U+2B94,U+291E,U+29BF,U+e1161"
			),
			"maps": (
				"U+2302,U+1F5FA,U+e1116,U+1F78B,U+e1115,U+1F689,U+e1157,U+e1158,U+1F17F,U+e1182"
			),
			"navigation": (
				"U+2190-2193,U+e1119-e1122,U+2BBE,U+003C,U+003E,U+2A2F,U+2303,U+2304,U+1030E,U+1F865,U+1F862,U+22EF,U+22EE,U+1F5D8"
			),
			"notification": (
				"U+26A0,U+e1123-e1127"
			),
			"seat": (
				"U+1F4BA,U+e1128-e1130,U+267F,U+1F37C,U+1F46A,U+1F92B,U+e1162,U+e1183,U+1F6CF,U+e1189"
			),
			"ticket": (
				"U+e1131-e1146,U+2714,U+1F907,U+1F3AB,U+e1184,U+e1185,U+1F46D,U+e1186"
			),
			"transportation": (
				"U+1F6B2,U+e1147,U+e1151,U+1F684,U+e1148,U+1F6B6,U+1F688,U+e1159"
			)
		),
		48: (
			"av": (
				"U+23F8,U+25B7"
			),
			"brand": (
				"U+e1152"
			)
		),
		64: (
			"av": (
				"U+23F8,U+25B7"
			),
			"brand": (
				"U+e1152"
			)
		)
	),
	"filled": (
		20: (
			"action": (
				"U+1f642,U+2295,U+1F514,U+2705,U+1F4B3,U+e1066,U+270F,U+e1070,U+003F,U+1F6C8,U+1F5A8,U+229D,U+1F553,U+1F6CD,U+e1079,U+2661,U+2606,U+e1154,U+1F5BC,U+1F512,U+1F513,U+e1155,U+274E,U+1F516,U+1F6E0,U+1F4F7,U+2601,U+1F4C2,U+1F4C1,U+1F4CC,U+1F4BE,U+e1164,U+e1165,U+e1166,U+1F6C8,U+003F"
			),
			"av": (
				"U+25B7,U+23EE,U+23ED,U+25A1,U+e1091,U+1F3A4"
			),
			"communication": (
				"U+1F4DE,U+1F4AC,U+e1095,U+2370,U+e1172,U+e1173,U+e1174"
			),
			"feature": (
				"U+271A,U+2600,U+e1177,U+e1178,U+1F312,U+1F6E4,U+e1179"
			),
			"food": (
				"U+2615"
			),
			"it": (
				"U+e1181"
			),
			"journey": (
				"U+e1104,U+e1106,U+e1108,U+e1110,U+1F4CD"
			),
			"maps": (
				"U+2302,U+e1116,U+e1157,U+e1158,U+e1115,U+1F17F"
			),
			"navigation": (
				"U+2BBE,U+1030E"
			),
			"notification": (
				"U+e1123,U+26A0"
			),
			"ticket": (
				"U+e1132,U+e1134,U+e1184"
			)
		),
		24: (
			"action": (
				"U+1F514,U+2661,U+2606,U+1F4F7,U+1F516,U+2295,U+2705,U+2601,U+1F4CC,U+229D,U+1F6C8,U+003F"
			),
			"av": (
				"U+25B7,U+25A1,U+23EE,U+23ED,U+1F3A4"
			),
			"journey": (
				"U+e1104,U+e1106,U+e1108,U+e1110,U+1F4CD"
			),
			"maps": (
				"U+e1157,U+e1158"
			),
			"navigation": (
				"U+2BBE"
			),
			"notification": (
				"U+e1123,U+26A0"
			)
		),
		32: (
			"action": (
				"U+2606,U+2661,U+1F514,U+2295,U+1f516,U+1F4F7,U+e904,U+2705,U+2601,U+1F4CC,U+229D,U+1F6C8,U+003F"
			),
			"av": (
				"U+25B7,U+23EE,U+23ED,U+25A1,U+1F3A4"
			),
			"maps": (
				"U+e1157,U+e1158"
			),
			"navigation": (
				"U+2BBE"
			),
			"notification": (
				"U+e1123,U+26A0"
			)
		),
		48: (
			"av": (
				"U+25B7"
			)
		),
		64: (
			"av": (
				"U+25B7"
			)
		)
	)
) !default;

$icon-glyphs: $icon-glyphs-personenverkehr !default;
