@import "../../../css/helpers/functions";

// Default parameters
$icon-size: 24 !default;
$icon-style: "outline" !default;
$icons-font-family: '#{"icons-" + $icon-size + "-" + $icon-style}, "missing-icons"' !default;
$icon-content-space: to-rem(
	$pxValue: 6
) !default;

$icon-glyphs-personenverkehr: (
	"account": "\e1221",
	"add": "\002B",
	"add-circle": "\2295",
	"air-condition": "\2744",
	"alarm": "\e1244",
	"alarm-add": "\e1062",
	"alert": "\e1222",
	"alert-off": "\e1243",
	"railroad-car": "\e1193",
	"calendar": "\e1247",
	"check-circle": "\e1220",
	"credit-card": "\e1226",
	"delete": "\1F5D1",
	"discount": "\e1066",
	"document": "\1F5B9",
	"done": "\2713",
	"download": "\2B73",
	"edit": "\270F",
	"filter": "\e1069",
	"generic-card": "\e1070",
	"giftcard": "\e1250",
	"heart": "\2661",
	"help": "\003F",
	"info": "\1F6C8",
	"legal": "\00A7",
	"log-out": "\21A6",
	"minus": "\2212",
	"print": "\1F5A8",
	"remove": "\229D",
	"schedule": "\e1233",
	"search": "\e1254",
	"send": "\25F9",
	"settings": "\2699",
	"share": "\e1077",
	"shopping-bag": "\1F6CD",
	"shopping-basket": "\e1079",
	"shopping-cart": "\e1255",
	"star": "\2606",
	"swap-horizontal": "\21C6",
	"swap-vertical": "\21F5",
	"upload": "\e1081",
	"visibility": "\1F441",
	"visibility-off": "\e1082",
	"website": "\e1258",
	"zoom-in": "\e1083",
	"bicycle-trailer": "\e1192",
	"zoom-out": "\e1084",
	"fast-backward-10": "\e1085",
	"fast-backward-30": "\e1086",
	"fast-backward-empty": "\293A",
	"fast-forward-10": "\e1087",
	"fast-forward-30": "\e1088",
	"fast-forward-empty": "\293B",
	"pause": "\23F8",
	"play": "\25B7",
	"skip-backward": "\23EE",
	"skip-forward": "\23ED",
	"stop": "\25A1",
	"subway": "\e1207",
	"subtitles": "\e1091",
	"volume-down": "\e1259",
	"volume-mute": "\e1260",
	"volume-off": "\e1261",
	"volume-up": "\e1262",
	"call": "\e1235",
	"chat": "\e1236",
	"conversation": "\e1095",
	"fax": "\1F5B7",
	"feedback": "\2370",
	"mail": "\2709",
	"mobile-off": "\e1264",
	"mobile-phone": "\e1263",
	"wifi": "\e1098",
	"wifi-off": "\e1149",
	"mask": "\e1265",
	"wc": "\e1269",
	"wc-men": "\e1270",
	"wc-sign": "\e1271",
	"wc-woman": "\e1272",
	"entry-aid": "\e1150",
	"luggage-rack": "\e1275",
	"medical": "\271A",
	"power-outlet": "\e1278",
	"coffee-cup": "\e1237",
	"drink": "\e1101",
	"restaurant": "\1F37D",
	"1st-class": "\2488",
	"2nd-class": "\2489",
	"alternative-connection": "\e1102",
	"booking": "\e1103",
	"capacity-indicator": "\e1104",
	"scooter": "\e1204",
	"capacity-indicator-fully-booked": "\e1106",
	"capacity-indicator-high": "\e1108",
	"capacity-indicator-low": "\e1110",
	"destination": "\e1238",
	"intermediary-stop": "\e1113",
	"round-trip": "\2B94",
	"single-trip": "\291E",
	"start": "\29BF",
	"home": "\2302",
	"map": "\1F5FA",
	"stop-sign": "\e1115",
	// deprecated
	"map-stop": "\e1115",
	"travel-insurance": "\e1186",
	"intercity-train": "\e1216",
	"multiple-passenger": "\e1286",
	"best-price": "\e1185",
	"multiple-cards": "\e1184",
	"bed": "\1F6CF",
	"steppless-entry": "\e1217",
	"ticket-subscription": "\e1218",
	"walking-fast": "\e1219",
	"aisle-not-available": "\e1183",
	"station": "\e1182",
	"parking": "\1F17F",
	"place": "\e1116",
	"set-position": "\1F78B",
	// trainstation has been deprecated in favour of the new name train-station
	// TODO: remove with the next major release
	"trainstation": "\e1280",
	"train-station": "\e1280",
	"couchette": "\e1189",
	"arrow-back": "\2190",
	"arrow-down": "\2193",
	"arrow-forward": "\2192",
	"arrow-up": "\2191",
	"cancel": "\2BBE",
	"chevron-left": "\003C",
	"chevron-right": "\003E",
	"close": "\2A2F",
	"expand-less": "\2303",
	"carsharing": "\e1194",
	"electric-locomotive": "\e1195",
	"expand-more": "\2304",
	"fullscreen": "\e1119",
	"fullscreen-exit": "\e1120",
	"grid-view": "\1030E",
	"link": "\1F862",
	"link-external": "\1F865",
	"list": "\e1121",
	"menu": "\e1122",
	"s-bahn": "\e1203",
	"more-horizontal": "\22EF",
	"more-vertical": "\22EE",
	"refresh": "\1F5D8",
	"error": "\e1123",
	// error-triangle has been deprecated in favour of the new name warning
	// TODO: remove with the next major release
	"error-triangle": "\26A0",
	"warning": "\26A0",
	"notify": "\e1126",
	"taxi": "\e1208",
	"notify-cutoff": "\e1127",
	"aisle": "\e1281",
	"elderly": "\e1128",
	"handicapped": "\e1283",
	"table": "\e1129",
	"window": "\e1130",
	"bahnbonus": "\e1131",
	"bahnbonus-card": "\e1132",
	"bahncard": "\e1134",
	"commuter-ticket": "\e1136",
	"komfort-check-in": "\e1137",
	"komfort-check-in-check": "\2714",
	"komfort-check-in-circle": "\1F907",
	"my-travel": "\e1138",
	"outward-journey": "\e1139",
	"qr-code": "\e1140",
	"airplane": "\e1190",
	"call-a-bike": "\e1191",
	"return-journey": "\e1141",
	"ticket": "\e1287",
	"ticket-discount": "\e1142",
	"electric-scooter": "\e1196",
	"ev-car": "\e1197",
	"ticket-multiple": "\e1143",
	"time-outward-journey": "\e1144",
	"time-return-journey": "\e1145",
	"timetable": "\e1146",
	"bicycle": "\e1239",
	"car": "\e1151",
	"car-sequence": "\e1147",
	"ice-side-view": "\e1288",
	"sprinter": "\e1148",
	"walking": "\e1241",
	"logo": "\e1152",
	"buggy": "\e1153",
	"childrens-compartment": "\e1282",
	"parent-child-compartment": "\e1284",
	"augmented-reality": "\e1167",
	"quiet-zone": "\e1285",
	// duplicate has been deprecated in favour of the new name copy
	// TODO: remove with the next major release
	"duplicate": "\e1154",
	"copy": "\e1154",
	"image": "\1F5BC",
	"lock-close": "\e1229",
	"lock-open": "\e1230",
	"restricted-mobility-toilet": "\e1163",
	"database": "\e1181",
	"breakfast": "\e1279",
	"ferry": "\e1198",
	"no-smoking": "\e1276",
	"luggage-compartment": "\e1274",
	"environmental-mobility-check": "\e1273",
	"clothing-hanger": "\e1180",
	"handcart": "\e1199",
	"reservation": "\e1179",
	"platform": "\1F6E4",
	"night": "\e1289",
	"piggybank": "\e1290",
	"resize-handle-corner": "\e1291",
	"document-check": "\e1292",
	"face-delighted": "\e1293",
	"face-disappointed": "\e1294",
	"push-button": "\e1295",
	"fast-backward": "\e1296",
	"fast-forward": "\e1297",
	"marketplace": "\e1178",
	"hydrogen": "\e1177",
	"day": "\2600",
	"sink": "\e1268",
	"microphone": "\e1234",
	"undo": "\238C",
	"thumb-up-down": "\e1257",
	"local-bus": "\e1201",
	"long-distance-bus": "\e1202",
	"thumb-up": "\e1256",
	"logbook": "\e1253",
	"lightbulb": "\e1252",
	"key": "\e1251",
	"fingerprint": "\e1171",
	"face-smiling": "\e1170",
	"face-neutral": "\e1168",
	"ice": "\e1200",
	"face-sad": "\e1169",
	"cloud-upload": "\21E7",
	"cloud-download": "\21E9",
	"cash": "\e1248",
	"dashboard": "\e1164",
	"resize": "\e1165",
	"sepa": "\e1166",
	"save": "\e1232",
	"pin": "\e1231",
	"folder-open": "\e1228",
	"folder": "\e1227",
	"camera": "\e1225",
	"compass": "\e1249",
	"drag-and-drop": "\e1187",
	"person-with-cane": "\e1277",
	"hearing": "\e1211",
	"hearing-disabled": "\e1212",
	"translation": "\e1213",
	"voucher": "\e1214",
	"support-dog": "\e1215",
	"person-with-rollator": "\e1188",
	"sort-down": "\21A1",
	"sort-up": "\219F",
	"cloud": "\2601",
	"sev": "\e1205",
	"train-and-car": "\e1209",
	"tram": "\e1210",
	"speedboat": "\e1206",
	"build": "\1F6E0",
	"bug": "\e1246",
	"question": "\e1172",
	"receive-item": "\e1173",
	"share-item": "\e1174",
	"playground": "\e1266",
	"shower": "\e1267",
	"shower-men": "\e1175",
	"shower-women": "\e1176",
	"add-link": "\e1242",
	"attachment": "\e1245",
	"block": "\e1223",
	"bookmark": "\e1224",
	"shopping-basket-disabled": "\e1155",
	"shopping-cart-disabled": "\e1156",
	"gps": "\e1157",
	"gps-north": "\e1158",
	"local-train": "\e1240",
	"rail-and-fly": "\e1159",
	// seat-priority has been deprecated in favour of the new name priority
	// TODO: remove with the next major release
	"seat-priority": "\e1162",
	"priority": "\e1162",
	"standing-room": "\e1160",
	"mixed-class": "\e1161",
	"transportation-train-ec": "\e900",
	"transportation-train-ic": "\e901",
	"transportation-train-ice": "\e902",
	"transportation-train-rb": "\e903",
	"transportation-train-re": "\e904",
	"transportation-bikesharing": "\e905",
	"transportation-bus-local": "\e906",
	"transportation-carsharing": "\e907",
	"transportation-bus-long-distance": "\e908",
	"transportation-airplane": "\e909",
	"transportation-s-bahn": "\e90a",
	"transportation-ship": "\e90b",
	"transportation-taxi": "\e90c",
	"transportation-train-tram": "\e90d",
	"transportation-underground": "\e90e",
	"transportation-walking": "\e90f"
) !default;

$icon-font-families-personenverkehr: (
	"outline": (
		16: (
			"action": (
				"U+002B,U+2212,U+2713"
			),
			"navigation": (
				"U+003C,U+003E,U+2190-2193,U+2303-2304,U+2A2F"
			)
		),
		20: (
			"action": (
				"U+002B,U+003F,U+00A7,U+1F441,U+1F5A8,U+1F5B9,U+1F5BC,U+1F5D1,U+1F6C8,U+1F6CD,U+1F6E0,U+219F,U+21A1,U+21A6,U+21C6,U+21E7,U+21E9,U+21F5,U+2212,U+2295,U+229D,U+238C,U+25F9,U+2601,U+2606,U+2661,U+2699,U+270F,U+2713,U+2B73,U+e1062,U+e1066,U+e1069-e1070,U+e1077,U+e1079,U+e1081-e1084,U+e1154-e1156,U+e1164-e1171,U+e1187,U+e1211-e1214,U+e1220-e1258,U+e1290-e1295"
			),
			"av": (
				"U+23ED-23EE,U+23F8,U+25A1,U+25B7,U+293A-293B,U+e1085-e1088,U+e1091,U+e1234,U+e1261-e1259,U+e1262,U+e1296-e1297"
			),
			"brand": (
				"U+e1152"
			),
			"communication": (
				"U+1F5B7,U+2370,U+2709,U+e1095,U+e1098,U+e1149,U+e1172-e1174,U+e1235-e1236,U+e1263-e1264"
			),
			"covid-19": (
				"U+e1265"
			),
			"facilities": (
				"U+e1163,U+e1175-e1176,U+e1266-e1272"
			),
			"feature": (
				"U+1F6E4,U+2600,U+271A,U+2744,U+e1150,U+e1153,U+e1160,U+e1177-e1180,U+e1188,U+e1215,U+e1217,U+e1273-e1278,U+e1289"
			),
			"food": (
				"U+1F37D,U+e1101,U+e1237,U+e1279"
			),
			"it": (
				"U+e1181"
			),
			"journey": (
				"U+2488-2489,U+291E,U+29BF,U+2B94,U+e1102-e1104,U+e1106,U+e1108,U+e1110,U+e1113,U+e1161,U+e1238"
			),
			"maps": (
				"U+1F17F,U+1F5FA,U+1F78B,U+2302,U+e1115-e1116,U+e1157-e1158,U+e1182,U+e1280"
			),
			"navigation": (
				"U+003C,U+003E,U+1030E,U+1F5D8,U+1F862,U+1F865,U+2190-2193,U+22EE-22EF,U+2303-2304,U+2A2F,U+2BBE,U+e1119-e1122"
			),
			"notification": (
				"U+26A0,U+e1123,U+e1126-e1127"
			),
			"seat": (
				"U+1F6CF,U+e1128-e1130,U+e1162,U+e1183,U+e1189,U+e1281-e1285"
			),
			"ticket": (
				"U+1F907,U+2714,U+e1131-e1132,U+e1134,U+e1136-e1146,U+e1184-e1186,U+e1218,U+e1286-e1287"
			),
			"transportation": (
				"U+e1147-e1148,U+e1151,U+e1159,U+e1190-e1210,U+e1216,U+e1219,U+e1239-e1241,U+e1288"
			)
		),
		24: (
			"action": (
				"U+002B,U+003F,U+00A7,U+1F441,U+1F5A8,U+1F5B9,U+1F5BC,U+1F5D1,U+1F6C8,U+1F6CD,U+1F6E0,U+219F,U+21A1,U+21A6,U+21C6,U+21E7,U+21E9,U+21F5,U+2212,U+2295,U+229D,U+238C,U+25F9,U+2601,U+2606,U+2661,U+2699,U+270F,U+2713,U+2B73,U+e1062,U+e1066,U+e1069-e1070,U+e1077,U+e1079,U+e1081-e1084,U+e1154-e1156,U+e1164-e1171,U+e1187,U+e1211-e1214,U+e1220-e1258,U+e1290-e1295"
			),
			"av": (
				"U+23ED-23EE,U+23F8,U+25A1,U+25B7,U+293A-293B,U+e1085-e1088,U+e1091,U+e1234,U+e1259-e1262,U+e1296-e1297"
			),
			"brand": (
				"U+e1152"
			),
			"communication": (
				"U+1F5B7,U+2370,U+2709,U+e1095,U+e1098,U+e1149,U+e1172-e1174,U+e1235-e1236,U+e1263-e1264"
			),
			"covid-19": (
				"U+e1265"
			),
			"facilities": (
				"U+e1163,U+e1175-e1176,U+e1266-e1272"
			),
			"feature": (
				"U+1F6E4,U+2600,U+271A,U+2744,U+e1150,U+e1153,U+e1160,U+e1177-e1180,U+e1188,U+e1215,U+e1217,U+e1273-e1278,U+e1289"
			),
			"food": (
				"U+1F37D,U+e1101,U+e1237,U+e1279"
			),
			"it": (
				"U+e1181"
			),
			"journey": (
				"U+2488-2489,U+291E,U+29BF,U+2B94,U+e1102-e1104,U+e1106,U+e1108,U+e1110,U+e1113,U+e1161,U+e1238"
			),
			"maps": (
				"U+1F17F,U+1F5FA,U+1F78B,U+2302,U+e1115-e1116,U+e1157-e1158,U+e1182,U+e1280"
			),
			"navigation": (
				"U+003C,U+003E,U+1030E,U+1F5D8,U+1F862,U+1F865,U+2190-2193,U+22EE-22EF,U+2303-2304,U+2A2F,U+2BBE,U+e1119-e1122"
			),
			"notification": (
				"U+26A0,U+e1123-e1127"
			),
			"seat": (
				"U+1F6CF,U+e1128-e1130,U+e1162,U+e1183,U+e1189,U+e1281-e1285"
			),
			"ticket": (
				"U+1F907,U+2714,U+e1131-e1146,U+e1184-e1186,U+e1218,U+e1286-e1287"
			),
			"transportation": (
				"U+e1147-e1148,U+e1151,U+e1159,U+e1190-e1210,U+e1216,U+e1219,U+e1239-e1241,U+e1288"
			)
		),
		32: (
			"action": (
				"U+002B,U+003F,U+00A7,U+1F441,U+1F5A8,U+1F5B9,U+1F5BC,U+1F5D1,U+1F6C8,U+1F6CD,U+1F6E0,U+219F,U+21A1,U+21A6,U+21C6,U+21E7,U+21E9,U+21F5,U+2212,U+2295,U+229D,U+238C,U+25F9,U+2601,U+2606,U+2661,U+2699,U+270F,U+2713,U+2B73,U+e1062,U+e1066,U+e1069-e1070,U+e1077,U+e1079,U+e1081-e1084,U+e1154-e1156,U+e1164-e1171,U+e1187,U+e1211-e1214,U+e1220-e1258,U+e1290-e1295"
			),
			"av": (
				"U+23ED-23EE,U+23F8,U+25A1,U+25B7,U+293A-293B,U+e1085-e1088,U+e1091,U+e1234,U+e1259-e1262,U+e1296-e1297"
			),
			"brand": (
				"U+e1152"
			),
			"communication": (
				"U+1F5B7,U+2370,U+2709,U+e1095,U+e1098,U+e1149,U+e1172-e1174,U+e1235-e1236,U+e1263-e1264"
			),
			"covid-19": (
				"U+e1265"
			),
			"facilities": (
				"U+e1163,U+e1175-e1176,U+e1266-e1272"
			),
			"feature": (
				"U+1F6E4,U+2600,U+271A,U+2744,U+e1150,U+e1153,U+e1160,U+e1177-e1180,U+e1188,U+e1215,U+e1217,U+e1273-e1278,U+e1289"
			),
			"food": (
				"U+1F37D,U+e1101,U+e1237,U+e1279"
			),
			"it": (
				"U+e1181"
			),
			"journey": (
				"U+2488-2489,U+291E,U+29BF,U+2B94,U+e1102-e1110,U+e1113,U+e1161,U+e1238"
			),
			"maps": (
				"U+1F17F,U+1F5FA,U+1F78B,U+2302,U+e1115-e1116,U+e1157-e1158,U+e1182,U+e1280"
			),
			"navigation": (
				"U+003C,U+003E,U+1030E,U+1F5D8,U+1F862,U+1F865,U+2190-2193,U+22EE-22EF,U+2303-2304,U+2A2F,U+2BBE,U+e1119-e1122"
			),
			"notification": (
				"U+26A0,U+e1123-e1127"
			),
			"seat": (
				"U+1F6CF,U+e1128-e1130,U+e1162,U+e1183,U+e1189,U+e1281-e1285"
			),
			"ticket": (
				"U+1F907,U+2714,U+e1131-e1146,U+e1184-e1186,U+e1218,U+e1286-e1287"
			),
			"transportation": (
				"U+e1147-e1148,U+e1151,U+e1159,U+e1190-e1210,U+e1216,U+e1219,U+e1239-e1241,U+e1288"
			)
		),
		48: (
			"av": (
				"U+23F8,U+25B7,U+e1296-e1297"
			),
			"brand": (
				"U+e1152"
			)
		),
		64: (
			"av": (
				"U+23F8,U+25B7,U+e1296-e1297"
			),
			"brand": (
				"U+e1152"
			)
		)
	),
	"filled": (
		16: (
			"action": (
				"U+003F,U+1F6C8,U+e1220"
			),
			"navigation": (
				"U+2BBE"
			),
			"notification": (
				"U+26A0,U+e1123"
			)
		),
		20: (
			"action": (
				"U+003F,U+1F5A8,U+1F5BC,U+1F6C8,U+1F6CD,U+1F6E0,U+2295,U+229D,U+2601,U+2606,U+2661,U+270F,U+e1066,U+e1070,U+e1079,U+e1154-e1155,U+e1164-e1166,U+e1214,U+e1220-e1233"
			),
			"av": (
				"U+23ED,U+23EE,U+25A1,U+25B7,U+e1091,U+e1234,U+e1296-e1297"
			),
			"communication": (
				"U+2370,U+e1095,U+e1172-e1174,U+e1235-e1236"
			),
			"feature": (
				"U+1F6E4,U+2600,U+271A,U+e1177-e1179,U+e1289"
			),
			"food": (
				"U+e1237"
			),
			"it": (
				"U+e1181"
			),
			"journey": (
				"U+e1104,U+e1106,U+e1108,U+e1110,U+e1238"
			),
			"maps": (
				"U+1F17F,U+2302,U+e1115-e1116,U+e1157-e1158"
			),
			"navigation": (
				"U+1030E,U+2BBE"
			),
			"notification": (
				"U+26A0,U+e1123"
			),
			"ticket": (
				"U+e1132,U+e1134,U+e1184"
			),
			"transportation": (
				"U+e1147,U+e1151,U+e1190-e1192,U+e1194-e1204,U+e1206-e1210,U+e1216,U+e1219,U+e1239-e1241,U+e1288"
			)
		),
		24: (
			"action": (
				"U+003F,U+1F6C8,U+2295,U+229D,U+2601,U+2606,U+2661,U+e1220,U+e1222,U+e1224-e1225,U+e1231"
			),
			"av": (
				"U+23ED-23EE,U+25A1,U+25B7,U+e1234,U+e1296-e1297"
			),
			"journey": (
				"U+e1104,U+e1106,U+e1108,U+e1110,U+e1238"
			),
			"maps": (
				"U+e1157-e1158"
			),
			"navigation": (
				"U+2BBE"
			),
			"notification": (
				"U+26A0,U+e1123"
			),
			"transportation": (
				"U+e1147,U+e1151,U+e1190-e1192,U+e1194-e1204,U+e1206-e1210,U+e1216,U+e1219,U+e1239-e1241,U+e1288"
			)
		),
		32: (
			"action": (
				"U+003F,U+1F6C8,U+2295,U+229D,U+2601,U+2606,U+2661,U+e1220,U+e1222,U+e1224-e1225,U+e1231,U+e904"
			),
			"av": (
				"U+23ED-23EE,U+25A1,U+25B7,U+e1234,U+e1296-e1297"
			),
			"maps": (
				"U+e1157-e1158"
			),
			"navigation": (
				"U+2BBE"
			),
			"notification": (
				"U+26A0,U+e1123"
			),
			"transportation": (
				"U+e1147,U+e1151,U+e1190-e1192,U+e1194-e1204,U+e1206-e1210,U+e1216,U+e1219,U+e1239-e1241,U+e1288"
			)
		),
		48: (
			"av": (
				"U+25B7,U+e1296-e1297"
			)
		),
		64: (
			"av": (
				"U+25B7,U+e1296-e1297"
			)
		)
	)
) !default;

$icon-glyphs: $icon-glyphs-personenverkehr !default;
