// @import "icons.variables";

@use "icons.variables";
@use "icons.attributes-mappings" as icons3;
@use "icons.helpers" as icons2;
@use "icons.custom-properties" as icons4;
@use "icons.font-faces" as icons5;
@use "icons.placeholder" as icons6;
@use "../../../css/helpers/functions";

[data-icon],
[data-icon-before] {
	&::before {
		@extend %icon;
		content: var(--icon-glyph-before);
		margin-inline-end: var(--icon-margin-after, #{icons.$icon-content-space});
		font-size: var(
			--icon-font-size-before,
			var(--icon-font-size, #{functions.to-rem($pxValue: icons.$icon-size)})
		);
	}
}

[data-icon-after] {
	&::after {
		@extend %icon;
		content: var(--icon-glyph-after);
		margin-inline-start: var(--icon-margin-before, #{icons.$icon-content-space});
		font-size: var(
			--icon-font-size-after,
			var(--icon-font-size, #{functions.to-rem($pxValue: icons.$icon-size)})
		);
	}
}

// Providing a mechanism for text replacements
.is-icon-text-replace {
	&[data-icon],
	&[data-icon-before] {
		@include icons2.is-icon-text-replace();
	}

	&[data-icon-after] {
		@include icons2.is-icon-text-replace("after");
	}
}
