{{#each icons }}
	{{#if @first }}<!-- [html-validate-disable-next heading-level] -->{{/if }}
	<h5>{{ @key }}</h5>
	<ul class="DO-NOT-COPY-THIS-CLASS-example-icon-list icons-illustration">
		{{#each this }}<li>
			<ul>
				{{#each @root.example-bgs }}
					<li class="DO-NOT-COPY-THIS-CLASS-example-bg-variants-{{ variant }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" aria-hidden="true">
							<use href="../../icons/illustrative/{{ ../icon }}.svg#icon"></use>
						</svg>
					</li>
				{{/each }}
			</ul>
		</li>{{/each }}
	</ul>
{{/each }}
