{{#each sizes }}
	{{#if @first }}<!-- [html-validate-disable-next heading-level -- we're doing some simple demonstration simplification here] -->{{/if }}
	<h2>{{ label }}</h2>
	<p>
		{{> elements-button variant='brand-primary' value='Brand Primary' icon='add' size=size }}
		{{> elements-button variant='brand-primary' value='Brand Primary (disabled)' disabled='true' icon='add' size=size }}
	</p>
	<p>
	{{> elements-button variant='brand-primary' value='Brand Primary with right icon' icon-after='add' size=size }}
	{{> elements-button variant='brand-primary' value='Brand Primary with right icon(disabled)' disabled='true' icon-after='add' size=size }}
	</p>
	<p>
		{{> elements-button variant='brand-primary' value='Brand Primary without icon' size=size }}
		{{> elements-button variant='brand-primary' value='Brand Primary without icon (disabled)' disabled='true' size=size }}
	</p>
	<p>
		{{> elements-button variant='brand-primary' title='Done' value='Brand Primary displaying only the icon' icon='done' styleModifier='is-icon-text-replace' size=size }}
		{{> elements-button variant='brand-primary' title='Done' value='Brand Primary displaying only the icon' disabled='true' icon='done' styleModifier='is-icon-text-replace' size=size }}
	</p>
{{/each }}
