// Define the path for both image and font folders
$icons-path: "../../icons/" !default;
$images-path: "../../images/" !default;
$fonts-path: "../../fonts/" !default;

@import "@db-ui/base/build/scss/variables";

@import "../../_patterns/00-base/colors/enterprise/colors";
@import "../../_patterns/00-base/type/enterprise/fonts";
/* stylelint-disable scss/at-import-partial-extension */
@import "../../_patterns/00-base/icons/enterprise/icons.variables";
@import "../../_patterns/00-base/icons/enterprise/icons.font-faces";
@import "../db-ui-core.vars";
/* stylelint-enable scss/at-import-partial-extension */
