// Define the path for both image and font folders
$icons-path: "../../icons/" !default;
$images-path: "../../images/" !default;
$fonts-path: "../../fonts/" !default;

@use "@db-ui/base/build/scss/variables";

@use "../../_patterns/00-base/colors/enterprise/colors";
@use "../../_patterns/00-base/type/enterprise/fonts";
@use "../../_patterns/00-base/icons/enterprise/icons.variables";
@use "../../_patterns/00-base/icons/enterprise/icons.font-faces" as icons2;
@use "../db-ui-core.vars";
