@use "@db-ui/base/build/scss/variables" as *;
@use "@db-ui/base/build/scss/helpers/functions" as *;
@use "@db-ui/base/build/scss/icon/icons.variables" as *;
@use "@db-ui/base/build/scss/icon/icons.helpers" as *;
@import "chip.variables";

.elm-chip {
	& + label {
		align-items: center;
		border: solid 1px $db-colors-secondary-enabled;
		border-radius: $chip---radius;
		display: inline-flex;

		// Link related styles
		font-size: to-rem($pxValue: 14);
		height: to-rem($pxValue: 28);
		justify-content: center;
		padding-left: to-rem($pxValue: 7);
		padding-right: to-rem($pxValue: 7);
		text-decoration: none;
		text-transform: capitalize;
		white-space: nowrap;

		// Icons
		&[data-icon],
		&[data-icon-before] {
			@include icon-meta(20);
		}

		&[data-icon-after] {
			@include icon-meta($size: 20, $position: "after");
		}
	}

	&:not(:disabled, :checked) {
		// States
		& + label:hover {
			background-color: $chip-hover--backgroundColor;
		}
	}

	&:checked {
		& + label {
			background-color: $chip-selected--backgroundColor;
			border-color: transparent;
			color: $chip-checked--color;

			//*** Variants ***
			&[data-variant="warning"] {
				background-color: $db-colors-warning-enabled;
			}

			&[data-variant="error"] {
				background-color: $db-colors-critical-enabled;
			}

			&[data-variant="informative"] {
				background-color: $db-colors-information-enabled;
			}

			&[data-variant="success"] {
				background-color: $db-colors-success-enabled;
			}

			// POIs
			// TODO: enable this with color-extension
			/*&[data-variant="poi-essen-trinken"] {
				background-color: $db-color-food-drink;
				color: $db-colors-secondary-enabled;
			}

			&[data-variant="poi-einkaufen"] {
				background-color: $db-color-shopping;
			}

			&[data-variant="poi-gesundheit"] {
				background-color: $db-color-health;
			}

			&[data-variant="poi-kunst-kultur"] {
				background-color: $db-color-arts-culture;
			}

			&[data-variant="poi-wissenswertes"] {
				background-color: $db-color-things-to-know;
			}

			&[data-variant="poi-freizeit"] {
				background-color: $db-color-leisure;
			}

			&[data-variant="poi-zivile-rel-einrichtungen"] {
				background-color: $db-color-community-facilities;
			}

			&[data-variant="poi-dienstleistungen"] {
				background-color: $db-color-services;
				color: $db-colors-secondary-enabled;
			}

			&[data-variant="poi-db-services-einrichtung"] {
				background-color: $db-color-db-services-facilities;
			}

			&[data-variant="poi-wegeleitung"] {
				background-color: $db-color-guidance;
				background-color: $db-colors-success-enabled;
			}*/
		}
	}

	&:disabled {
		& + label {
			opacity: 0.5;
		}
	}

	&[type="checkbox"],
	&[type="radio"] {
		display: none;
	}
}
