// DB colors
@import "../colors.variables";

// EDS semantic colors (TODO: probably leftovers, those would most likely need to get replaced again as soon as the Enterprise extension is finalized)

$DBdarkgray: $db-color-cool-gray-500; // DB Dunkelgrau/DB dark gray
$DBblue: $db-color-cyan-600; // DB Blau/DB blue
$DBwhitegray: $db-color-cool-gray-200; // DB Weißgrau/DB white-gray
$DBlightgray: $db-color-cool-gray-300; // DB light-gray
$DBgray: $db-color-cool-gray-400; // DB gray

// * General
$black: $db-color-cool-gray-800;
$black-bis: $db-color-cool-gray-700;
$black-ter: $db-color-cool-gray-600;

$gray-darker: $db-color-cool-gray-600;
$gray-dark: $DBdarkgray;
$gray: $DBgray;
$gray-light: $DBlightgray;
$gray-lighter: $DBwhitegray;

// $white-ter:
// $white-bis:
// $white:

$orange: $db-color-yellow-900;
// $yellow:
$green: $db-color-green-600;
// $turquoise:
// $cyan:
$blue: $db-color-cyan-600;
// $purple:
$red: $db-color-red;
$red-invert: #fff;

// * Enterprise Design System

// Enterprise Design System Colors
$Text: $db-color-cool-gray-800; // Text
$Background: $db-color-cool-gray-700; // Background, buttons
$Buttons: $db-color-cool-gray-700; // Background, buttons
$Icons: $db-color-cool-gray-600; // Icons, divider
$divider01: $db-color-cool-gray-700; // Icons, divider
$inputfields: $DBdarkgray; // Input fields
$selected: $db-color-cool-gray-400; // selected -> to be changed
$divider02: $db-color-cool-gray-200; // Divider
$hover: $db-color-cool-gray-200; // hover -> to be changed
$LightBG: #fdfdfd; // Background
$highlight-color01: $db-color-red; // Highlight color
$highlight-color02: $blue; // Highlight color
$hover-buttons: $db-color-red-600; // hover Buttons

// Semantic color codes
// * light background
// $db-color-red-500, defined already
// $db-color-light-green-400, defined already
// $db-color-cyan-300, defined already
// * dark background
// $db-color-yellow-300, defined already
// $db-color-light-green-300, defined already

// Color set
$eds-colors: () !default;
