<p>
	{{> elements-button variant='tertiary' value='Tertiary' }}
	{{> elements-button variant='tertiary' value='Tertiary (disabled)' disabled='true' }}
</p>
<p>
	{{> elements-button variant='tertiary' value='Tertiary' icon='add' }}
	{{> elements-button variant='tertiary' value='Tertiary (disabled)' disabled='true' icon='add' }}
</p>
<p>
	{{> elements-button variant='tertiary' title='Check' value='Tertiary displaying only the icon' icon='done' styleModifier='is-icon-text-replace' }}
	{{> elements-button variant='tertiary' title='Check' value='Tertiary displaying only the icon' disabled='true' icon='done' styleModifier='is-icon-text-replace' }}
</p>
<p>
	{{> elements-button variant='tertiary' title='Check' value='loading' state='loading' }}
</p>
