{{#each sizes }}
	<!-- [html-validate-disable-next heading-level, no-unused-disable -- the h1 is already provided by the general pattern] -->
	<h2>{{ label }}</h2>
	<p>
		{{> elements-radio id=../id }}
	</p>
{{/each }}
