@import "../../../css/helpers/functions";
/* stylelint-disable scss/at-import-partial-extension */
@import "../../00-base/icons/icons.variables";
@import "../../00-base/icons/icons.helpers";
/* stylelint-enable scss/at-import-partial-extension */

$accordion---paddingLeft: 46 !default;
$accordion---paddingRight: to-rem(
	$pxValue: 16
) !default;
