@use "@db-ui/base/build/scss/helpers/functions" as *;
@use "@db-ui/base/build/scss/icon/icons.variables" as *;
@use "@db-ui/base/build/scss/icon/icons.helpers" as *;

$accordion---paddingLeft: 46 !default;
$accordion---paddingRight: to-rem(
	$pxValue: 16
) !default;
