@import "../../../css/partials.meta";
@import "accordion.variables";

.cmp-accordion {
	border-bottom: 1px solid #d7dce1;
	padding-left: var(--db-accordion---paddingLeft);
	padding-right: $accordion---paddingRight;
	--db-accordion---paddingLeft: #{to-rem($pxValue: $accordion---paddingLeft)};

	summary {
		@include icon(glyph(chevron-right), 24, "outline", $partial: $partial);

		padding-block: $db-spacing-1;
		display: flex;
		align-items: center;
		// Negating the padding left for moving the element into that direction with the same measures
		transform: translateX(calc(var(--db-accordion---paddingLeft) * -1));
		width: calc(
			100% + var(--db-accordion---paddingLeft) + #{$accordion---paddingRight}
		);

		// Replace existing marker with an icon from the library
		&::-webkit-details-marker {
			display: none;
		}
		// … and using some other declaration for Mozilla Firefox
		&:first-of-type {
			list-style-type: none;
		}

		// Icon horizontal space
		&::before {
			margin-left: #{to-rem($pxValue: 14)};
			--icon-margin-after: #{to-rem($pxValue: 8)};
		}

		& + p {
			margin-top: 0;
		}
	}
	// TODO: This might get simplified in the future with @nest
	&[open] > summary {
		&::before {
			content: glyph(expand-less);
		}
	}

	// Emphasis
	&%emphasis-High {
		// Calculate especially depending on the icons sizes difference
		--db-accordion---paddingLeft: #{to-rem(
				$pxValue: $accordion---paddingLeft + 8
			)};

		summary {
			font-weight: 700;
			height: to-rem($pxValue: 56);

			&::before {
				--icon-font-size: #{to-rem($pxValue: 32)};
			}
		}
	}

	&[data-emphasis="high"] {
		@extend %emphasis-High;
	}

	// Sizes
	&%size-Small {
		// Calculate dependending on the icons sizes and margins difference
		--db-accordion---paddingLeft: #{to-rem(
				$pxValue: $accordion---paddingLeft - 12
			)};

		summary {
			// ToDo: This needs to get replaced by the correct variable
			padding-block: 0.59375rem;
			font-size: to-rem($pxValue: 14);

			&::before {
				--icon-font-size: #{to-rem($pxValue: 20)};
				margin-left: #{to-rem($pxValue: 6)};
				--icon-margin-after: #{to-rem($pxValue: 6)};
			}
		}
	}
	&%size-Large {
		// Calculate especially depending on the icons sizes difference
		--db-accordion---paddingLeft: #{to-rem(
				$pxValue: $accordion---paddingLeft + 8
			)};

		summary {
			padding-block: $db-spacing-2;
			font-size: to-rem($pxValue: 20);

			&::before {
				--icon-font-size: #{to-rem($pxValue: 32)};
			}
		}
	}

	&[data-size="small"] {
		@extend %size-Small;
	}
	&[data-size="large"] {
		@extend %size-Large;
	}
}
