<ul class="DO-NOT-COPY-THIS-CLASS-example-logo-list">
	{{#each example-bgs }}
		<li class="DO-NOT-COPY-THIS-CLASS-example-bg-variants-{{ variant }}">
			{{> elements-logo }}
		</li>
	{{/each }}
</ul>
