<div class="rea-meta">
	{{> components-sitesearch }}
	{{> components-metanavigation }}
	{{> components-language-switcher }}
	{{#if loggedIn }}
		{{> components-dropdown id="headerlogin" summary="Ina Wheeler" styleModifier=" is-account" }}
	{{else}}
		{{> elements-link href='#' value='Login' rel='account' }}
	{{/if }}
</div>
