<form>
	<fieldset>
		<legend>Please choose a flavour</legend>
		{{> elements-radio label="Vanilla" value="vanilla" id="input-vanilla" name="flavour[]" }}<br>
		{{> elements-radio label="Strawberry" value="strawberry" id="input-strawberry" name="flavour[]" }}<br>
		{{> elements-radio label="Chocolate" value="chocolate" id="input-chocolate" name="flavour[]" }}
	</fieldset>
	{{> elements-button buttontype="submit" value="Order your icecream" }}
</form>
