@import "../../../css/helpers/functions";
/* stylelint-disable scss/at-import-partial-extension */
@import "../../00-base/icons/icons.variables";
@import "../../00-base/icons/icons.helpers";
/* stylelint-enable scss/at-import-partial-extension */

$tag---radius: to-rem(
	$pxValue: 4
) !default;

$tag---backgroundColor: $db-color-cool-gray-700 !default;
$tag---color: $db-color-white !default;
