@import "../../../css/helpers/functions";
@import "../../00-base/icons/icons.variables";
@import "../../00-base/icons/icons.helpers";

$tag---radius: to-rem(
	$pxValue: 4
) !default;

$tag---backgroundColor: $db-colors-secondary-enabled !default;
$tag---color: $db-colors-secondary-on-enabled !default;
