@use "../../../css/helpers/functions";
@use "../../00-base/icons/icons.variables";
@use "../../00-base/icons/icons.helpers" as icons2;
@use "@db-ui/base/build/scss/variables";

$tag---radius: functions.to-rem(
	$pxValue: 4
) !default;

$tag---backgroundColor: variables.$db-color-cool-gray-700 !default;
$tag---color: variables.$db-color-white !default;
