@import "tag.variables";

.elm-tag {
	align-items: center;
	background-color: $tag---backgroundColor;
	border-radius: $tag---radius;
	color: $tag---color;
	display: inline-flex;

	// Link related styles
	font-size: to-rem($pxValue: 12);
	font-weight: initial;
	height: to-rem($pxValue: 24);
	justify-content: center;
	padding-left: to-rem($pxValue: 4);
	padding-right: to-rem($pxValue: 4);
	white-space: nowrap;
	text-transform: capitalize;

	// Sizes
	&%size-Small {
		height: to-rem($pxValue: 20);
	}

	&[data-size="small"] {
		@extend %size-Small;
	}

	//*** Variants ***
	&[data-variant="warning"] {
		background-color: $db-colors-warning-enabled;
	}
	&[data-variant="error"] {
		background-color: $db-colors-critical-enabled;
	}
	&[data-variant="informative"] {
		background-color: $db-colors-information-enabled;
	}
	&[data-variant="success"] {
		background-color: $db-colors-success-enabled;
	}

	// Icons
	&[data-icon],
	&[data-icon-before] {
		@include iconMeta(20);

		&::before {
			--icon-margin-after: #{to-rem($pxValue: 2)};
		}
	}
	&[data-icon-after] {
		@include iconMeta($size: 20, $position: "after");

		&::after {
			--icon-margin-before: #{to-rem($pxValue: 2)};
		}
	}
}
