@use "tag.variables";
@use "@db-ui/base/build/scss/variables";
@use "../../../css/helpers/functions";
@use "../../00-base/icons/icons.helpers";

.elm-tag {
	align-items: center;
	background-color: tag.$tag---backgroundColor;
	border-radius: tag.$tag---radius;
	color: tag.$tag---color;
	display: inline-flex;
	font-weight: 500;

	// Link related styles
	font-size: functions.to-rem($pxValue: 12);
	height: functions.to-rem($pxValue: 24);
	justify-content: center;
	padding-left: functions.to-rem($pxValue: 4);
	padding-right: functions.to-rem($pxValue: 4);
	text-transform: capitalize;
	white-space: nowrap;

	// Sizes
	&%size-Small {
		height: functions.to-rem($pxValue: 20);
	}

	&[data-size="small"] {
		@extend %size-Small;
	}

	//*** Variants ***
	&[data-variant="light"] {
		background-color: variables.$db-color-cool-gray-200;
		color: variables.$db-color-cool-gray-700;
		border: 1px solid variables.$db-color-cool-gray-400;
	}

	&[data-variant="warning"] {
		background-color: variables.$db-color-warning-small-font;
	}

	&[data-variant="error"] {
		background-color: variables.$db-color-error-small-font;
	}

	&[data-variant="informative"] {
		background-color: variables.$db-color-informative-small-font;
	}

	&[data-variant="success"] {
		background-color: variables.$db-color-success-small-font;
	}

	// The "Gleis" additioally gets a bold font weight
	&[data-variant="track"] {
		background-color: variables.$db-color-blue-700;
		font-weight: 700;
	}

	// POIs
	&[data-variant="poi-essen-trinken"] {
		background-color: variables.$db-color-food-drink;
		color: variables.$db-color-cool-gray-700;
	}

	&[data-variant="poi-einkaufen"] {
		background-color: variables.$db-color-shopping;
	}

	&[data-variant="poi-gesundheit"] {
		background-color: variables.$db-color-health;
	}

	&[data-variant="poi-kunst-kultur"] {
		background-color: variables.$db-color-arts-culture;
	}

	&[data-variant="poi-wissenswertes"] {
		background-color: variables.$db-color-things-to-know;
	}

	&[data-variant="poi-freizeit"] {
		background-color: variables.$db-color-leisure;
	}

	&[data-variant="poi-zivile-rel-einrichtungen"] {
		background-color: variables.$db-color-community-facilities;
	}

	&[data-variant="poi-dienstleistungen"] {
		background-color: variables.$db-color-services;
		color: variables.$db-color-cool-gray-700;
	}

	&[data-variant="poi-db-services-einrichtung"] {
		background-color: variables.$db-color-db-services-facilities;
	}

	&[data-variant="poi-wegeleitung"] {
		background-color: variables.$db-color-guidance;
	}

	// Icons
	&[data-icon],
	&[data-icon-before] {
		@include icons.iconMeta(20);

		&::before {
			--icon-margin-after: #{functions.to-rem($pxValue: 2)};
		}
	}

	&[data-icon-after] {
		@include icons.iconMeta($size: 20, $position: "after");

		&::after {
			--icon-margin-before: #{functions.to-rem($pxValue: 2)};
		}
	}
}
