// Generate the different font families
@each $icon-domain, $icon-families in $icon-font-families {
	@if $icon-domain != "personenverkehr-legacy" {
		$icons-path: $icons-path + $icon-domain + "/";
	}
	@each $icon-style, $icon-font-sizes in $icon-families {
		@if $icon-font-sizes {
			@each $icon-size in $icon-font-sizes {
				@font-face {
					$icon-font-family: "icons-" + $icon-size + "-" +
						$icon-domain + "-" + $icon-style;

					font-display: block;

					font-family: $icon-font-family;
					font-style: normal;
					font-weight: normal;
					src:
						url("#{$icons-path}functional/fonts/#{$icon-font-family}.woff2?4r2100")
							format("woff2"),
						url("#{$icons-path}functional/fonts/#{$icon-font-family}.woff?4r2100")
							format("woff");
				}
			}
		} @else {
			@font-face {
				font-display: block;
				font-family: $icon-style;
				font-style: normal;
				font-weight: normal;
				src:
					url("#{$icons-path}functional/fonts/#{$icon-style}.woff2?4r2100")
						format("woff2"),
					url("#{$icons-path}functional/fonts/#{$icon-style}.woff?4r2100")
						format("woff");
			}
		}
	}
}
