@use "sass:map";
@use "../../../../css/helpers/functions";
@use "../icons.variables";

// Icon font files
$icon-font-families: (
	// "enterprise": (
	// 	"solid": (
	// 		24
	// 	),
	// 	"outline": (
	// 		24,
	// 		32,
	// 		48,
	// 		96
	// 	)
	// ),
	// "personenverkehr-legacy": (
	// 	"db_transportation-solid": (
	// 		40
	// 	)
	// )
) !default;
$icon-glyphs-enterprise: (
	// "attachment": "\e1245",
	// "build": "\1f527",
	// "cam": "\e1225",
	// "circle-attention": "\21",
	// // TODO: the glyph would need to get corrected in one of the next versions of the glyph icon fonts
	// "circle-check": "\2713",
	// "circle-forbidden": "\274c",
	// "cloud": "\2601",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "copy": "\e913",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "dashboard": "\e902",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "database": "\e906",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "discard": "\e901",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "document": "\e905",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "document-check": "\e903",
	// "document-list": "\1f4c4",
	// "euro": "\20ac",
	// "faqs": "\2370",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "folder-close": "\e1227",
	// "folder-open": "\e1228",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "forward": "\e900",
	// "freight-car-catalog": "\1f68b",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "history": "\e910",
	// "image": "\1f5bc",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "incoming": "\e911",
	// "hyperlink": "\e1241",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "list-l": "\e912",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "list-m": "\e908",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "list-s": "\e909",
	// "lock-open": "\e1230",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "marketplace": "\e907",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "maximize": "\e914",
	// "mic": "\1f399",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "new-open": "\e915",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "reset": "\e917",
	// "save": "\e1232",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "scale": "\e920",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "undo": "\e922",
	// // TODO: would need to get replaced by non-out-of-range unicodes
	// "upload-cloud": "\e923",
	// "watch": "\1f552"
);
icons.$icon-glyphs: map.merge(
	$icon-glyphs-enterprise,
	icons.$icon-glyphs-personenverkehr
);
