// Branch specific icon styles
@each $icon-domain, $icon-families in $icon-font-families {
	@each $icon-style, $icon-font-sizes in $icon-families {
		@if $icon-font-sizes {
			@each $icon-size in $icon-font-sizes {
				[data-icon-variant="#{$icon-size}-#{$icon-domain}-#{$icon-style}"],
				[data-icon-variant-before="#{$icon-size}-#{$icon-domain}-#{$icon-style}"] {
					&[data-icon],
					&[data-icon-before] {
						&::before {
							--icon-font-family: "#{"icons-" + $icon-size + "-" + $icon-domain + "-" + $icon-style}",
								"missing-icons" !important;
							--icon-font-size: #{to-rem($icon-size)};
						}
					}
				}
				[data-icon-variant-after="#{$icon-size}-#{$icon-domain}-#{$icon-style}"] {
					&[data-icon-after] {
						&::after {
							--icon-font-family: "#{"icons-" + $icon-size + $icon-domain + "-" + "-" + $icon-style}",
								"missing-icons" !important;
							--icon-font-size: #{to-rem($icon-size)};
						}
					}
				}
			}
		} @else {
			[data-icon-variant="#{$icon-domain}-#{$icon-style}"],
			[data-icon-variant-before="#{$icon-domain}-#{$icon-style}"] {
				&[data-icon],
				&[data-icon-before] {
					&::before {
						--icon-font-family: "#{"icons-" + $icon-domain + "-" + $icon-style}",
							"missing-icons" !important;
						--icon-font-size: #{to-rem(16)};
					}
				}
			}
			[data-icon-variant-after="#{$icon-domain}-#{$icon-style}"] {
				&[data-icon-after] {
					&::after {
						--icon-font-family: "#{"icons-" + $icon-domain + "-" + $icon-style}",
							"missing-icons" !important;
						--icon-font-size: #{to-rem(16)};
					}
				}
			}
		}
	}
}
