<main>
	<p>All colors can be found in:
		<a href="https://db-ui.github.io/base/review/dbux-3/?p=typography-examples" target="_blank" referrerpolicy="no-referrer">DB-UI-Base</a>
	</p>
	<iframe src="https://db-ui.github.io/base/review/dbux-3/patterns/typography-examples/typography-examples.rendered.html" style="width: 100%; height: 500px"></iframe>

</main>
