
<p class="db-ui-functional">
	{{> elements-link href='#' value='Internal link functional' data-content='internal' }}
	{{> elements-link href='#' value='External link functional' data-content='external' }}
	{{> elements-link href='#' value='Internal link functional small' data-content='internal' size="small" }}
	{{> elements-link href='#' value='External link functional small' data-content='external' size="small" }}
</p>


<p class="db-ui-regular">
	{{> elements-link href='#' value='Internal link regular (Default)' data-content='internal' }}
	{{> elements-link href='#' value='External link regular (Default)' data-content='external' }}
	{{> elements-link href='#' value='Internal link regular (Default) small' data-content='internal' size="small" }}
	{{> elements-link href='#' value='External link regular (Default) small' data-content='external' size="small" }}
</p>



<p class="db-ui-expressive">
	{{> elements-link href='#' value='Internal link expressive' data-content='internal' }}
	{{> elements-link href='#' value='External link expressive' data-content='external' }}
	{{> elements-link href='#' value='Internal link expressive small' data-content='internal' size="small" }}
	{{> elements-link href='#' value='External link expressive small' data-content='external' size="small" }}
</p>
