@use "../../../css/partials.meta";
@use "pagination.variables";
@use "@db-ui/base/build/scss/variables";
@use "../../../css/helpers/functions";
@use "../../00-base/icons/icons.helpers";

.cmp-pagination {
	color: variables.$db-color-cool-gray-700;
	font-size: functions.to-rem($pxValue: 14);

	user-select: none;

	& > ol {
		display: flex;
	}

	.elm-headline {
		@include functions.a11y-visually-hidden($partial: partials.$partial);
	}

	li,
	.elm-link {
		align-items: center;
		display: inline-flex;
		justify-content: center;
	}

	li {
		height: functions.to-rem($pxValue: 36);
		width: functions.to-rem($pxValue: 36);
	}

	.elm-link {
		color: inherit;
		height: 100%;
		text-decoration: none;
		width: 100%;

		&[rel="prev"],
		&[rel="next"] {
			padding: 0;
			vertical-align: bottom;
		}

		&[rel="prev"]::before {
			margin-left: functions.to-rem($pxValue: 11);
		}

		&[rel="next"]::before {
			margin-right: functions.to-rem($pxValue: 11);
		}

		&[rel="prev"] {
			@include icons.icon(icons.glyph(chevron-left), $partial: partials.$partial);
			@include icons.is-icon-text-replace();
		}

		&[rel="next"] {
			@include icons.icon(icons.glyph(chevron-right), $partial: partials.$partial);
			@include icons.is-icon-text-replace();
		}

		&[aria-current="page"] {
			font-weight: 700;
		}
	}
}
