@import "../../css/helpers/functions";
@import "form-elements.variables";

%form-element {
	--formElement---borderTopColor: var(
		--formElement---borderColor,
		transparent
	);
	--formElement---borderRightColor: var(
		--formElement---borderColor,
		transparent
	);
	--formElement---borderBottomColor: var(
		--formElement---borderColor,
		#{$form-elements-semitransparent-border-bottom-color}
	);
	--formElement---borderLeftColor: var(
		--formElement---borderColor,
		transparent
	);
	border-radius: 4px;

	caret-color: $db-color-red-500;

	color: $form-elements-color;

	// Description styles
	& ~ .description {
		color: $db-color-cool-gray-500;
		font-size: to-rem($pxValue: 14);

		padding: to-rem($pxValue: 6) to-rem($pxValue: 10);
	}
}

// Validation
// We need to differentiate here for select elements, that we couldn't handle by :placeholder-shown
%form-element-validation {
	// listing the relevant form attributes related to form validation
	&:is(:required, [pattern], [min], [max], [step], [minlength], [maxlength]) {
		&,
		// workaround for the DB UI Core selectors
		&[data-variant] {
			&:not([aria-invalid]) {
				&:not(:placeholder-shown) {
					&:valid {
						--formElement---borderColor: #{$db-color-green-600};
					}

					&:invalid {
						--formElement---borderColor: #{$db-color-red-500};
					}
				}
			}
		}
	}
}
%form-element-validation-programmatic {
	&[aria-invalid="true"] {
		&,
		&[data-variant] {
			--formElement---borderColor: #{$db-color-red-500};
		}
	}
}

// ### Style variations
// Semitransparent
%form-element-semitransparent {
	--formElement---borderColor: #{$form-elements-semitransparent-border-bottom-color};
	background-color: $form-elements-semitransparent-background-color;
	border-bottom: $form-elements---borderBottom;
	border-left: $form-elements---borderLeft;
	border-left-color: transparent;
	border-right: $form-elements---borderRight;
	border-right-color: transparent;
	border-top: $form-elements---borderTop;
	border-top-color: transparent;
}

// White
%form-element-white {
	--formElement---borderColor: #{$form-elements-white-border-bottom-color};
	background-color: $form-elements-white-background-color;
	border-bottom: $form-elements---borderBottom;
	border-left: $form-elements---borderLeft;
	border-left-color: transparent;
	border-right: $form-elements---borderRight;
	border-right-color: transparent;
	border-top: $form-elements---borderTop;
	border-top-color: transparent;
}

// Solid
%form-element-solid {
	--formElement---borderColor: #{$form-elements-solid-border-bottom-color};
	background-color: $form-elements-solid-background-color;
	border-bottom: $form-elements---borderBottom;
	border-left: $form-elements---borderLeft;
	border-left-color: transparent;
	border-right: $form-elements---borderRight;
	border-right-color: transparent;
	border-top: $form-elements---borderTop;
	border-top-color: transparent;
}

// Outline
%form-element-outline {
	--formElement---borderColor: #{$form-elements-outline-border-color};
	background-color: transparent;
	border-bottom: $form-elements---borderBottom;
	border-left: $form-elements---borderLeft;
	border-right: $form-elements---borderRight;
	border-top: $form-elements---borderTop;
}
