@import "../../css/helpers/functions";
@import "form-elements.variables";

%form-element {
	border-radius: 4px;
	border: none;

	color: $form-elements-color;

	//	caret-color: $db-color-red-500;

	// --formElement---borderTopColor: var(
	// 	--formElement---borderColor,
	// 	transparent
	// );
	// --formElement---borderRightColor: var(
	// 	--formElement---borderColor,
	// 	transparent
	// );
	// --formElement---borderBottomColor: var(
	// 	--formElement---borderColor,
	// 	#{$form-elements-semitransparent-border-bottom-color}
	// );
	// --formElement---borderLeftColor: var(
	// 	--formElement---borderColor,
	// 	transparent
	// );

	// Description styles
	& ~ .description {
		// font-size: to-rem($pxValue: 14);
		// color: $db-color-cool-gray-500;

		padding: to-rem($pxValue: 6) 0.5rem;
	}
}

// ### Style variations
// Semitransparent
%form-element-semitransparent {
	//background-color: $form-elements-semitransparent-background-color;

	@extend %db-bg-neutral-transparent-semi;

	// border-top: $form-elements---borderTop;
	// border-right: $form-elements---borderRight;
	// border-bottom: $form-elements---borderBottom;
	// border-left: $form-elements---borderLeft;
	// border-top-color: transparent;
	// border-right-color: transparent;
	// border-left-color: transparent;
	// --formElement---borderColor: #{$form-elements-semitransparent-border-bottom-color};
}

// White
%form-element-white {
	// background-color: $form-elements-white-background-color;
	// border-top: $form-elements---borderTop;
	// border-right: $form-elements---borderRight;
	// border-bottom: $form-elements---borderBottom;
	// border-left: $form-elements---borderLeft;
	// border-top-color: transparent;
	// border-right-color: transparent;
	// border-left-color: transparent;
	// --formElement---borderColor: #{$form-elements-white-border-bottom-color};
}

// Solid
%form-element-solid {
	// background-color: $form-elements-solid-background-color;
	// border-top: $form-elements---borderTop;
	// border-right: $form-elements---borderRight;
	// border-bottom: $form-elements---borderBottom;
	// border-left: $form-elements---borderLeft;
	// border-top-color: transparent;
	// border-right-color: transparent;
	// border-left-color: transparent;
	// --formElement---borderColor: #{$form-elements-solid-border-bottom-color};
}

// Outline
%form-element-outline {
	background-color: transparent;
	// border-top: $form-elements---borderTop;
	// border-right: $form-elements---borderRight;
	// border-bottom: $form-elements---borderBottom;
	// border-left: $form-elements---borderLeft;
	// --formElement---borderColor: #{$form-elements-outline-border-color};
}
