		<!--DO NOT REMOVE-->
		{{{ patternLabFoot }}}

		<script src="../../js/plugins.min.js"></script>
		<!-- details/summary polyfill //-->
		<script src="../../js/details-element-polyfill.js"></script>
		<!-- dialog polyfill //-->
		<script src="../../js/dialog-polyfill.js"></script>
	</body>

</html>
