@import "brand.variables";

.cmp-brand {
	.elm-image {
		&.is-logo {
			float: left;
			margin-top: -#{to-rem($pxValue: 2)};
		}
	}

	a {
		color: inherit;
		// Deactivate underline on site name being made clickable by added to the link as well
		text-decoration: none;
	}

	.rea-header & {
		padding-top: to-rem($pxValue: 18);
		@mixin db-cmp-brand-rea-header {
			padding-top: $rea-header-cmp-brand-padding-top; // * TODO: possibly rework variable naming

			.is-site-name {
				&::before {
					// * TODO: introduce is-icon as a mixin and change the following declarations afterwards
					content: none !important;
				}
			}
		}
		@media screen and (width > $db-break-the-header-max-width) {
			@include db-cmp-brand-rea-header;
		}
		@container not style(--db-narrower-screen: true) {
			@include db-cmp-brand-rea-header;
		}
	}
	@mixin db-cmp-brand-site-name {
		.cmp-mainnavigation ~ & {
			.rea-header & {
				.is-site-name {
					display: none;
				}
			}
		}
	}
	@media screen and (max-width: $db-break-the-header-max-width) {
		@include db-cmp-brand-site-name;
	}
	@container style(--db-narrower-screen: true) {
		@include db-cmp-brand-site-name;
	}
}
