@import "brand.variables";

.cmp-brand {
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 1rem;

	img {
		height: 1.5rem;
		width: auto;
	}

	a {
		height: 1.5rem;
		color: inherit;
		// Deactivate underline on site name being made clickable by added to the link as well
		text-decoration: none;
	}
}
